<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="templateFactories" name="%printing.ui.templateFactories.name" schema="schema/templateFactories.exsd"/>
     <extension-point id="boxprinter" name="%printing.ui.boxFactories.name" schema="schema/boxprinter.exsd"/>
     <extension-point id="editAction" name="%editAction.label" schema="schema/editAction.exsd"/>

   <extension
         point="net.refractions.udig.printing.ui.templateFactories">
            <template
            class="net.refractions.udig.printing.ui.internal.template.A4LandscapeTemplate"
            id="net.refractions.udig.printing.ui.internal.template.A4LandscapeTemplate"
            name="%A4.landscape.template">
      </template>
      <template
            class="net.refractions.udig.printing.ui.internal.template.A3LandscapeTemplate"
            id="net.refractions.udig.printing.ui.internal.template.A3LandscapeTemplate"
            name="%A3.landscape.template">
      </template>
      <template
            class="net.refractions.udig.printing.ui.internal.template.A2LandscapeTemplate"
            id="net.refractions.udig.printing.ui.internal.template.A2LandscapeTemplate"
            name="%A2.landscape.template">
      </template>
      <template
            class="net.refractions.udig.printing.ui.internal.template.A1LandscapeTemplate"
            id="net.refractions.udig.printing.ui.internal.template.A1LandscapeTemplate"
            name="%A1.landscape.template">
      </template>
      <template
            class="net.refractions.udig.printing.ui.internal.template.A0LandscapeTemplate"
            id="net.refractions.udig.printing.ui.internal.template.A0LandscapeTemplate"
            name="%A0.landscape.template">
      </template>
      <template
            class="net.refractions.udig.printing.ui.internal.template.A4PortraitTemplate"
            id="net.refractions.udig.printing.ui.internal.template.A4PortraitTemplate"
            name="%A4.portrait.template">
      </template>
      <template
            class="net.refractions.udig.printing.ui.internal.template.A3PortraitTemplate"
            id="net.refractions.udig.printing.ui.internal.template.A3PortraitTemplate"
            name="%A3.portrait.template">
      </template>
      <template
            class="net.refractions.udig.printing.ui.internal.template.A2PortraitTemplate"
            id="net.refractions.udig.printing.ui.internal.template.A2PortraitTemplate"
            name="%A2.portrait.template">
      </template>
      <template
            class="net.refractions.udig.printing.ui.internal.template.A1PortraitTemplate"
            id="net.refractions.udig.printing.ui.internal.template.A1PortraitTemplate"
            name="%A1.portrait.template">
      </template>
      <template
            class="net.refractions.udig.printing.ui.internal.template.A0PortraitTemplate"
            id="net.refractions.udig.printing.ui.internal.template.A0PortraitTemplate"
            name="%A0.portrait.template">
      </template>
    	<template
            class="net.refractions.udig.printing.ui.internal.template.LetterLandscapeTemplate"
            id="net.refractions.udig.printing.ui.internal.template.LetterLandscapeTemplate"
            name="%Letter.landscape.template">
      </template>
    	<template
            class="net.refractions.udig.printing.ui.internal.template.LegalLandscapeTemplate"
            id="net.refractions.udig.printing.ui.internal.template.LegalLandscapeTemplate"
            name="%Legal.landscape.template">
      </template>
      <template
            class="net.refractions.udig.printing.ui.internal.template.LetterPortraitTemplate"
            id="net.refractions.udig.printing.ui.internal.template.LetterPortraitTemplate"
            name="%Letter.portrait.template">
      </template>
      <template
            class="net.refractions.udig.printing.ui.internal.template.LegalPortraitTemplate"
            id="net.refractions.udig.printing.ui.internal.template.LegalPortraitTemplate"
            name="%Legal.portrait.template">
      </template>
   </extension>
   
   <extension
         id="standardBoxes"
         point="net.refractions.udig.printing.ui.boxprinter">
      <boxprinter
            class="net.refractions.udig.printing.model.impl.MapBoxPrinter"
            defaultAction="net.refractions.udig.printing.ui.mapEditorAction"
            description="Creates an area that represents a Map"
            name="%mapArea.box.name"
            visible="false"/>
      <boxprinter
            class="net.refractions.udig.printing.model.impl.LabelBoxPrinter"
            defaultAction="net.refractions.udig.printing.ui.renameLabelBox"
            description="Creates a label with changable text"
            name="%label.box.name"
            visible="true"/>
      <boxprinter
            class="net.refractions.udig.printing.model.impl.MapGraphicBoxPrinter"
            defaultAction="net.refractions.udig.printing.ui.styleAction"
            description="A dynamic graphic such as a scalebar"
            name="%graphic.label"
            visible="true">
      </boxprinter>
      <boxprinter
            class="net.refractions.udig.printing.model.impl.RectangleEllipseBoxPrinter"
            defaultAction="net.refractions.udig.printing.ui.simpleStyleAction"
            description="%box.box.printer.description"
            name="%box.box.printer"
            visible="true">
      </boxprinter>
   </extension>
   

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.refractions.udig.project.ui.preferences.project"
            class="net.refractions.udig.printing.ui.internal.PrintingPreferences"
            id="net.refractions.udig.printing.ui.preferences"
            name="%printing.ui.preferences.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
         <editor
               class="net.refractions.udig.printing.ui.internal.editor.PageEditor"
               default="true"
               icon="icons/obj16/page_obj.gif"
               id="net.refractions.udig.printing.ui.internal.editor.pageEditor"
               name="%printing.ui.pageEditor.name"/>
   </extension>
   <extension
         point="net.refractions.udig.project.ui.editorInputs">
      <editorInput
            editorPartID="net.refractions.udig.printing.ui.internal.editor.pageEditor"
            class="net.refractions.udig.printing.ui.internal.editor.PageEditorInput"
            projectElement="net.refractions.udig.printing.model.impl.PageImpl"
            name="net.refractions.udig.printing.ui.internal.editor.pageEditorInput"/>              
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="net.refractions.udig.project.ui.mapEditor"
            id="net.refractions.udig.printing.ui.mapEditorContribution">
         <action
               disabledIcon="icons/dtool16/newpage_wiz.gif"
               toolbarPath="global/additions"
               label="%printing.ui.action.printFromMap.label"
               class="net.refractions.udig.printing.ui.actions.CreatePageAction"
               icon="icons/etool16/newpage_wiz.gif"
               tooltip="%printing.ui.action.printFromMap.tooltip"
               style="push"
               menubarPath="file/print.ext"
               id="net.refractions.udig.printing.ui.printAction"/>
      </editorContribution>
      <editorContribution
            id="net.refractions.udig.printing.ui.pageEditorContribution"
            targetID="net.refractions.udig.printing.ui.internal.editor.pageEditor">
         <action
               class="net.refractions.udig.printing.ui.internal.PrintAction"
               disabledIcon="icons/etool16/pdf.png"
               icon="icons/etool16/pdf.png"
               id="net.refractions.udig.printing.ui.printPdfAction"
               label="%printing.ui.action.printFromPage.label"
               menubarPath="file/print.ext"
               style="push"
               toolbarPath="global/additions"
               tooltip="%printing.ui.action.printFromPage.label">
         </action>
         <!--
         <action
               class="net.refractions.udig.printing.ui.internal.ZoomInAction"
               disabledIcon="icons/etool16/zoom_in_co.gif"
               icon="icons/etool16/zoom_in_co.gif"
               id="net.refractions.udig.printing.ui.action.zoomin"
               label="Zoom In Page"
               style="push"
               toolbarPath="global/additions"
               tooltip="Zoom In Page">
         </action>
         <action
               class="net.refractions.udig.printing.ui.internal.ZoomOutAction"
               disabledIcon="icons/etool16/zoom_out_co.gif"
               icon="icons/etool16/zoom_out_co.gif"
               id="net.refractions.udig.printing.ui.action.zoomout"
               label="Zoom Out Page"
               style="push"
               toolbarPath="global/additions"
               tooltip="Zoom Out Page">
         </action> 
         -->
      </editorContribution>
   </extension>
         <extension
               point="net.refractions.udig.printing.ui.editAction">
            <editActionGroup
                  acceptable="net.refractions.udig.printing.model.impl.LabelBoxPrinter">
               <editAction
                     class="net.refractions.udig.printing.ui.internal.editor.RenameLabelBox"
                     id="renameLabelBox"
                     name="%labelAction.name">
               </editAction>
               <editAction
                     class="net.refractions.udig.printing.ui.internal.editor.SetLabelBoxFontAction"
                     id="net.refractions.udig.printing.ui.editFont"
                     name="%fontAction.label">
               </editAction>
            </editActionGroup>
	      <editActionGroup acceptable="net.refractions.udig.printing.model.impl.MapBoxPrinter">
	         <editAction
	               class="net.refractions.udig.printing.ui.internal.editor.MapEditorAction"
	               id="mapEditorAction"
	               name="%editMap"/>
          <editAction
                class="net.refractions.udig.printing.ui.internal.editor.SetScaleAction"
                id="setScaleAction"
                name="%scaleAction.label">
          </editAction>
	      </editActionGroup>
       <editActionGroup
             acceptable="net.refractions.udig.printing.model.impl.MapGraphicBoxPrinter">
          <editAction
                class="net.refractions.udig.printing.ui.internal.editor.SetGraphicAction"
                id="setGraphicAction"
                name="%setGraphicAction.label">
          </editAction>
          <editAction
                class="net.refractions.udig.printing.ui.internal.editor.SetStyleAction"
                id="styleAction"
                name="%styleAction.label">
          </editAction>
       </editActionGroup>
       <editActionGroup
             acceptable="net.refractions.udig.printing.model.AbstractBoxPrinter">
          <editAction
                class="net.refractions.udig.printing.ui.internal.editor.RefreshAction"
                id="refreshAction"
                name="%refreshAction.label">
          </editAction>
          <editAction
                class="net.refractions.udig.printing.ui.internal.editor.BringToFrontAction"
                id="bringtofrontAction"
                image="icons/obj16/bringtofront.png"
                name="%bringtofrontAction.label">
          </editAction>
          <editAction
                class="net.refractions.udig.printing.ui.internal.editor.BringForwardAction"
                id="bringforwardAction"
                image="icons/obj16/bringforward.png"
                name="%bringforwardAction.label">
          </editAction>
          <editAction
                class="net.refractions.udig.printing.ui.internal.editor.BringBackwardAction"
                id="bringbackwardAction"
                image="icons/obj16/bringbackward.png"
                name="%bringbackwardAction.label">
          </editAction>
          <editAction
                class="net.refractions.udig.printing.ui.internal.editor.BringToBackAction"
                id="bringtobackAction"
                image="icons/obj16/bringtoback.png"
                name="%bringtobackAction.label">
          </editAction>
       </editActionGroup>
       <editActionGroup
             acceptable="net.refractions.udig.printing.model.impl.RectangleEllipseBoxPrinter">
          <editAction
                class="net.refractions.udig.printing.ui.internal.editor.SimpleStyleAction"
                id="simplestyleAction"
                name="%simplestyle.label">
          </editAction>
       </editActionGroup>
     </extension>
</plugin>
