<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="templateFactories" name="%printing.ui.templateFactories.name" schema="schema/templateFactories.exsd"/>
     <extension-point id="boxprinter" name="%printing.ui.boxFactories.name" schema="schema/boxprinter.exsd"/>
     <extension-point id="editAction" name="%editAction.label" schema="schema/editAction.exsd"/>

   <extension
         point="net.refractions.udig.printing.ui.templateFactories">
      <templateFactory
            class="net.refractions.udig.printing.ui.internal.BasicTemplateFactory"
            id="basicTemplate">
      </templateFactory>
      <templateFactory
            class="net.refractions.udig.printing.ui.internal.template.LandscapeTemplateFactory"
            id="landScape">
      </templateFactory>
   </extension>
   <extension
         id="standardBoxes"
         point="net.refractions.udig.printing.ui.boxprinter">
      <boxprinter
            class="net.refractions.udig.printing.model.impl.MapBoxPrinter"
            defaultAction="net.refractions.udig.printing.ui.mapEditorAction"
            description="Creates an area that represents a Map"
            name="%mapArea.box.name"
            visible="false"/>
      <boxprinter
            class="net.refractions.udig.printing.model.impl.LabelBoxPrinter"
            defaultAction="net.refractions.udig.printing.ui.renameLabelBox"
            description="Creates a label with changable text"
            name="%label.box.name"
            visible="true"/>
      <boxprinter
            class="net.refractions.udig.printing.model.impl.MapGraphicBoxPrinter"
            defaultAction="net.refractions.udig.printing.ui.styleAction"
            description="A dynamic graphic such as a scalebar"
            name="%graphic.label"
            visible="true">
      </boxprinter>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="net.refractions.udig.project.ui.preferences.project"
            class="net.refractions.udig.printing.ui.internal.PrintingPreferences"
            id="net.refractions.udig.printing.ui.preferences"
            name="%printing.ui.preferences.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
         <editor
            icon="icons/obj16/page_obj.gif"
            class="net.refractions.udig.printing.ui.internal.editor.PageEditor"
            default="true"
            name="%printing.ui.pageEditor.name"
            id="net.refractions.udig.printing.ui.internal.editor.pageEditor"/>
   </extension>
   <extension
         point="net.refractions.udig.project.ui.editorInputs">
      <editorInput
            editorPartID="net.refractions.udig.printing.ui.internal.editor.pageEditor"
            class="net.refractions.udig.printing.ui.internal.editor.PageEditorInput"
            projectElement="net.refractions.udig.printing.model.impl.PageImpl"
            name="net.refractions.udig.printing.ui.internal.editor.pageEditorInput"/>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="net.refractions.udig.project.ui.mapEditor"
            id="net.refractions.udig.printing.ui.mapEditorContribution">
         <action
               disabledIcon="icons/dtool16/newpage_wiz.gif"
               toolbarPath="global/additions"
               label="%printing.ui.action.printFromMap.label"
               class="net.refractions.udig.printing.ui.actions.CreatePageAction"
               icon="icons/etool16/newpage_wiz.gif"
               tooltip="%printing.ui.action.printFromMap.tooltip"
               style="push"
               menubarPath="file/print.ext"
               id="net.refractions.udig.printing.ui.printAction"/>
      </editorContribution>
      <editorContribution
            targetID="net.refractions.udig.printing.ui.internal.editor.pageEditor"
            id="net.refractions.udig.printing.ui.pageEditorContribution">
         <action
               disabledIcon="icons/dtool16/print_tsk.gif"
               toolbarPath="global/additions"
               label="%printing.ui.action.printFromPage.label"
               class="net.refractions.udig.printing.ui.internal.PrintAction"
               icon="icons/etool16/print_tsk.gif"
               tooltip="%printing.ui.action.printFromPage.label"
               style="push"
               id="net.refractions.udig.printing.ui.printAction"/>
      </editorContribution>
   </extension>
         <extension
               point="org.eclipse.ui.perspectiveExtensions">
            <perspectiveExtension targetID="net.refractions.udig.ui.mapPerspective">
               <actionSet id="net.refractions.udig.printing.ui.mapGraphic.action"/>
            </perspectiveExtension>
            <perspectiveExtension targetID="net.refractions.udig.ui.alternateMapPerspective">
               <actionSet id="net.refractions.udig.printing.ui.mapGraphic.action"/>
            </perspectiveExtension>
         </extension>
         <extension
               point="net.refractions.udig.printing.ui.editAction">
            <editActionGroup
                  acceptable="net.refractions.udig.printing.model.impl.LabelBoxPrinter">
               <editAction
                     class="net.refractions.udig.printing.ui.internal.editor.RenameLabelBox"
                     id="renameLabelBox"
                     name="%labelAction.name">
               </editAction>
               <editAction
                     class="net.refractions.udig.printing.ui.internal.editor.SetLabelBoxFontAction"
                     id="net.refractions.udig.printing.ui.editFont"
                     name="%fontAction.label">
               </editAction>
            </editActionGroup>
	      <editActionGroup acceptable="net.refractions.udig.printing.model.impl.MapBoxPrinter">
	         <editAction
	               class="net.refractions.udig.printing.ui.internal.editor.MapEditorAction"
	               id="mapEditorAction"
	               name="%editMap"/>
          <editAction
                class="net.refractions.udig.printing.ui.internal.editor.SetScaleAction"
                id="setScaleAction"
                name="%scaleAction.label">
          </editAction>
	      </editActionGroup>
       <editActionGroup
             acceptable="net.refractions.udig.printing.model.impl.MapGraphicBoxPrinter">
          <editAction
                class="net.refractions.udig.printing.ui.internal.editor.SetGraphicAction"
                id="setGraphicAction"
                name="%setGraphicAction.label">
          </editAction>
          <editAction
                class="net.refractions.udig.printing.ui.internal.editor.SetStyleAction"
                id="styleAction"
                name="%styleAction.label">
          </editAction>
       </editActionGroup>
       <editActionGroup
             acceptable="net.refractions.udig.printing.model.AbstractBoxPrinter">
          <editAction
                class="net.refractions.udig.printing.ui.internal.editor.RefreshAction"
                id="refreshAction"
                name="%refreshAction.label">
          </editAction>
       </editActionGroup>
     </extension>
</plugin>
