<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.refractions.udig.project.ui.tool">
      <modalTool
            categoryId="net.refractions.udig.tool.category.info"
            class="eu.udig.tools.jgrass.profile.ProfileTool"
            icon="icons/profileview.png"
            id="eu.udig.tools.jgrass.profiletool"
            name="%profile.name"
            onToolbar="true"
            toolCursorId="profileCursor"
            tooltip="%profile.tooltip">
               <cursor
                     hotspotX="10"
                     hotspotY="10"
                     id="profileCursor"
                     image="icons/profilecursor.gif">
               </cursor>
           <enablement>
              <adaptsTo
                    target="org.opengis.coverage.grid.GridCoverage">
              </adaptsTo>
           </enablement>
      </modalTool>
      <toolCursor
            hotspotX="10"
            hotspotY="10"
            id="profileCursor"
            image="icons/profilecursor.gif"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="eu.udig.tools.jgrass.profile.ProfileView"
            icon="icons/profileview.png"
            id="eu.udig.tools.jgrass.profileview"
            name="Profile View"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="eu.udig.tools.jgrass.navigationview.NavigationView"
            fastViewWidthRatio="0.20"
            icon="icons/globe16.png"
            id="eu.udig.tools.jgrass.navigationview.NavigationView"
            name="Navigation"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="eu.udig.tools.jgrass.coverageexport.TiffAsciiExportWizard"
            icon="icons/grid_obj.gif"
            id="eu.udig.tools.jgrass.rasterexport.TiffAsciiExportWizard"
            name="Export coverage to tiff or esri ascii">
      </wizard>
      <wizard
            class="eu.udig.tools.jgrass.kml.wizard.KmlExportWizard"
            icon="icons/icon_kml.png"
            id="eu.udig.tools.jgrass.kml.wizard.KmlExportWizard"
            name="Export feature layer to kml">
      </wizard>
   </extension>
   <extension
         point="net.refractions.udig.ui.operation">
      <operation
            categoryId="eu.udig.tools.jgrass.toolscategory"
            class="eu.udig.tools.jgrass.orientationview.ViewFeatureOrientation"
            enablesFor="1"
            icon="icons/view_orientation.gif"
            id="eu.udig.tools.jgrass.orientationview.ViewFeatureOrientation"
            name="View lines orientation"
            targetClass="net.refractions.udig.project.ILayer">
            <enablement>
             <and>
               <property propertyId="net.refractions.udig.project.FeatureStoreResourceProperty" expectedValue=""/>  
               <or>
                    <property propertyId="net.refractions.udig.project.ui.GeometryType" expectedValue="com.vividsolutions.jts.geom.MultiLineString"/>
                    <property propertyId="net.refractions.udig.project.ui.GeometryType" expectedValue="com.vividsolutions.jts.geom.LineString"/>
               </or>
             </and>
            </enablement>
      </operation>
      <operation
            categoryId="eu.udig.tools.jgrass.toolscategory"
            class="eu.udig.tools.jgrass.orientationview.ReverseFeatureOrientation"
            enablesFor="1"
            icon="icons/invert.gif"
            id="eu.udig.tools.jgrass.orientationview.ReverseFeatureOrientation"
            name="Invert geometry orientation"
            targetClass="net.refractions.udig.project.ILayer">
            <enablement>
             <and>
               <property propertyId="net.refractions.udig.project.FeatureStoreResourceProperty" expectedValue=""/>  
               <or>
                    <property propertyId="net.refractions.udig.project.ui.GeometryType" expectedValue="com.vividsolutions.jts.geom.MultiLineString"/>
                    <property propertyId="net.refractions.udig.project.ui.GeometryType" expectedValue="com.vividsolutions.jts.geom.LineString"/>
                    <property propertyId="net.refractions.udig.project.ui.GeometryType" expectedValue="com.vividsolutions.jts.geom.MultiPolygon"/>
                    <property propertyId="net.refractions.udig.project.ui.GeometryType" expectedValue="com.vividsolutions.jts.geom.Polygon"/>
               </or>
             </and>
            </enablement>
      </operation>
      <operation
            categoryId="eu.udig.tools.jgrass.toolscategory"
            class="eu.udig.tools.jgrass.movefeatures.FeatureUpMover"
            enablesFor="1"
            icon="icons/prev_nav.gif"
            id="eu.udig.tools.jgrass.movefeatures.FeatureUpMover"
            name="Move features one layer up"
            targetClass="net.refractions.udig.project.ILayer">
            <enablement>
             <and>
               <property propertyId="net.refractions.udig.project.FeatureStoreResourceProperty" expectedValue=""/>  
             </and>
            </enablement>
      </operation>
      <operation
            categoryId="eu.udig.tools.jgrass.toolscategory"
            class="eu.udig.tools.jgrass.movefeatures.FeatureDownMover"
            enablesFor="1"
            icon="icons/next_nav.gif"
            id="eu.udig.tools.jgrass.movefeatures.FeatureDownMover"
            name="Move features one layer down"
            targetClass="net.refractions.udig.project.ILayer">
            <enablement>
             <and>
               <property propertyId="net.refractions.udig.project.FeatureStoreResourceProperty" expectedValue=""/>  
             </and>
            </enablement>
      </operation>
      <operation
            categoryId="eu.udig.tools.jgrass.toolscategory"
            class="eu.udig.tools.jgrass.profile.FeatureOnCoverageProfileOperation"
            enablesFor="2"
            id="eu.udig.tools.jgrass.profile.fromfeature"
            name="%feature.profile"
            targetClass="net.refractions.udig.project.ILayer">
      </operation>
      <category
            id="eu.udig.tools.jgrass.toolscategory"
            name="JGrass Tools">
      </category>
      <operation
            categoryId="eu.udig.tools.jgrass.toolscategory"
            class="eu.udig.tools.jgrass.copypath.CopyPathOp"
            enablesFor="1"
            id="eu.udig.tools.jgrass.copypath.CopyPathOp"
            name="%copy.file.path"
            targetClass="java.io.File">
      </operation>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="eu.udig.featureimportcategory"
            class="eu.udig.tools.jgrass.csv.CsvImportWizard"
            icon="icons/goto_input.gif"
            id="eu.udig.tools.jgrass.csv.CsvImportWizard"
            name="CSV import">
         <description>
            Import a file in the CSV format from the local file system into the workspace.
         </description>
      </wizard>
      <category
            id="eu.udig.featureimportcategory"
            name="%import2featurelayer">
      </category>
      <wizard
            category="eu.udig.featureimportcategory"
            class="eu.udig.tools.jgrass.kml.wizard.KmlImportWizard"
            icon="icons/icon_kml.png"
            id="eu.udig.tools.jgrass.kml.wizard.KmlImportWizard"
            name="Kml to Shapefile import">
         <description>
            Import a kml file into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eu.udig.tools.jgrass.orientationview.ViewFeatureOrientationCommand"
            id="eu.udig.tools.jgrass.orientationview.ViewFeatureOrientationCommand"
            name="View lines orientation">
      </command>
      <keyBinding
            commandId="eu.udig.tools.jgrass.orientationview.ViewFeatureOrientationCommand"
            schemeId="net.refractions.udig.defaultUDIGKeyConfiguration"
            keySequence="Alt+Shift+A">
      </keyBinding>
      <command
            defaultHandler="eu.udig.tools.jgrass.orientationview.ReverseFeatureOrientationCommand"
            id="eu.udig.tools.jgrass.orientationview.ReverseFeatureOrientationCommand"
            name="Invert lines orientation">
      </command>
      <keyBinding
            commandId="eu.udig.tools.jgrass.orientationview.ReverseFeatureOrientationCommand"
            schemeId="net.refractions.udig.defaultUDIGKeyConfiguration"
            keySequence="Alt+Shift+S">
      </keyBinding>
      <command
            defaultHandler="eu.udig.tools.jgrass.movefeatures.FeatureDownMoverCommand"
            id="eu.udig.tools.jgrass.movefeatures.FeatureDownMoverCommand"
            name="Move feature a layer down">
      </command>
      <keyBinding
            commandId="eu.udig.tools.jgrass.movefeatures.FeatureDownMoverCommand"
            schemeId="net.refractions.udig.defaultUDIGKeyConfiguration"
            keySequence="Alt+Shift+Z">
      </keyBinding>
      <command
            defaultHandler="eu.udig.tools.jgrass.movefeatures.FeatureUpMoverCommand"
            id="eu.udig.tools.jgrass.movefeatures.FeatureUpMoverCommand"
            name="Move feature a layer up">
      </command>
      <keyBinding
            commandId="eu.udig.tools.jgrass.movefeatures.FeatureUpMoverCommand"
            schemeId="net.refractions.udig.defaultUDIGKeyConfiguration"
            keySequence="Alt+Shift+W">
      </keyBinding>
   </extension>
</plugin>
