<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="eu.udig.tools.jgrass"
         name="%tools.name"
         point="net.refractions.udig.project.ui.tool">
      <modalTool
            categoryId="eu.hydrologis.jgrass.category.info"
            class="eu.udig.tools.jgrass.coverageinfo.WhatRastTool"
            icon="icons/d_what_rast.png"
            id="eu.hydrologis.jgrass.whatrast.whatrasttool"
            name="%whatrast.name"
            onToolbar="false"
            toolCursorId="whatrastCursor"
            tooltip="%whatrast.tooltip">
         <cursor
               hotspotX="10"
               hotspotY="10"
               image="icons/measure_source.gif">
         </cursor>
      </modalTool>
      <toolCursor
            hotspotX="10"
            hotspotY="10"
            id="whatrastCursor"
            image="icons/measure_source.gif"/>
      <modalTool
            categoryId="eu.hydrologis.jgrass.category.info"
            class="eu.udig.tools.jgrass.profile.ProfileTool"
            icon="icons/profileview.png"
            id="eu.udig.tools.jgrass.profiletool"
            name="%profile.name"
            onToolbar="false"
            toolCursorId="profileCursor"
            tooltip="%profile.tooltip">
               <cursor
                     hotspotX="10"
                     hotspotY="10"
                     image="icons/profilecursor.gif">
               </cursor>
      </modalTool>
      <toolCursor
            hotspotX="10"
            hotspotY="10"
            id="profileCursor"
            image="icons/profilecursor.gif"/>
      <modalTool
            categoryId="eu.hydrologis.jgrass.category.info"
            class="eu.udig.tools.jgrass.correct.RcorrectTool"
            icon="icons/r_correct.png"
            id="eu.udig.tools.jgrass.rcorrecttool"
            name="%rcorrect.name"
            onToolbar="false"
            toolCursorId="rcorrectCursor"
            tooltip="%rcorrect.tooltip">
               <cursor
                     hotspotX="10"
                     hotspotY="10"
                     image="icons/measure_source.gif">
               </cursor>
      </modalTool>
      <toolCursor
            hotspotX="10"
            hotspotY="10"
            id="rcorrectCursor"
            image="icons/measure_source.gif"/>
      <category
            id="eu.hydrologis.jgrass.category.info">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="eu.udig.tools.jgrass.profile.ProfileView"
            icon="icons/profileview.png"
            id="eu.udig.tools.jgrass.profileview"
            name="Profile View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="eu.udig.tools.jgrass.coverageexport.TiffAsciiExportWizard"
            icon="icons/grid_obj.gif"
            id="eu.udig.tools.jgrass.rasterexport.TiffAsciiExportWizard"
            name="Export coverage to tiff or esri ascii">
      </wizard>
   </extension>

</plugin>
