<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%Bookmarks.category"
            id="org.tcat.citd.sim.udig.bookmarks">
      </category>
      <view
            name="%Bookmarks.view"
            icon="icons/eview16/bkmrk_nav.gif"
            category="org.tcat.citd.sim.udig.bookmarks"
            class="org.tcat.citd.sim.udig.bookmarks.internal.ui.BookmarksView"
            id="org.tcat.citd.sim.udig.bookmarks.internal.ui.BookmarksView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.refractions.udig.ui.mapPerspective">
         <view
               closeable="true"
               id="org.tcat.citd.sim.udig.bookmarks.internal.ui.BookmarksView"
               moveable="true"
               ratio="0.5"
               relationship="stack"
               relative="net.refractions.udig.project.ui.layerManager"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <viewShortcut id="org.tcat.citd.sim.udig.bookmarks.internal.ui.BookmarksView"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.tcat.citd.sim.udig.bookmarks.viewbookmarkscontribution"
            targetID="org.tcat.citd.sim.udig.bookmarks.internal.ui.BookmarksView">
         <action
               class="org.tcat.citd.sim.udig.bookmarks.internal.actions.BookmarkAction"
               disabledIcon="icons/dlcl16/add_bkmrk.gif"
               icon="icons/elcl16/add_co.gif"
               id="org.tcat.citd.sim.udig.bookmarks.actions.addbookmarkaction"
               label="%Bookmarks.actions.AddBookmark"
               style="push"
               toolbarPath="additions"
               tooltip="%Bookmarks.actions.AddBookmark.tt"/>
         <action
               class="org.tcat.citd.sim.udig.bookmarks.internal.actions.BookmarkAction"
               disabledIcon="icons/bookmark_remall.gif"
               icon="icons/elcl16/removeall_co.gif"
               id="org.tcat.citd.sim.udig.bookmarks.actions.removeallbookmarksaction"
               label="%Bookmarks.actions.RemoveAllBookmarks"
               style="push"
               toolbarPath="additions"
               tooltip="%Bookmarks.actions.RemoveAllBookmarks.tt">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.tcat.citd.sim.udig.bookmarks.bookmarkobjectcontribution"
            objectClass="org.tcat.citd.sim.udig.bookmarks.Bookmark">
         <action
               class="org.tcat.citd.sim.udig.bookmarks.internal.actions.BookmarkAction"
               enablesFor="+"
               id="org.tcat.citd.sim.udig.bookmarks.actions.removebookmarkaction"
               label="%Bookmarks.actions.Remove"
               menubarPath="additions"
               style="push"
               tooltip="%Bookmarks.actions.Remove.tt"/>
         <action
               class="org.tcat.citd.sim.udig.bookmarks.internal.actions.BookmarkAction"
               enablesFor="1"
               id="org.tcat.citd.sim.udig.bookmarks.actions.gotobookmarkaction"
               label="%Bookmarks.actions.GoToBookmark"
               menubarPath="additions"
               style="push"
               tooltip="%Bookmarks.actions.GoToBookmark.tt"/>
         <action
               class="org.tcat.citd.sim.udig.bookmarks.internal.actions.BookmarkAction"
               enablesFor="1"
               id="org.tcat.citd.sim.udig.bookmarks.actions.renamebookmarkaction"
               label="%Bookmarks.actions.Rename"
               menubarPath="additions"
               tooltip="%Bookmarks.actions.Rename.tt"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.tcat.citd.sim.udig.bookmarks.mapwrappercontribution"
            objectClass="org.tcat.citd.sim.udig.bookmarks.internal.MapReference">
         <action
               class="org.tcat.citd.sim.udig.bookmarks.internal.actions.BookmarkAction"
               enablesFor="+"
               id="org.tcat.citd.sim.udig.bookmarks.actions.removemapaction"
               label="%Bookmarks.actions.RemoveAll"
               menubarPath="additions"
               tooltip="%Bookmarks.actions.RemoveAll.tt"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.tcat.citd.sim.udig.bookmarks.projectwrappercontribution"
            objectClass="org.tcat.citd.sim.udig.bookmarks.internal.ProjectWrapper">
         <action
               class="org.tcat.citd.sim.udig.bookmarks.internal.actions.BookmarkAction"
               enablesFor="+"
               id="org.tcat.citd.sim.udig.bookmarks.actions.removeprojectaction"
               label="%Bookmarks.actions.Remove"
               menubarPath="additions"
               tooltip="%Bookmarks.actions.Remove.tt2"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="org.tcat.citd.sim.udig.bookmarks.internal.BookmarkServiceFactory">
         <service
               serviceClass="org.tcat.citd.sim.udig.bookmarks.IBookmarkService">
         </service>
      </serviceFactory>
   </extension>
   <extension
         point="net.refractions.udig.ui.boundary">
      <boundary
            class="org.tcat.citd.sim.udig.bookmarks.BookmarkBoundaryStrategy"
            id="org.tcat.citd.sim.udig.bookmarks.boundary"
            name="Bookmark"
            page="org.tcat.citd.sim.udig.bookmarks.internal.ui.BookmarkBoundaryPage">
      </boundary>
   </extension>
</plugin>
