<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="infoDisplay" name="infoDisplay" schema="schema/infoDisplay.exsd"/>
   <extension
         id="info"
         point="org.locationtech.udig.project.ui.tool">
         <modalTool
               categoryId="org.locationtech.udig.tool.category.info"
               class="org.locationtech.udig.tool.info.InfoTool"
               cursor="default"
               icon="icons/etool16/info_mode.gif"
               id="org.locationtech.udig.tool.info.infoMode"
               largeIcon="icons/etool24/info_mode.png"
               name="%info.name"
               onToolbar="true"
               toolCursorId="infoCursor"
               tooltip="%info.tooltip">
            <cursor
                  hotspotY="5"
                  hotspotX="5"
                  image="icons/pointer/info_source.png"/>
         </modalTool>
         <toolCursor
               hotspotX="5"
               hotspotY="5"
               id="infoCursor"
               image="icons/pointer/info_source.png"/>
   </extension>
   <extension
         name="Information Views"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            icon="icons/view16/info_view.gif"
            class="org.locationtech.udig.tool.info.internal.InfoView2"
            category="org.locationtech.udig.project.ui.project"
            name="%infoView.name"
            id="org.locationtech.udig.tool.info.infoView">
         <description/>
      </view>
      <view
            category="org.locationtech.udig.project.ui.project"
            class="org.locationtech.udig.document.ui.DocumentView"
            icon="icons/view16/document_view.gif"
            id="org.locationtech.udig.tool.info.documentView"
            name="%docView.name"
            restorable="true">
      </view>
   </extension>
   <extension
         name="Information Displays"
         point="org.locationtech.udig.info.infoDisplay">
      <display
            name="text.name"
            mime="text/html"
            class="org.locationtech.udig.tool.info.internal.display.BrowserInfoDisplay"/>
      <display
            name="html.name"
            mime="text/plain"
            class="org.locationtech.udig.tool.info.internal.display.TextInfoDisplay"/>
      <display
            name="%features.name"
            mime="application/vnd.ogc.gml"
            class="org.locationtech.udig.tool.info.internal.display.FeatureDisplay"/>
   </extension>
   <extension
         id="shp"
         name="Shapefile Document Resolvers"
         point="org.locationtech.udig.catalog.resolvers">
      <factory
            class="org.locationtech.udig.document.source.ShpDocumentResolveFactory"
            resolveableType="org.locationtech.udig.catalog.internal.shp.ShpGeoResourceImpl">
         <resolve
               type="org.locationtech.udig.catalog.document.IHotlinkSource"></resolve>
         <resolve
               type="org.locationtech.udig.catalog.document.IDocumentSource"></resolve>
         <resolve
               type="org.locationtech.udig.catalog.document.IAttachmentSource">
         </resolve>
      </factory>
      <factory
            class="org.locationtech.udig.document.source.BasicHotlinkResolveFactory"
            resolveableType="org.locationtech.udig.catalog.IGeoResource">
         <resolve
               type="org.locationtech.udig.catalog.document.IHotlinkSource">
         </resolve>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.locationtech.udig.catalog.ui.property.resourcePage"
            class="org.locationtech.udig.document.ui.DocumentPropertyPage"
            icon="icons/obj16/file_doc_obj.png"
            id="org.locationtech.udig.catalog.document.property.documentPage"
            name="%documentPage.name">
         <enabledWhen>
            <and>
               <or>
                  <instanceof
                        value="org.locationtech.udig.catalog.IGeoResource">
                  </instanceof>
                  <adapt
                        type="org.locationtech.udig.catalog.IGeoResource">
                  </adapt>
               </or>
               <test
                     property="org.locationtech.udig.catalog.featureSource">
               </test>
            </and>
         </enabledWhen>
      </page>
      <page
            category="org.locationtech.udig.catalog.ui.property.resourcePage"
            class="org.locationtech.udig.tool.info.internal.InfoPropertyPage"
            icon="icons/view16/info_view.gif"
            id="org.locationtech.udig.info.property.infoPage"
            name="%infoPage.name">
         <enabledWhen>
            <and>
               <or>
                  <instanceof
                        value="org.locationtech.udig.catalog.IGeoResource">
                  </instanceof>
                  <adapt
                        type="org.locationtech.udig.catalog.IGeoResource">
                  </adapt>
               </or>
               <test
                     property="org.locationtech.udig.catalog.featureSource">
               </test>
            </and>
         </enabledWhen>
      </page>
   </extension>

</plugin>
