<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   	<extension
         point="org.locationtech.udig.catalog.ServiceExtension">
      <service
            class="org.locationtech.udig.catalog.PostgisServiceExtension2"
            id="postgis"
            name="Postgis"/>
   	</extension>
 <extension
       point="org.locationtech.udig.catalog.ui.connectionFactory">
    <factory
          class="org.locationtech.udig.catalog.internal.postgis.ui.PostGisConnectionFactory"
          id="org.locationtech.udig.catalog.postgis.experimental">
    </factory>
    <wizardPage
          banner="icons/wizban/postgis_wiz.gif"
          class="org.locationtech.udig.catalog.internal.postgis.ui.PostgisUserHostPage"
          description="%wizard.description"
          icon="icons/etool16/postgis_wiz.gif"
          name="PostGIS">
    </wizardPage>
    <wizardPage
          banner="icons/wizban/postgis_wiz.gif"
          class="org.locationtech.udig.catalog.service.database.DataConnectionPage"
          description="%wizard.description"
          icon="icons/etool16/postgis_wiz.gif"
          name="Connection">
    </wizardPage>
 </extension>
 
</plugin>
