<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension
  		 id="net.refractions.udig.catalog.internal.wmt"
         name="Service Extentions"
         point="net.refractions.udig.catalog.ServiceExtension">
      <service
            class="net.refractions.udig.catalog.internal.wmt.WMTServiceExtension"
            id="net.refractions.udig.catalog.internal.wmt.service"
            name="WMT Service Extension"/>
  </extension>
  <extension
       point="net.refractions.udig.catalog.ui.connectionFactory">
    <factory class="net.refractions.udig.catalog.internal.wmt.ui.wizard.WMTConnectionFactory"
          id="net.refractions.udig.catalog.ui.WMT"/>
    <wizardPage
          banner="icons/wizban/wms_wiz.gif"
          class="net.refractions.udig.catalog.internal.wmt.ui.wizard.WMTWizardPage"
          description="%wizard.description"
          icon="icons/etool16/wms_wiz.gif"
          name="%wizard.name">
    </wizardPage>
  </extension> 
  
  <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="net.refractions.udig.catalog.internal.wmt.ui.properties.WMTLayerPropertyPage"
            id="net.refractions.udig.catalog.internal.wmt.ui.properties.wmtlayerproperties"
            name="%propertiesLayer.name"
            objectClass="net.refractions.udig.project.ILayer">
   		<enabledWhen>
			<test
                    args=""
                    property="net.refractions.udig.catalog.internal.wmt.ui.properties.showTest"
                    value="true">
         	</test>	
   		</enabledWhen>
      </page>               
  </extension>
  <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="net.refractions.udig.catalog.internal.wmt.ui.properties.WMTShowPropertiesTester"
          id="net.refractions.udig.catalog.internal.wmt.ui.properties.showTester"
          namespace="net.refractions.udig.catalog.internal.wmt.ui.properties"
          properties="showTest"
          type="net.refractions.udig.project.ILayer">
    </propertyTester>
  </extension>
  
  <extension
         point="net.refractions.udig.project.style">
      <style
            class="net.refractions.udig.catalog.internal.wmt.ui.properties.WMTLayerStyleContent"
            id="net.refractions.udig.catalog.internal.wmt.ui.properties.dialogSettings"
            name="WMT Style Properties">
      </style>
  </extension>  
  
  <extension
        point="org.eclipse.ui.views">
     <view
           allowMultiple="false"
           class="net.refractions.udig.catalog.internal.wmt.ui.view.WMTZoomLevelSwitcher"
           icon="icons/etool16/wms_wiz.gif"
           id="net.refractions.udig.catalog.wmt.viewZoomLevelSwitcher"
           name="%zoomLevelSwitcher.name"
           restorable="true">
     </view>
  </extension>
  <!--
  <extension
        point="org.eclipse.ui.menus">
        <menuContribution
              locationURI="toolbar:org.eclipse.ui.main.toolbar">
              <toolbar
                    id="net.refractions.udig.catalog.wmt.toolbarZoomLevelSwitcher">
                    <control
                          class="net.refractions.udig.catalog.internal.wmt.ui.view.WMTZoomLevelToolbar">
                    </control>
              </toolbar>
        </menuContribution>
  </extension>   
  -->
  
    <extension
         point="net.refractions.udig.catalog.ServiceExtension">
      <service
            class="net.refractions.udig.catalog.internal.wmt.ww.WWServiceExtension"
            id="net.refractions.udig.catalog.internal.wmt.ww.service"
            name="WW Service Extension"/>
  </extension>
  <extension
       point="net.refractions.udig.catalog.ui.connectionFactory">
    <factory class="net.refractions.udig.catalog.internal.wmt.ui.wizard.WWConnectionFactory"
          id="net.refractions.udig.catalog.ui.WW"/>
    <wizardPage
          banner="icons/wizban/wms_wiz.gif"
          class="net.refractions.udig.catalog.internal.wmt.ui.wizard.WWWizardPage"
          description="%wizardWW.description"
          icon="icons/etool16/wms_wiz.gif"
          name="%wizardWW.name">
    </wizardPage>
  </extension> 


  <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer class="net.refractions.udig.catalog.internal.wmt.ui.preferences.WMTPreferenceInitializer"/>
  </extension>
  <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="net.refractions.udig.render.internal.wmsc.basic.wmsctile"
          class="net.refractions.udig.catalog.internal.wmt.ui.preferences.WMTTilePreferencesPage"
          id="net.refractions.udig.render.internal.wmt.basic.wmttile"
          name="%preferences.name">
    </page>
  </extension>
</plugin>
