.DS_Store
Thumbs.db
# see pom-libs.xml for osgi-fied 3rd-party dependencies
plugins/*.libs*/lib-src/
plugins/*.libs*/lib/
plugins/*.libs*/libs/
plugins/org.locationtech.udig.*/.settings
features/org.locationtech.udig-site.community/artifacts.jar
features/org.locationtech.udig-site.community/content.jar
target
bin
javaCompiler...args
build.xml
workspace
runtime-udig.product
.sts4-cache/
docs/__pycache__