.DS_Store
Thumbs.db
plugins/org.locationtech.udig.libs.db2/libs/
plugins/org.locationtech.udig.libs/lib-src/
plugins/org.locationtech.udig.libs/lib/
plugins/org.locationtech.udig.*/.settings
features/org.locationtech.udig-site.community/artifacts.jar
features/org.locationtech.udig-site.community/content.jar
target
bin
javaCompiler...args
build.xml
workspace
runtime-udig.product
