.DS_Store
plugins/net.refractions.udig.libs.source/util/bin/
plugins/net.refractions.udig.*/bin
tutorials/net.refractions.udig.tutorials.*/bin
plugins/net.refractions.udig.libs*/lib
plugins/org.tcat.citd.sim.udig.bookmarks/bin
deploy/bin/
plugins/net.refractions.udig.*/.settings
tutorials/net.refractions.udig.tests.tutorials.tests/bin/
plugins/eu.udig.mapquest.apiwrapper/bin/
plugins/eu.udig.*/bin/
plugins/eu.udig.libs.teradata/gtlib
