<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="net.refractions.udig.tutorials.featureeditor.views"
         name="Feature Editor Views"
         point="org.eclipse.ui.views">
      <view
            class="net.refractions.udig.tutorials.featureeditor.CountryView"
            id="net.refractions.udig.tutorials.featureeditor.views.country"
            name="Country">
      </view>
   </extension>
   <extension
         point="net.refractions.udig.project.ui.featureEditor">
      <editor
            id="net.refractions.udig.tutorials.featureeditor.countriesEditor"
            name="Country"
            viewId="net.refractions.udig.tutorials.featureeditor.views.country">
         <featureType>
            <attribute
                  type="com.vividsolutions.jts.geom.MultiPolygon">
            </attribute>
            <attribute
                  name="CNTRY_NAME"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="GMI_CNTRY"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="COLOR_MAP"
                  type="java.lang.String">
            </attribute></featureType>
      </editor>
   </extension>
   <extension
         id="net.refractions.udig.tutorials.featureeditor.panels"
         name="Tutorials Feature Panels"
         point="net.refractions.udig.project.ui.featurePanel">
      <featurePanel
            description="Edit Country information using this handy form."
            id="net.refractions.udig.tutorials.featureeditor.panels.countryPanel"
            name="Country"
            panel="net.refractions.udig.tutorials.featureeditor.CountryFeaturePanel"
            title="Country Feature">
         <featureType>
            <attribute
                  type="com.vividsolutions.jts.geom.MultiPolygon">
            </attribute>
            <attribute
                  name="CNTRY_NAME"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="GMI_CNTRY"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="COLOR_MAP"
                  type="java.lang.String">
            </attribute></featureType>
      </featurePanel>
      <featurePanel
            description="Edit Country information using this handy form."
            id="net.refractions.udig.tutorials.featureeditor.panels.countryPanel2"
            name="Country2"
            panel="net.refractions.udig.tutorials.featureeditor.CountryFeaturePanel2"
            title="Country Feature 2">
         <featureType>
            <attribute
                  type="com.vividsolutions.jts.geom.MultiPolygon">
            </attribute>
            <attribute
                  name="CNTRY_NAME"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="GMI_CNTRY"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="COLOR_MAP"
                  type="java.lang.String">
            </attribute></featureType>
      </featurePanel>
   </extension>

</plugin>
