<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
     <extension
         point="net.refractions.udig.catalog.ServiceExtension">
      <service
            class="net.refractions.udig.catalog.arcgrid.ArcGridServiceExtension"
            id="ArcGrid"
            name="ArcGrid"/>
   </extension>
   <extension
         point="net.refractions.udig.catalog.ui.fileFormat">
      <fileService fileExtension="*.asc"/>
   </extension>

</plugin>
