<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/**
 * <copyright>
 * </copyright>
 *
 * $Id$
 */
-->

<plugin>

    <extension
            point="org.locationtech.udig.project.ui.itemProviderAdapterFactories">
         <itemProviderAdapterFactory class="org.locationtech.udig.project.internal.provider.ProjectItemProviderAdapterFactory"/>
         <itemProviderAdapterFactory class="org.eclipse.emf.edit.provider.resource.ResourceItemProviderAdapterFactory"/>
         <itemProviderAdapterFactory class="org.locationtech.udig.project.internal.render.provider.RenderItemProviderAdapterFactory"/>
         <itemProviderAdapterFactory class="org.locationtech.udig.project.element.provider.ElementItemProviderAdapterFactory"/>
      </extension>
   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated Project -->
      <factory
            uri="http:///net/refractions/udig/project/element.ecore"
            class="org.locationtech.udig.project.element.provider.ElementItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated Project -->
      <factory
            uri="http:///net/refractions/udig/project/internal.ecore"
            class="org.locationtech.udig.project.internal.provider.ProjectItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated Project -->
      <factory
            uri="http:///net/refractions/udig/project/internal/render.ecore"
            class="org.locationtech.udig.project.internal.render.provider.RenderItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
</plugin>

