<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.locationtech.udig.ui.application"
            name="uDig">
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="0,196,500,8">
         </property>
         <property
               name="startupMessageRect"
               value="7,180,445,16">
         </property>
         <property
               name="appName"
               value="uDig">
         </property>
         <property
               name="aboutImage"
               value="./icons/about.png">
         </property>
         <property
               name="aboutText"
               value="%verboseAboutText">
         </property>
         <property
               name="windowImages"
               value="./icons/icon16.gif,./icons/icon32.gif,./icons/icon48.gif,./icons/icon64.gif,./icons/icon128.gif">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
      <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="org.locationtech.udig.ui.intro">
      </intro>
      <introProductBinding
            introId="org.locationtech.udig.ui.intro"
            productId="org.locationtech.udig.product">
      </introProductBinding>
   </extension>
   <extension
         id="intro"
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="org.locationtech.udig.ui.introConfig"
            introId="org.locationtech.udig.ui.intro">
         <presentation
               home-page-id="root"
               standby-page-id="standby">
            <implementation
                  kind="html"
                  style="css/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.locationtech.udig.ui.mapPerspective">
         <actionSet
               id="org.locationtech.udig.project.ui.layer.menu">
         </actionSet>
         <actionSet
               id="org.locationtech.udig.project.ui.LayerActions">
         </actionSet>
         <actionSet
               id="org.locationtech.udig.project.ui.map.menu">
         </actionSet>
         <actionSet
               id="org.locationtech.udig.catalog.ui.data.menu">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.locationtech.udig.browser.externalCatalogWizard">
      <externalCatalogue
            id="org.locationtech.udig.browser.externalCatalogue1"
            name="org.locationtech.udig.browser.externalCatalogue1">
         <externalCatalogueURL url="http://udig.refractions.net"/>
      </externalCatalogue>
   </extension>
   <extension
         id="sdk"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.locationtech.udig.ui.application"
            description="User-friendly Desktop Internet GIS"
            name="uDig SDK">
         <property
               name="appName"
               value="uDig SDK">
         </property>
      </product>
   </extension>
</plugin>
