<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="net.refractions.udig.tutorials.shpexport.operations"
         name="shpExportOperations"
         point="net.refractions.udig.ui.operation">
      <category
            description="Additional operations for exporting shapefiles"
            id="net.refractions.udig.tutorials.shpexport.category"
            name="Shapefile Export Operations">
      </category>
      <operation
            categoryId="net.refractions.udig.tutorials.shpexport.category"
            class="net.refractions.udig.tutorials.shpexport.ShpExportOp"
            id="net.refractions.udig.tutorials.shpexport.operation"
            name="Export to Shapefile"
            targetClass="org.geotools.data.FeatureSource">
      </operation>
   </extension>

</plugin>
