<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
   
      <extension
         point="net.refractions.udig.project.ui.tool">
         <category
               commandId="net.refractions.udig.imagegeoreferencing.tools"
               id="net.refractions.udig.imagegeoreferencing.tools"
               name="GeoReference Tools">
         </category>
      <modalTool
            categoryId="net.refractions.udig.imagegeoreferencing.tools"
            class="eu.udig.imagegeoreferencing.LoadImageTool"
            icon="icons/etool16/georef.png"
            id="net.refractions.udig.imagegeoreference.tools.loadImageTool"
            name="Load Image"
            onToolbar="true"
            tooltip="Load an image on the map">
      </modalTool>
      <modalTool
            categoryId="net.refractions.udig.imagegeoreferencing.tools"
            class="eu.udig.imagegeoreferencing.SelectImageTool"
            icon="icons/etool16/select.png"
            id="net.refractions.udig.imagegeoreference.tools.selectImageTool"
            name="Select Image"
            onToolbar="true"
            toolCursorId="imageSelectCursor"
            tooltip="Select image tool">
      </modalTool>
      <modalTool
            categoryId="net.refractions.udig.imagegeoreferencing.tools"
            class="eu.udig.imagegeoreferencing.MoveImageTool"
            icon="icons/etool16/move.png"
            id="net.refractions.udig.imagegeoreference.tools.moveImageTool"
            name="Move Image"
            onToolbar="true"
            toolCursorId="imageMoveCursor"
            tooltip="Move an image on the map">
      </modalTool>
      <modalTool
            categoryId="net.refractions.udig.imagegeoreferencing.tools"
            class="eu.udig.imagegeoreferencing.ResizeImageTool"
            icon="icons/etool16/resize.png"
            id="net.refractions.udig.imagegeoreference.tools.resizeImageTool"
            name="Resize Image"
            onToolbar="true"
            toolCursorId="imageResizeCursor"
            tooltip="Resize the image">
      </modalTool>
      <modalTool
            categoryId="net.refractions.udig.imagegeoreferencing.tools"
            class="eu.udig.imagegeoreferencing.DeleteImageTool"
            icon="icons/etool16/delete.png"
            id="net.refractions.udig.imagegeoreference.tools.deleteImageTool"
            name="Delete Image"
            onToolbar="true"
            tooltip="Delete the image">
      </modalTool>
      <modalTool
            categoryId="net.refractions.udig.imagegeoreferencing.tools"
            class="eu.udig.imagegeoreferencing.PlaceMarkersTool"
            icon="icons/etool16/place.png"
            id="net.refractions.udig.imagegeoreferencing.placeMarkersTool"
            name="Place Markers"
            onToolbar="true"
            toolCursorId="imageMarkerCursor"
            tooltip="Place markers">
      </modalTool>
      <modalTool
            categoryId="net.refractions.udig.imagegeoreferencing.tools"
            class="eu.udig.imagegeoreferencing.MoveMarkersTool"
            icon="icons/etool16/movemarker.png"
            id="net.refractions.udig.imagegeoreferencing.moveMarkersTool"
            name="Move Markers"
            onToolbar="true"
            toolCursorId="imageMarkerMoveCursor"
            tooltip="Move Markers">
      </modalTool>
      <modalTool
            categoryId="net.refractions.udig.imagegeoreferencing.tools"
            class="eu.udig.imagegeoreferencing.WarpImageTool"
            icon="icons/etool16/warp.png"
            id="net.refractions.udig.imagegeoreference.tools.warpImageTool"
            name="Warp Image"
            onToolbar="true"
            tooltip="Warp the image">
      </modalTool>
      <toolCursor
            hotspotX="15"
            hotspotY="15"
            id="imageMoveCursor"
            image="icons/pointer/move_pointer.gif">
      </toolCursor>
      <toolCursor
            hotspotX="15"
            hotspotY="15"
            id="imageResizeCursor"
            image="icons/pointer/resize_pointer.gif">
      </toolCursor>
      <toolCursor
            hotspotX="9"
            hotspotY="3"
            id="imageSelectCursor"
            image="icons/pointer/selection_pointer.gif">
      </toolCursor>
      <toolCursor
            hotspotX="10"
            hotspotY="10"
            id="imageMarkerCursor"
            image="icons/pointer/placemark_pointer.gif">
      </toolCursor>
      <toolCursor
            hotspotX="10"
            hotspotY="10"
            id="imageMarkerMoveCursor"
            image="icons/pointer/movemarker_pointer.gif">
      </toolCursor>
   </extension>
      <extension
            point="net.refractions.udig.mapgraphic.mapgraphic">
         <mapGraphic
               class="eu.udig.imagegeoreferencing.GeoReferenceMapGraphic"
               icon="icons/etool16/georef.png"
               id="net.refractions.udig.imagegeoreferencing.geoReferenceMapGraphic"
               name="Image Geo Referencing">
         </mapGraphic>
      </extension>
   
</plugin>
