<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="eu.udig.tutorials.toolview.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.udig.tutorials.toolview.Perspective"
            fixed="false"
            id="X.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="eu.udig.tutorials.toolview.View"
            icon="icons/view16/alert_view.png"
            id="X.view"
            name="View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="X.view"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="net.refractions.udig.project.ui.tool">
      <modalTool
            categoryId="eu.udig.tutorials.tool-view.alerts"
            class="eu.udig.tutorials.toolview.SendAlertTool"
            icon="icons/etool16/alert_mode.png"
            id="eu.udig.tutorials.tool-view.sendalerttool"
            name="Send Alert"
            onToolbar="true"
            toolCursorId="eu.udig.tutorials.tool-view.toolCursor1">
      </modalTool>
      <toolCursor
            hotspotX="5"
            hotspotY="5"
            id="eu.udig.tutorials.tool-view.toolCursor1"
            image="icons/pointer/alert_source.png">
      </toolCursor>
      <category
            id="eu.udig.tutorials.tool-view.alerts"
            name="Alerts">
      </category>
   </extension>
   <extension
         point="net.refractions.udig.project.ui.toolManagers">
      <toolManager
            class="eu.udig.tutorials.toolview.CustomToolManager"
            id="eu.udig.tutorials.tool-view.customToolManager">
      </toolManager>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.udig.tutorials.tool-view.application"
            name="Tool View">
         <property
               name="appName"
               value="Tool View">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
      </product>
   </extension>
   <extension
         point="net.refractions.udig.mapgraphic.mapgraphic">
      <mapGraphic
            class="eu.udig.tutorials.toolview.ShowAlertsMapGraphic"
            icon="icons/view16/alert_view.png"
            id="eu.udig.tutorials.tool-view.showalertmapgraphic">
      </mapGraphic>
   </extension>

</plugin>
