udig/ImageIO-License.txt
udig/LICENSE.txt
udig/configuration/
udig/features/
udig/gdal_data/
udig/imageio-ext-imagereadmt-BSD-LICENSE.txt
udig/imageio-ext-tiff-BSD-LICENSE.txt
udig/jre/
udig/plugins/
udig/sun-copyright.txt
udig/udig-1.2.1.html
udig/udig.bat
udig/udig_internal.exe
udig/udig_internal.ini
