<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.refractions.udig.style.sld.StyleEditorPage">
      <StyleEditorPage
            class="net.refractions.udig.style.raster.ui.SingleBandEditorPage"
            contentType="net.refractions.udig.project.ILayer"
            id="net.refractions.udig.style.raster.SingleBandRasterPage"
            label="Single Banded Raster Styling"
            requires="org.opengis.coverage.grid.GridCoverage">
      </StyleEditorPage>
   </extension>

</plugin>
