<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="askclear" value="false"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="true"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/pde-junit"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles">
        <setEntry value="net.sf.opencsv"/>
        <setEntry value="org.locationtech.udig"/>
        <setEntry value="org.locationtech.udig.bookmarks"/>
        <setEntry value="org.locationtech.udig.bookmarks.tests"/>
        <setEntry value="org.locationtech.udig.browser"/>
        <setEntry value="org.locationtech.udig.catalog"/>
        <setEntry value="org.locationtech.udig.catalog.arcgrid"/>
        <setEntry value="org.locationtech.udig.catalog.arcsde"/>
        <setEntry value="org.locationtech.udig.catalog.csw"/>
        <setEntry value="org.locationtech.udig.catalog.db2"/>
        <setEntry value="org.locationtech.udig.catalog.geotiff"/>
        <setEntry value="org.locationtech.udig.catalog.geotiff.tests"/>
        <setEntry value="org.locationtech.udig.catalog.geotools"/>
        <setEntry value="org.locationtech.udig.catalog.google2"/>
        <setEntry value="org.locationtech.udig.catalog.imageio"/>
        <setEntry value="org.locationtech.udig.catalog.jgrass"/>
        <setEntry value="org.locationtech.udig.catalog.kml"/>
        <setEntry value="org.locationtech.udig.catalog.mysql"/>
        <setEntry value="org.locationtech.udig.catalog.oracle"/>
        <setEntry value="org.locationtech.udig.catalog.postgis"/>
        <setEntry value="org.locationtech.udig.catalog.rasterings"/>
        <setEntry value="org.locationtech.udig.catalog.shp"/>
        <setEntry value="org.locationtech.udig.catalog.teradata"/>
        <setEntry value="org.locationtech.udig.catalog.tests"/>
        <setEntry value="org.locationtech.udig.catalog.ui"/>
        <setEntry value="org.locationtech.udig.catalog.ui.tests"/>
        <setEntry value="org.locationtech.udig.catalog.wfs"/>
        <setEntry value="org.locationtech.udig.catalog.wfs.tests"/>
        <setEntry value="org.locationtech.udig.catalog.wms"/>
        <setEntry value="org.locationtech.udig.catalog.wms.tests"/>
        <setEntry value="org.locationtech.udig.catalog.wmt"/>
        <setEntry value="org.locationtech.udig.catalog.wmt.tests"/>
        <setEntry value="org.locationtech.udig.catalog.worldimage"/>
        <setEntry value="org.locationtech.udig.cheatsheets"/>
        <setEntry value="org.locationtech.udig.context"/>
        <setEntry value="org.locationtech.udig.document"/>
        <setEntry value="org.locationtech.udig.document.tests"/>
        <setEntry value="org.locationtech.udig.feature.editor"/>
        <setEntry value="org.locationtech.udig.graph"/>
        <setEntry value="org.locationtech.udig.help"/>
        <setEntry value="org.locationtech.udig.image.georeferencing"/>
        <setEntry value="org.locationtech.udig.info"/>
        <setEntry value="org.locationtech.udig.info.tests"/>
        <setEntry value="org.locationtech.udig.issues"/>
        <setEntry value="org.locationtech.udig.issues.tests"/>
        <setEntry value="org.locationtech.udig.legend"/>
        <setEntry value="org.locationtech.udig.libs.db2"/>
        <setEntry value="org.locationtech.udig.libs.netcdf"/>
        <setEntry value="org.locationtech.udig.libs.oracle"/>
        <setEntry value="org.locationtech.udig.libs.tests"/>
        <setEntry value="org.locationtech.udig.location"/>
        <setEntry value="org.locationtech.udig.location.tests"/>
        <setEntry value="org.locationtech.udig.mapgraphic"/>
        <setEntry value="org.locationtech.udig.mapgraphic.tests"/>
        <setEntry value="org.locationtech.udig.printing.model"/>
        <setEntry value="org.locationtech.udig.printing.model.edit"/>
        <setEntry value="org.locationtech.udig.printing.ui"/>
        <setEntry value="org.locationtech.udig.project"/>
        <setEntry value="org.locationtech.udig.project.edit"/>
        <setEntry value="org.locationtech.udig.project.tests"/>
        <setEntry value="org.locationtech.udig.project.ui"/>
        <setEntry value="org.locationtech.udig.project.ui.editor"/>
        <setEntry value="org.locationtech.udig.project.ui.tests"/>
        <setEntry value="org.locationtech.udig.render.feature.basic"/>
        <setEntry value="org.locationtech.udig.render.feature.basic.tests"/>
        <setEntry value="org.locationtech.udig.render.feature.shapefile"/>
        <setEntry value="org.locationtech.udig.render.gridcoverage.basic"/>
        <setEntry value="org.locationtech.udig.render.gridcoverage.basic.test"/>
        <setEntry value="org.locationtech.udig.render.wms.basic"/>
        <setEntry value="org.locationtech.udig.render.wms.basic.tests"/>
        <setEntry value="org.locationtech.udig.render.wmt.basic"/>
        <setEntry value="org.locationtech.udig.socket"/>
        <setEntry value="org.locationtech.udig.socket.tests"/>
        <setEntry value="org.locationtech.udig.style"/>
        <setEntry value="org.locationtech.udig.style.advanced.core"/>
        <setEntry value="org.locationtech.udig.style.advanced.feature"/>
        <setEntry value="org.locationtech.udig.style.advanced.raster"/>
        <setEntry value="org.locationtech.udig.style.jgrass"/>
        <setEntry value="org.locationtech.udig.style.sld"/>
        <setEntry value="org.locationtech.udig.style.sld.raster"/>
        <setEntry value="org.locationtech.udig.style.tests"/>
        <setEntry value="org.locationtech.udig.style.wms"/>
        <setEntry value="org.locationtech.udig.tool.default"/>
        <setEntry value="org.locationtech.udig.tool.default.tests"/>
        <setEntry value="org.locationtech.udig.tool.edit.tests"/>
        <setEntry value="org.locationtech.udig.tool.measure"/>
        <setEntry value="org.locationtech.udig.tool.select"/>
        <setEntry value="org.locationtech.udig.tool.select.tests"/>
        <setEntry value="org.locationtech.udig.tools"/>
        <setEntry value="org.locationtech.udig.tools.edit"/>
        <setEntry value="org.locationtech.udig.tools.jgrass"/>
        <setEntry value="org.locationtech.udig.tools.tests"/>
        <setEntry value="org.locationtech.udig.tutorials.catalog.csv"/>
        <setEntry value="org.locationtech.udig.tutorials.catalog.csv.tests"/>
        <setEntry value="org.locationtech.udig.tutorials.customapp"/>
        <setEntry value="org.locationtech.udig.tutorials.distanceTool"/>
        <setEntry value="org.locationtech.udig.tutorials.examples"/>
        <setEntry value="org.locationtech.udig.tutorials.featureeditor"/>
        <setEntry value="org.locationtech.udig.tutorials.genericprojectelement"/>
        <setEntry value="org.locationtech.udig.tutorials.mapgraphic"/>
        <setEntry value="org.locationtech.udig.tutorials.preferredzoomlevels"/>
        <setEntry value="org.locationtech.udig.tutorials.raster"/>
        <setEntry value="org.locationtech.udig.tutorials.rcp"/>
        <setEntry value="org.locationtech.udig.tutorials.render.csv"/>
        <setEntry value="org.locationtech.udig.tutorials.shpexport"/>
        <setEntry value="org.locationtech.udig.tutorials.style.color"/>
        <setEntry value="org.locationtech.udig.tutorials.template"/>
        <setEntry value="org.locationtech.udig.tutorials.tool-view"/>
        <setEntry value="org.locationtech.udig.tutorials.tool.coordinate"/>
        <setEntry value="org.locationtech.udig.tutorials.tool.coverage"/>
        <setEntry value="org.locationtech.udig.tutorials.tracking"/>
        <setEntry value="org.locationtech.udig.tutorials.urladapter"/>
        <setEntry value="org.locationtech.udig.tutorials.workbench"/>
        <setEntry value="org.locationtech.udig.validation"/>
        <setEntry value="org.locationtech.udig.validation.tests"/>
        <setEntry value="org.locationtech.udig_base"/>
    </setAttribute>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/../junit-workspace"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/org.locationtech.udig.ui.tests"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value="=org.locationtech.udig.ui.tests"/>
    <booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
    <stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.locationtech.udig.ui.tests"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="org.eclipse.platform.ide"/>
    <booleanAttribute key="run_in_ui_thread" value="true"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="com.google.guava@default:default"/>
        <setEntry value="com.ibm.icu@default:default"/>
        <setEntry value="com.sun.jna.platform@default:default"/>
        <setEntry value="com.sun.jna@default:default"/>
        <setEntry value="com.sun.xml.bind@default:default"/>
        <setEntry value="javax.activation@default:default"/>
        <setEntry value="javax.inject@default:default"/>
        <setEntry value="javax.media.jai_imageio@default:default"/>
        <setEntry value="javax.servlet@default:default"/>
        <setEntry value="javax.xml.bind@default:default"/>
        <setEntry value="javax.xml.stream@default:default"/>
        <setEntry value="javax.xml@default:default"/>
        <setEntry value="net.bytebuddy.byte-buddy-agent@default:default"/>
        <setEntry value="net.bytebuddy.byte-buddy@default:default"/>
        <setEntry value="net.miginfocom.layout.swt@default:default"/>
        <setEntry value="net.miginfocom.layout@default:default"/>
        <setEntry value="org.apache.batik.anim@default:default"/>
        <setEntry value="org.apache.batik.awt.util@default:default"/>
        <setEntry value="org.apache.batik.bridge@default:default"/>
        <setEntry value="org.apache.batik.constants*1.13.0.v20200622-2037@default:default"/>
        <setEntry value="org.apache.batik.css*1.13.0.v20200622-2037@default:default"/>
        <setEntry value="org.apache.batik.dom.svg@default:default"/>
        <setEntry value="org.apache.batik.dom@default:default"/>
        <setEntry value="org.apache.batik.ext@default:default"/>
        <setEntry value="org.apache.batik.gvt@default:default"/>
        <setEntry value="org.apache.batik.i18n*1.13.0.v20200622-2037@default:default"/>
        <setEntry value="org.apache.batik.parser@default:default"/>
        <setEntry value="org.apache.batik.script@default:default"/>
        <setEntry value="org.apache.batik.util*1.13.0.v20200622-2037@default:default"/>
        <setEntry value="org.apache.batik.xml@default:default"/>
        <setEntry value="org.apache.commons.codec@default:default"/>
        <setEntry value="org.apache.commons.httpclient@default:default"/>
        <setEntry value="org.apache.commons.io@default:default"/>
        <setEntry value="org.apache.commons.jxpath@default:default"/>
        <setEntry value="org.apache.commons.logging*1.2.0.v20180409-1502@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.apache.log4j@default:default"/>
        <setEntry value="org.apache.ws.commons.util@default:default"/>
        <setEntry value="org.apache.xalan@default:default"/>
        <setEntry value="org.apache.xerces@default:default"/>
        <setEntry value="org.apache.xml.resolver@default:default"/>
        <setEntry value="org.apache.xml.serializer@default:default"/>
        <setEntry value="org.apache.xmlgraphics*2.4.0.v20200622-2037@default:default"/>
        <setEntry value="org.eclipse.ant.core@default:default"/>
        <setEntry value="org.eclipse.compare.core@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.databinding.observable@default:default"/>
        <setEntry value="org.eclipse.core.databinding.property@default:default"/>
        <setEntry value="org.eclipse.core.databinding@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filesystem.win32.x86_64@default:false"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.resources.win32.x86_64@default:false"/>
        <setEntry value="org.eclipse.core.resources@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.e4.core.commands@default:default"/>
        <setEntry value="org.eclipse.e4.core.contexts@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.annotations@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions.supplier@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions@default:default"/>
        <setEntry value="org.eclipse.e4.core.di@default:default"/>
        <setEntry value="org.eclipse.e4.core.services@default:default"/>
        <setEntry value="org.eclipse.e4.emf.xpath@default:default"/>
        <setEntry value="org.eclipse.e4.ui.bindings@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.core@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt.theme@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.di@default:default"/>
        <setEntry value="org.eclipse.e4.ui.model.workbench@default:default"/>
        <setEntry value="org.eclipse.e4.ui.services@default:default"/>
        <setEntry value="org.eclipse.e4.ui.widgets@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.addons.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench3@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.change@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.bidi@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.event@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.help@default:default"/>
        <setEntry value="org.eclipse.jface.databinding@default:default"/>
        <setEntry value="org.eclipse.jface@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
        <setEntry value="org.eclipse.swt.win32.win32.x86_64@default:false"/>
        <setEntry value="org.eclipse.swt@default:default"/>
        <setEntry value="org.eclipse.team.core@default:default"/>
        <setEntry value="org.eclipse.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.ui@default:default"/>
        <setEntry value="org.eclipse.xsd@default:default"/>
        <setEntry value="org.hamcrest.core@default:default"/>
        <setEntry value="org.junit@default:default"/>
        <setEntry value="org.mockito@default:default"/>
        <setEntry value="org.objenesis@default:default"/>
        <setEntry value="org.w3c.css.sac@default:default"/>
        <setEntry value="org.w3c.dom.events@default:default"/>
        <setEntry value="org.w3c.dom.smil@default:default"/>
        <setEntry value="org.w3c.dom.svg@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="org.locationtech.udig.core.tests@default:false"/>
        <setEntry value="org.locationtech.udig.core@default:default"/>
        <setEntry value="org.locationtech.udig.libs.jfreechart@default:default"/>
        <setEntry value="org.locationtech.udig.libs@default:default"/>
        <setEntry value="org.locationtech.udig.log4j.appender@default:false"/>
        <setEntry value="org.locationtech.udig.ui.tests@default:default"/>
        <setEntry value="org.locationtech.udig.ui@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <stringAttribute key="testApplication" value="org.locationtech.udig.ui.application"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="false"/>
    <booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>
