<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            eclipseRuntime="false"
            headless="true"
            library="lib/maven-ant-tasks-2.1.0.jar">
      </extraClasspathEntry>
   </extension>

</plugin>
