<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="org.locationtech.udig.catalog.kml.wizard.KmlExportWizard"
            icon="icons/icon_kml.png"
            id="org.locationtech.udig.catalog.kml.wizard.KmlExportWizard"
            name="%kmlExport.wizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.locationtech.udig.featureimportcategory"
            class="org.locationtech.udig.catalog.kml.wizard.KmlImportWizard"
            icon="icons/icon_kml.png"
            id="org.locationtech.udig.catalog.kml.wizard.KmlImportWizard"
            name="%kmlImport.wizardName">
         <description>
            %kmlImport.wizardDescription
         </description>
      </wizard>
   </extension>
</plugin>
