<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%ProjectCategory"
            id="net.refractions.udig.project.ui.project">
      </category>
      <view
            name="%ProjectView"
            icon="icons/eview16/project_view.gif"
            category="net.refractions.udig.project.ui.project"
            class="net.refractions.udig.project.ui.internal.ProjectExplorer"
            id="net.refractions.udig.project.ui.projectExplorer">
      </view>
      <view
            name="%LayerManager.name"
            icon="icons/eview16/layer_view.gif"
            category="net.refractions.udig.project.ui.project"
            class="net.refractions.udig.project.ui.internal.LayersView"
            id="net.refractions.udig.project.ui.layerManager">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.refractions.udig.project.ui.internal.MapEditor"
            contributorClass="net.refractions.udig.project.ui.internal.MapEditorActionBarContributor"
            default="false"
            icon="icons/obj16/map_obj.gif"
            id="net.refractions.udig.project.ui.mapEditorOld"
            name="%mapEditor.name">
      </editor>
      <editor
            class="net.refractions.udig.project.ui.internal.MapEditorWithPalette"
            contributorClass="net.refractions.udig.project.ui.internal.MapEditorActionBarContributor"
            default="true"
            icon="icons/obj16/map_obj.gif"
            id="net.refractions.udig.project.ui.mapEditor"
            name="%mapEditorPalette.name">
      </editor>
   </extension>
   
   <extension
       id="net.refractions.udig.project.ui.menus"
       name="Project Menus"
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="menu:org.eclipse.ui.main.menu?after=additions">
       <menu
             id="layer"
             label="%Layer.Name"
             mnemonic="L">
          <visibleWhen>
             <reference
                   definitionId="net.refractions.udig.project.ui.contribution.inLayerMenu">
             </reference>
          </visibleWhen>
       </menu>
    </menuContribution>
    <menuContribution
          locationURI="menu:layer">
       <separator
             name="layerStart"
             visible="true">
       </separator>
       <separator
             name="add.ext"
             visible="false">
       </separator>
       <separator
             name="layerAddEnd"
             visible="true">
       </separator>
       <separator
             name="mapGraphic.ext"
             visible="false">
       </separator>
       <separator
             name="mapGraphicOther.ext">
       </separator>
       <separator
             name="mapGraphicEnd"
             visible="true">
       </separator>
       <separator
             name="edit.ext">
       </separator>
       <dynamic
             class="net.refractions.udig.ui.operations.OpCategoryContributionItem:net.refractions.udig.project.ui.operation.layerCategory"
             id="layerCategory">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </dynamic>
       <separator
             name="additions">
       </separator>
       <separator
             name="layerEnd"
             visible="true">
       </separator>
       <command
             commandId="net.refractions.udig.project.ui.layerProperties"
             label="%Layer.properties.name"
             style="push"
             tooltip="%Layer.properties.tooltip">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </command>
    </menuContribution>
    <menuContribution
          locationURI="menu:org.eclipse.ui.main.menu?after=layer">
       <menu
             id="map"
             label="%Map.Name"
             mnemonic="P"
             tooltip="%Map.Tooltip">
          <visibleWhen>
             <reference
                   definitionId="net.refractions.udig.project.ui.contribution.inMapMenu">
             </reference>
          </visibleWhen>
       </menu>
    </menuContribution>
    <menuContribution
          locationURI="menu:map">
       <separator
             name="mapStart">
       </separator>
       <separator
             name="mode.ext">
       </separator>
       <separator
             name="modal.ext">
       </separator>
       <dynamic
             class="net.refractions.udig.ui.operations.OpCategoryContributionItem:net.refractions.udig.project.ui.operation.mapCategory"
             id="mapCategory">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </dynamic>
       <separator
             name="action.ext"
             visible="false">
       </separator>
       <dynamic
             class="net.refractions.udig.ui.operations.OpCategoryContributionItem:net.refractions.udig.project.ui.operation.mapModifyCategory"
             id="mapModifyCategory">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </dynamic>
       <separator
             name="additions">
       </separator>
       <separator
             name="mapEnd"
             visible="true">
       </separator>
       <command
             commandId="net.refractions.udig.project.ui.mapProperties"
             label="%Map.properties.name"
             style="push"
             tooltip="%Map.properties.tooltip">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </command>
    </menuContribution>
    <menuContribution
          locationURI="menu:edit?after=add.ext">
       <dynamic
             class="net.refractions.udig.ui.operations.OpCategoryContributionItem:net.refractions.udig.project.ui.operation.addCategory"
             id="addCategory">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </dynamic>
    </menuContribution>
    <menuContribution
          locationURI="menu:edit?after=additions">
       <dynamic
             class="net.refractions.udig.ui.operations.OpCategoryContributionItem:net.refractions.udig.project.ui.operation.featureCategory"
             id="featureCategory">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </dynamic>
       <dynamic
             class="net.refractions.udig.ui.operations.OpCategoryContributionItem:net.refractions.udig.project.ui.operation.featureModifyCategory"
             id="modifyFeatureCategory">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </dynamic>
       <dynamic
             class="net.refractions.udig.ui.operations.OpCategoryContributionItem:net.refractions.udig.project.ui.operation.selectionCategory"
             id="selectionCategory">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </dynamic>
       <dynamic
             class="net.refractions.udig.ui.operations.OpCategoryContributionItem:net.refractions.udig.project.ui.operation.selectionModifyCategory"
             id="modifySelectionCategory">
          <visibleWhen
                checkEnabled="true">
          </visibleWhen>
       </dynamic>
    </menuContribution>
 </extension>
   <extension
         point="net.refractions.udig.ui.operation">
      <operation
            categoryId="net.refractions.udig.project.ui.operation.layerCategory"
            class="net.refractions.udig.project.ui.operations.example.LayerSummary"
            id="net.refractions.udig.project.ui.layerSummary"
            menuPath="layer/additions"
            name="%layerSummary"
            targetClass="net.refractions.udig.project.ILayer">
      </operation>
   </extension> 
      <extension
         point="net.refractions.udig.project.ui.editorInputs">
      <editorInput
            editorPartID="net.refractions.udig.project.ui.mapEditor"
            projectElement="net.refractions.udig.project.internal.impl.MapImpl"
            class="net.refractions.udig.project.ui.internal.MapEditorInput"
            name="net.refractions.udig.project.internal.ui.mapEditorInput"/>
   </extension>
      <extension
            point="net.refractions.udig.ui.newObjectAction">
         <action
               class="net.refractions.udig.project.ui.internal.actions.AddToNewMap"
               icon="icons/etool16/newmap_wiz.gif"
               id="net.refractions.udig.project.ui.newMap"
               label="%map.new.label">
         </action>
         <action
               class="net.refractions.udig.project.ui.internal.actions.AddLayersAction"
               icon="icons/etool16/newlayer_wiz.gif"
               id="net.refractions.udig.project.ui.newLayer"
               label="%layer.new.label">
         </action>
      </extension>
      
   <extension
         point="org.eclipse.ui.startup">
      <startup class="net.refractions.udig.project.ui.internal.StartupOpenMaps"/>
   </extension>
   
   <extension
         id="net.refractions.udig.project.ui.map"
         point="org.eclipse.ui.actionSets">
       <actionSet
            id="net.refractions.udig.project.ui.map.menu"
            label="Map"
            visible="false">
      </actionSet>
      <actionSet
            id="net.refractions.udig.project.ui.layer.menu"
            label="Layer">
      </actionSet>
      <actionSet
            label="%LayerActions.label"
            description="%LayerActions.name"
            visible="false"
            id="net.refractions.udig.project.ui.LayerActions">
                  <action
                        class="net.refractions.udig.project.ui.internal.actions.NewLayerAction"
                        definitionId="net.refractions.udig.project.ui.command.new.layer"
                        icon="icons/etool16/newlayer_wiz.gif"
                        id="net.refractions.udig.project.ui.action1"
                        label="%new.label"
                        menubarPath="layer/add.ext"
                        style="push">
                  </action>
                  <action
                        label="%add.label"
                        class="net.refractions.udig.project.ui.internal.actions.AddLayersAction"
                        tooltip="%add.tooltip"
                        icon="icons/etool16/newlayer_wiz.gif"
                        definitionId="net.refractions.udig.project.ui.addLayerCommand"
                        style="push"
                        menubarPath="layer/add.ext"
                        id="net.refractions.udig.project.ui.AddLayerAction">
        </action>
                  <action
                        class="net.refractions.udig.project.ui.internal.actions.MylarAction"
                        icon="icons/elcl16/mylar_mode.gif"
                        id="net.refractions.udig.project.ui.mylar.action"
                        label="%mylarAction.label"
                        menubarPath="map/mode.ext"
                        style="push">
                  </action>
    </actionSet>
      <actionSet
            label="%renameActionSet.label"
            description="%renameActionSet.description"
            visible="false"
            id="net.refractions.udig.project.ui.renameSet">
         <action
               allowLabelUpdate="true"
               class="net.refractions.udig.project.ui.internal.actions.Rename"
               definitionId="net.refractions.udig.project.ui.renameCommand"
               enablesFor="1"
               id="net.refractions.udig.project.ui.renameAction"
               label="%rename.label"
               menubarPath="file/refresh"
               style="push"
               tooltip="%rename.tooltip">
            <enablement>
               <or>
                  <objectClass name="net.refractions.udig.project.IProjectElement"/>
                  <objectClass name="net.refractions.udig.project.ILayer"/>
                  <objectClass name="net.refractions.udig.project.IProject"/>
               </or>
            </enablement>
         </action>
      </actionSet>
      <actionSet
            description="%Layer.Query.Description"
            id="net.refractions.udig.project.ui.layerQuerySet"
            label="%Layer.Query.Name"
            visible="true">
      </actionSet>
      <actionSet
            description="%Layer.Modify.Description"
            id="net.refractions.udig.project.ui.layerModifySet"
            label="%Layer.Modify.Name"
            visible="true">
      </actionSet>
      <actionSet
            description="%Layer.Style.Description"
            id="net.refractions.udig.project.ui.layerStyleSet"
            label="%Layer.Style.Name"
            visible="true">
      </actionSet>
   </extension>
   <extension
         id="net.refractions.udig.project.ui.op.layer"
         name="Layer Operations"
         point="net.refractions.udig.ui.operation">
      <operation
            categoryId="net.refractions.udig.project.ui.operation.selectionCategory"
            class="net.refractions.udig.project.ui.operations.example.SelectedFeatureop"
            id="net.refractions.udig.project.ui.featureCount"
            menuPath="layer/additions"
            name="%featureCount"
            targetClass="net.refractions.udig.project.ILayer">
      </operation>
   </extension>   
         
</plugin>
