<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="eu.udig.image.georeferencing.categoryImage"
            class="org.locationtech.udig.image.georeferencing.ui.GeoreferencingView"
            icon="icons/etool16/georeferencing.png"
            id="eu.udig.image.georeferencing.ui.GeoreferencingView"
            name="Image Georeferencing"
            restorable="true">
      </view>
      <category
            id="eu.udig.image.georeferencing.categoryImage"
            name="Imagery">
      </category>
   </extension>
   <extension
         point="net.refractions.udig.mapgraphic.mapgraphic">
      <mapGraphic
            class="org.locationtech.udig.image.georeferencing.internal.ui.coordinatepanel.MapMarksGraphics"
            id="eu.udig.image.georeferencing.internal.ui.MapMarksGraphics"
            name="Georeferencing">
      </mapGraphic>
   </extension>
   <extension
         point="net.refractions.udig.project.ui.tool">
      <category
            commandId="eu.udig.image.georeferencing.categorytools"
            id="eu.udig.image.georeferencing.categorytools"
            name="Georeferencing">
      </category>
      <modalTool
            categoryId="eu.udig.image.georeferencing.categorytools"
            class="org.locationtech.udig.image.georeferencing.internal.ui.coordinatepanel.tools.AddCoordinateTool"
            icon="icons/etool16/place.png"
            id="eu.udig.image.georeferencing.tools.addcoordinate"
            name="Add coordinate"
            onToolbar="false"
            toolCursorId="addCoordinateCursor"
            tooltip="Add a coordinate from the map to the table">
         <enablement>
               <property
                     expectedValue="false"
                     propertyId="eu.udig.image.georeferencing.internal.ui.coordinatepanel.tools.CoordToolPropertyValue">
               </property>
         </enablement>
      </modalTool>
      <modalTool
            categoryId="eu.udig.image.georeferencing.categorytools"
            class="org.locationtech.udig.image.georeferencing.internal.ui.coordinatepanel.tools.DeleteCoordinateTool"
            icon="icons/etool16/delete.gif"
            id="eu.udig.image.georeferencing.tools.deletecoordinate"
            name="Delete coordinate"
            onToolbar="false"
            toolCursorId="deleteCoordinateCursor"
            tooltip="Delete coordinate mark from the map">
         <enablement>
               <property
                     expectedValue="false"
                     propertyId="eu.udig.image.georeferencing.internal.ui.coordinatepanel.tools.CoordToolPropertyValue">
               </property>
         </enablement>
      </modalTool>
      <modalTool
            categoryId="eu.udig.image.georeferencing.categorytools"
            class="org.locationtech.udig.image.georeferencing.internal.ui.coordinatepanel.tools.MoveCoordinateTool"
            icon="icons/etool16/movemarker.png"
            id="eu.udig.image.georeferencing.tools.movecoordinate"
            name="Move coordinate"
            onToolbar="false"
            toolCursorId="moveCoordinateCursor"
            tooltip="Move a coordinate mark on the map">
         <enablement>
               <property
                     expectedValue="false"
                     propertyId="eu.udig.image.georeferencing.internal.ui.coordinatepanel.tools.CoordToolPropertyValue">
               </property>
         </enablement>
      </modalTool>
      <toolCursor
            hotspotX="6"
            hotspotY="6"
            id="moveCoordinateCursor"
            image="icons/etool16/movemarker.png">
      </toolCursor>
      <toolCursor
            hotspotX="6"
            hotspotY="6"
            id="addCoordinateCursor"
            image="icons/etool16/place.png">
      </toolCursor>
      <toolCursor
            hotspotX="2"
            hotspotY="14"
            id="deleteCoordinateCursor"
            image="icons/etool16/delete.gif">
      </toolCursor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.locationtech.udig.image.georeferencing.internal.preferences.PreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="net.refractions.udig.ui.objectProperty">
      <object
            targetClass="java.lang.Object">
         <property
               class="org.locationtech.udig.image.georeferencing.internal.ui.coordinatepanel.tools.CoordToolPropertyValue"
               id="eu.udig.image.georeferencing.internal.ui.coordinatepanel.tools.CoordToolPropertyValue">
         </property>
      </object>
   </extension>

</plugin>
