<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="net.refractions.udig.catalog.ServiceExtension">
      <service
            class="net.refractions.udig.catalog.internal.worldimage.WorldImageServiceExtension"
            id="worldimage"
            name="World + Image"/>
   </extension>
   <extension
         point="net.refractions.udig.catalog.ui.fileFormat">
      <fileService fileExtension="*.gif"/>
      <fileService fileExtension="*.jpg"/>
      <fileService fileExtension="*.jpeg"/>
      <fileService fileExtension="*.png"/>
   </extension>


</plugin>
