<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="externalCatalogWizard" name="externalCatalogWizard" schema="schema/externalCatalogWizard.exsd"/>

   <extension
         point="org.locationtech.udig.browser.externalCatalogWizard">
         <externalCatalogue
               description="%external.catalogue.desc"
               icon="icons/sample.gif"
               id="org.locationtech.udig.uid.browser.generic"
               name="%external.catalogue.name"
               viewName="org.locationtech.udig.browser.default">
             <externalCataloguePage
                 class="org.locationtech.udig.browser.ui.URLImportPage"/>
         </externalCatalogue>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.locationtech.udig.browser.ui.BrowserContainerView"
            id="org.locationtech.udig.browser.ui.browserContainerView"
            name="%view.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.locationtech.udig.ui.mapPerspective">
         <viewShortcut id="org.locationtech.udig.browser.ui.browserContainerView"/>
         <view
               id="org.locationtech.udig.browser.ui.browserContainerView"
               relationship="stack"
               relative="org.locationtech.udig.catalog.ui.CatalogView"
               visible="true"/>
      </perspectiveExtension>
   </extension>
</plugin>
