<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.locationtech.udig.tutorials.featureeditor.views"
         name="Feature Editor Views"
         point="org.eclipse.ui.views">
      <view
            class="org.locationtech.udig.tutorials.featureeditor.CountryView"
            id="org.locationtech.udig.tutorials.featureeditor.views.country"
            name="Country">
      </view>
   </extension>
   <extension
         point="org.locationtech.udig.project.ui.featureEditor">
      <editor
            id="org.locationtech.udig.tutorials.featureeditor.countriesEditor"
            name="Country"
            viewId="org.locationtech.udig.tutorials.featureeditor.views.country">
         <featureType>
            <attribute
                  type="org.locationtech.jts.geom.MultiPolygon">
            </attribute>
            <attribute
                  name="CNTRY_NAME"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="GMI_CNTRY"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="COLOR_MAP"
                  type="java.lang.String">
            </attribute></featureType>
      </editor>
   </extension>
   <extension
         id="org.locationtech.udig.tutorials.featureeditor.panels"
         name="Tutorials Feature Panels"
         point="org.locationtech.udig.project.ui.featurePanel">
      <featurePanel
            description="Edit Country information using this handy form."
            id="org.locationtech.udig.tutorials.featureeditor.panels.countryPanel1"
            labelProvider="org.locationtech.udig.tutorials.featureeditor.CountryLabelProvider"
            name="Country"
            panel="org.locationtech.udig.tutorials.featureeditor.CountryFeaturePanel2"
            title="Country Feature">
         <featureType>
            <attribute
                  type="org.locationtech.jts.geom.MultiPolygon">
            </attribute>
            <attribute
                  name="CNTRY_NAME"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="GMI_CNTRY"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="COLOR_MAP"
                  type="java.lang.String">
            </attribute></featureType>
      </featurePanel>
      <featurePanel
            description="Statistics and facts about this country"
            id="org.locationtech.udig.tutorials.featureeditor.panels.countryPanel2"
            name="Statistics"
            panel="org.locationtech.udig.tutorials.featureeditor.CountryFeaturePanel3"
            title="Statistics">
         <featureType>
            <attribute
                  type="org.locationtech.jts.geom.MultiPolygon">
            </attribute>
            <attribute
                  name="CNTRY_NAME"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="GMI_CNTRY"
                  type="java.lang.String">
            </attribute>
            <attribute
                  name="COLOR_MAP"
                  type="java.lang.String">
            </attribute></featureType>
      </featurePanel>
   </extension>

</plugin>
