<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="net.refractions.udig.project.ui.tool">
      <modalTool
            class="net.refractions.udig.tutorial.tool.coordinate.CoordinateTool"
            icon="icons/etool16/xy.png"
            id="net.refractions.udig.tutorial.tool.coordinate"
            name="XY Coordinate Tool"
            onToolbar="true"/>
   </extension>

</plugin>
