<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
           id="net.refractions.udig.catalog.imageio.services"
           name="ImageIO Services"
           point="net.refractions.udig.catalog.ServiceExtension">
      <service
            class="net.refractions.udig.catalog.imageio.ImageServiceExtension"
            id="imageio"
            name="Image IO"/>
   </extension>
   <extension
         id="net.refractions.udig.catalog.imageio.formats"
         name="ImageIO File Formats"
         point="net.refractions.udig.catalog.ui.fileFormat">
      <fileService
            fileExtension="*.sid"
            name="MrSID"/>
      <fileService
            fileExtension="*.ecw"
            name="ECW"/>   
      <fileService
            fileExtension="*.img"
            name="HFA"/>     
      <fileService
            fileExtension="*.dt0,*.dt1,*.dt2"
            name="DTED"/>   
      <fileService
            fileExtension="*.on1,*.on2,*.on5"
            name="NITF"/>                                                 
                                            
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="net.refractions.udig.catalog.imageio.mosaicwizard.MosaicImportWizard"
            icon="icons/obj16/worldimage_obj.gif"
            id="eu.hydrologis.jgrass.dxfdwg.wizard.DxfImportWizard"
            name="%Import.ImagesAsMosaic">
         <description>
            %Import.ImagesAsMosaic.tooltip
         </description>
      </wizard>
   </extension>


</plugin>
