<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="net.refractions.udig.project.ui.tool">
         <actionTool
               categoryId="net.refractions.udig.tool.category.render"
               class="net.refractions.udig.tools.internal.RefreshTool"
               commandIds="net.refractions.udig.tools.refreshCommand"
               icon="icons/etool16/refresh_co.gif"
               id="net.refractions.udig.tools.refresh"
               menuPath="file/refresh"
               name="%refresh.name"
               onToolbar="true"
               tooltip="%refresh.tooltip">
         </actionTool>   
         <actionTool
               class="net.refractions.udig.tools.internal.CancelTool"
               icon="icons/etool16/cancel_all_co.gif"
               tooltip="%cancel.tooltip"
               categoryId="net.refractions.udig.tool.category.render"
               onToolbar="true"
               name="%cancel.name"
               id="net.refractions.udig.tools.cancel">
         </actionTool>   
         <modalTool
               categoryId="net.refractions.udig.tool.category.zoom"
               class="net.refractions.udig.tools.internal.Zoom"
               cursor="crosshair"
               icon="icons/etool16/zoom_mode.gif"
               id="net.refractions.udig.tools.Zoom"
               name="%zoom.tool.name"
               onToolbar="true"
               toolCursorId="zoomCursor"
               tooltip="%zoom.tool.tooltip">
         </modalTool>
         <modalTool
               categoryId="net.refractions.udig.tool.category.pan"
               class="net.refractions.udig.tools.internal.Pan"
               commandHandler="net.refractions.udig.tools.internal.PanHandler"
               commandIds="net.refractions.udig.tools.panRightCommand,net.refractions.udig.tools.panLeftCommand,net.refractions.udig.tools.panUpCommand,net.refractions.udig.tools.panDownCommand"
               icon="icons/etool16/pan_mode.gif"
               id="net.refractions.udig.tools.Pan"
               name="%pan.tool.name"
               onToolbar="true"
               optionsPage="net.refractions.udig.tools.options.PanToolOptionsContribution"
               toolCursorId="move"
               toolOptions="net.refractions.udig.tools.options.PanOptionsPage"
               tooltip="%pan.tool.tooltip">
            <toolOption
                  class="net.refractions.udig.tools.options.PanToolOptionsContribution"
                  id="pan">
            </toolOption>
         </modalTool>
         <backgroundTool
               name="ScrollZoom"
               class="net.refractions.udig.tools.internal.ScrollZoom"
               id="net.refractions.udig.tools.ScrollZoom">
         </backgroundTool>
         <actionTool
               categoryId="net.refractions.udig.tool.category.zoom"
               class="net.refractions.udig.tools.internal.ZoomExtent"
               commandHandler="net.refractions.udig.tools.internal.ZoomHandler"
               commandIds="net.refractions.udig.tool.default.zoom.all"
               icon="icons/etool16/zoom_extent_co.gif"
               id="net.refractions.udig.tools.ZoomExtent"
               menuPath="navigate/zoom.ext"
               name="%zoom.all.name"
               onToolbar="true"
               tooltip="%zoom.all.tooltip">
         </actionTool>

         <backgroundTool
               name="%cursorPosition.name"
               class="net.refractions.udig.tools.internal.CursorPosition"
               id="net.refractions.udig.tools.backgroundTool1">
         </backgroundTool>
               <actionTool
                     categoryId="net.refractions.udig.tool.category.zoom"
                     class="net.refractions.udig.tools.internal.ZoomIn"
                     commandHandler="net.refractions.udig.tools.internal.ZoomHandler"
                     commandIds="net.refractions.udig.tool.default.zoom.in"
                     icon="icons/etool16/zoom_in_co.gif"
                     id="net.refractions.udig.tool.default.ZoomIn"
                     menuPath="navigate/zoom.ext"
                     name="%zoomin.name"
                     onToolbar="true"
                     tooltip="%zoomin.tooltip"/>
               <actionTool
                     categoryId="net.refractions.udig.tool.category.zoom"
                     class="net.refractions.udig.tools.internal.ZoomOut"
                     commandHandler="net.refractions.udig.tools.internal.ZoomHandler"
                     commandIds="net.refractions.udig.tool.default.zoom.out"
                     icon="icons/etool16/zoom_out_co.gif"
                     id="net.refractions.udig.tool.default.ZoomOut"
                     menuPath="navigate/zoom.ext"
                     name="%zoomout.name"
                     onToolbar="true"
                     tooltip="%zoomout.tooltip"/>
               <actionTool
                     tooltip="%commit.tooltip"
                     icon="icons/etool16/outgo_synch.gif"
                     class="net.refractions.udig.tools.internal.CommitTool"
                     onToolbar="true"
                     name="%commit.name"
                     menuPath="edit/commit.ext"
                     id="net.refractions.udig.tool.default.commit"/>
               <actionTool
                     class="net.refractions.udig.tools.internal.RollbackTool"
                     icon="icons/etool16/clear_co.gif"
                     tooltip="%rollback.tooltip"
                     onToolbar="true"
                     name="%rollback.name"
                     menuPath="edit/commit.ext"
                     id="net.refractions.udig.tool.default.rollback"/>
               <toolCursor
                     hotspotX="10"
                     hotspotY="10"
                     id="zoomCursor"
                     image="icons/pointers/zoom_source.gif"/>
               <toolCursor
                     hotspotX="10"
                     hotspotY="10"
                     id="move"
                     image="icons/pointers/pan_source.gif"/>
               <toolCursor
                     hotspotX="5"
                     hotspotY="5"
                     id="boxSelectionCursor"
                     image="icons/pointers/point_select_source.gif"/>
               <backgroundTool
                     class="net.refractions.udig.tools.internal.PanMiddleMouse"
                     id="net.refractions.udig.tool.default.backgroundTool1"
                     name="Middle Mouse Pan"
                     tooltip="Pan holding the middle mouse down.">
               </backgroundTool>
               <modalTool
                     categoryId="net.refractions.udig.tool.category.pan"
                     class="net.refractions.udig.tools.internal.FixedScalePan"
                     icon="icons/etool16/pan_mode.gif"
                     id="net.refractions.udig.tools.FixedScalePan"
                     name="%FixedScalePan.name"
                     onToolbar="true"
                     toolCursorId="move"
                     tooltip="%FixedScalePan.tooltip">
               </modalTool>
               <modalTool
                     categoryId="net.refractions.udig.tool.category.pan"
                     class="net.refractions.udig.tools.internal.ScrollPanTool"
                     icon="icons/etool16/pan_mode.gif"
                     id="net.refractions.udig.tools.ScrollPan"
                     name="%ScrollPanTool.name"
                     onToolbar="true"
                     toolCursorId="move"
                     tooltip="%ScrollPanTool.tooltip">
               </modalTool>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="net.refractions.udig.tools.toolCategory"
            name="%pan.right.name"
            id="net.refractions.udig.tools.panRightCommand"/>
      <command
            categoryId="net.refractions.udig.tools.toolCategory"
            name="%pan.left.name"
            id="net.refractions.udig.tools.panLeftCommand"/>
      <command
            categoryId="net.refractions.udig.tools.toolCategory"
            name="%pan.up.name"
            id="net.refractions.udig.tools.panUpCommand"/>
      <command
            categoryId="net.refractions.udig.tools.toolCategory"
            name="%pan.down.name"
            id="net.refractions.udig.tools.panDownCommand"/>
      <command
            categoryId="net.refractions.udig.tools.toolCategory"
            description="%zoomin.tooltip"
            id="net.refractions.udig.tool.default.zoom.in"
            name="%zoom.command.in.name"/>
      <command
            categoryId="net.refractions.udig.tools.toolCategory"
            description="%zoomout.tooltip"
            id="net.refractions.udig.tool.default.zoom.out"
            name="%zoom.command.out.name"/>
      <command
            categoryId="net.refractions.udig.tools.toolCategory"
            description="%zoom.all.tooltip"
            id="net.refractions.udig.tool.default.zoom.all"
            name="%zoom.command.all.name"/>
      <command
            categoryId="net.refractions.udig.tools.toolCategory"
            description="%refresh.tooltip"
            id="net.refractions.udig.tools.refreshCommand"
            name="%refresh.name"/>
   </extension> 
      <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.refractions.udig.tools.panRightCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+ARROW_RIGHT"
            schemeId="net.refractions.udig.defaultUDIGKeyConfiguration"/>
      <key
            commandId="net.refractions.udig.tools.panLeftCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+ARROW_LEFT"
            schemeId="net.refractions.udig.defaultUDIGKeyConfiguration"/>
      <key
            commandId="net.refractions.udig.tools.panUpCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+ARROW_UP"
            schemeId="net.refractions.udig.defaultUDIGKeyConfiguration"/>
      <key
            commandId="net.refractions.udig.tools.panDownCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+ARROW_DOWN"
            schemeId="net.refractions.udig.defaultUDIGKeyConfiguration"/>
      <key
            commandId="net.refractions.udig.tool.default.zoom.in"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.refractions.udig.defaultUDIGKeyConfiguration"
            sequence="M1+="/>
      <key
            commandId="net.refractions.udig.tool.default.zoom.out"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.refractions.udig.defaultUDIGKeyConfiguration"
            sequence="M1+-"/>
      <key
            commandId="net.refractions.udig.tool.default.zoom.all"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.refractions.udig.defaultUDIGKeyConfiguration"
            sequence="M1+BACKSPACE"/>
      <key
            commandId="net.refractions.udig.tools.refreshCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="net.refractions.udig.defaultUDIGKeyConfiguration"
            sequence="F5"/>
   </extension>
</plugin>
