<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="styleConfigurator" name="%styleConfigurators.name" schema="schema/styleConfigurator.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            icon="icons/style_tsk.gif"
            class="net.refractions.udig.style.ui.StyleView"
            category="net.refractions.udig.project.ui.project"
            name="%styleViewName"
            id="net.refractions.udig.style.styleView"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="net.refractions.udig.ui.mapPerspective">
         <viewShortcut id="net.refractions.udig.style.styleView"/>
      </perspectiveExtension>
   </extension>


</plugin>
