<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="x.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="x.Perspective"
            fixed="false"
            id="X.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="x.View"
            id="X.view"
            name="View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="X.view"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="net.refractions.udig.project.ui.tool">
      <modalTool
            categoryId="net.refractions.udig.tool.category.info"
            class="RInfoTool"
            icon="icons/etool16/info_mode.gif"
            id="X.modalTool1"
            name="Info"
            onToolbar="true"
            toolCursorId="X.toolCursor1">
      </modalTool>
      <toolCursor
            hotspotX="5"
            hotspotY="5"
            id="X.toolCursor1"
            image="icons/pointer/info_source.png">
      </toolCursor>
   </extension>
   <extension
         point="net.refractions.udig.project.ui.toolManagers">
      <toolManager
            class="x.CustomToolManager"
            id="X.customToolManager">
      </toolManager>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="X.application"
            name="X">
         <property
               name="appName"
               value="X">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
