<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/**
 * <copyright>
 * </copyright>
 *
 * $Id: plugin.xml 14902 2005-07-25 21:36:48Z jdeolive $
 */
-->

<plugin>

    <extension
        point="net.refractions.udig.project.ui.itemProviderAdapterFactories">
     <itemProviderAdapterFactory class="net.refractions.udig.printing.model.provider.ModelItemProviderAdapterFactory"/>
  </extension>

</plugin>

