<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="fileFormat" name="fileFormat" schema="schema/fileFormat.exsd"/>
   <extension-point id="connectionErrorHandler" name="Connection Error Handler" schema="schema/connectionHandler.exsd"/>
   <extension-point id="connectionFactory" name="Connection Factory" schema="schema/connectionFactory.exsd"/>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%Resource.Query.Description"
            id="net.refractions.udig.catalog.ui.resourceQuerySet"
            label="%Resource.Query.Name"
            visible="false">
      </actionSet>
      <actionSet
            description="%Resource.Modify.Description"
            id="net.refractions.udig.catalog.ui.resourceModifySet"
            label="%Resource.Modify.Name"
            visible="false">
      </actionSet>
      <actionSet
            description="%Service.Query.Description"
            id="net.refractions.udig.catalog.ui.serviceQuerySet"
            label="%Service.Query.Name"
            visible="false">
      </actionSet>
      <actionSet
            description="%Service.Modify.Description"
            id="net.refractions.udig.catalog.ui.serviceModifySet"
            label="%Service.Modify.Name"
            visible="false">
      </actionSet>
      <actionSet
            id="net.refractions.udig.catalog.ui.data.menu"
            label="Data"
            visible="false">
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="net.refractions.udig.catalog.ui.contribution.inResourceQuerySet">
         <with
               variable="activeContexts">
            <iterate
                  operator="or">
               <equals
                     value="net.refractions.udig.catalog.ui.resourceQuerySet">
               </equals>
            </iterate>
         </with>
      </definition>
      <definition
            id="net.refractions.udig.catalog.ui.contribution.inResourceModifySet">
         <with
               variable="activeContexts">
            <iterate
                  operator="or">
               <equals
                     value="net.refractions.udig.catalog.ui.resourceModifySet">
               </equals>
            </iterate>
         </with>
      </definition>
      <definition
            id="net.refractions.udig.catalog.ui.contribution.inServiceQuerySet">
         <with
               variable="activeContexts">
            <iterate
                  operator="or">
               <equals
                     value="net.refractions.udig.catalog.ui.serviceQuerySet">
               </equals>
            </iterate>
         </with>
      </definition>
      <definition
            id="net.refractions.udig.catalog.ui.contribution.inServiceModifySet">
         <with
               variable="activeContexts">
            <iterate
                  operator="or">
               <equals
                     value="net.refractions.udig.catalog.ui.serviceModifySet">
               </equals>
            </iterate>
         </with>
      </definition>
      <definition
            id="net.refractions.udig.catalog.ui.contribution.data.menu">
         <with
               variable="activeContexts">
            <iterate
                  operator="or">
               <equals
                     value="net.refractions.udig.catalog.ui.data.menu">
               </equals>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.refractions.udig.catalog.internal.ui.actions.ResetServiceHandler"
            commandId="net.refractions.udig.catalog.ui.command.reset">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="net.refractions.udig.catalog.ui.service"
            name="%Service Commands">
      </category>
      <command
            categoryId="net.refractions.udig.catalog.ui.service"
            description="%resetService.tooltip"
            id="net.refractions.udig.catalog.ui.command.reset"
            name="%resetService.label"
            returnTypeId="IService">
      </command>
      <command
            categoryId="net.refractions.udig.catalog.ui.service"
            description="%Service Properties.Tooltip"
            id="net.refractions.udig.catalog.ui.command.serviceProperties"
            name="%Service.Properties.Name">
      </command>
   </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="menu:org.eclipse.ui.main.menu?before=window">
            <menu
                  id="data"
                  label="%data.name"
                  mnemonic="D"
                  tooltip="%data.tooltip">
              <visibleWhen>
                  <reference
                        definitionId="net.refractions.udig.catalog.ui.contribution.data.menu">
                  </reference>
               </visibleWhen>
            </menu>
         </menuContribution>
         <menuContribution
               locationURI="menu:data">
            <separator
                  name="mbStart">
            </separator>
            <dynamic
                  class="net.refractions.udig.ui.operations.OpCategoryContributionItem:net.refractions.udig.catalog.ui.operation.resourceCategory"
                  id="resource.ext">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </dynamic>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <dynamic
                  class="net.refractions.udig.ui.operations.OpCategoryContributionItem:net.refractions.udig.catalog.ui.operation.serviceCategory"
                  id="service.ext">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </dynamic>
            <command
                  commandId="net.refractions.udig.catalog.ui.command.reset"
                  id="reset"
                  label="%resetService.label"
                  mnemonic="R"
                  tooltip="%resetService.tooltip">
               <visibleWhen>
                  <reference
                        definitionId="net.refractions.udig.catalog.ui.contribution.inServiceActionSet">
                  </reference>
               </visibleWhen>
            </command>
            <separator
                  name="mbEnd">
            </separator>
            <command
                  commandId="net.refractions.udig.catalog.ui.command.serviceProperties"
                  label="%Service.Properties.Name"
                  tooltip="%Service.Properties.Tooltip">
            </command>
         </menuContribution>
      </extension>
   <extension-point id="reshapePostAction" name="reshapePostAction" schema="schema/reshapePostAction.exsd"/>

   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml"
            plugin="net.refractions.udig.catalog.ui">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%Catalog"
            allowMultiple="true"
            icon="icons/eview16/catalog_view.gif"
            category="catalog"
            class="net.refractions.udig.catalog.internal.ui.CatalogView"
            id="net.refractions.udig.catalog.ui.CatalogView">
         <description>
            %catalog.description
         </description>
      </view>
      <category
            name="%Catalog"
            id="catalog">
      </category>
      <view
            allowMultiple="true"
            class="net.refractions.udig.catalog.ui.search.SearchView"
            icon="icons/eview16/searchres.gif"
            category="catalog"
            name="%Search"
            id="net.refractions.udig.catalog.ui.Search">
         <description>
            %search.description
         </description>
      </view>
   </extension>
   <extension
         name="catalogPerspectiveContributions"
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="net.refractions.udig.ui.mapPerspective">
         <viewShortcut id="net.refractions.udig.catalog.ui.Search"/>  
		 <view
               closeable="true"
               standalone="true"
               moveable="true"
               visible="true"
               showTitle="true"
               relative="net.refractions.udig.catalog.ui.CatalogView"
               relationship="stack"
               id="net.refractions.udig.catalog.ui.Search"/>               
      </perspectiveExtension>
   </extension>
   

   <extension
         point="net.refractions.udig.catalog.ui.connectionFactory">
     <factory class="net.refractions.udig.catalog.ui.FileConnectionFactory"
            id="net.refractions.udig.catalog.ui.openFileConnection"/>
      <wizardPage
            banner="icons/wizban/feature_file_wiz.gif"
            class="net.refractions.udig.catalog.ui.FileConnectionPage"
            description="%wizard.fileopen.description"
            icon="icons/etool16/file_wiz.gif"
            id="net.refractions.udig.catalog.ui.openFilePage"
            name="%wizard.fileopen.name"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="net.refractions.udig.catalog.internal.ui.IResolveAdapterFactory"
            adaptableType="net.refractions.udig.catalog.IResolve">
         <adapter type="net.refractions.udig.core.IBlockingAdaptable"/>
      </factory>
   </extension>
   <extension
        point="org.eclipse.ui.exportWizards">
     <wizard
           class="net.refractions.udig.catalog.ui.export.CatalogExport$CatalogExportAdapter"
           icon="icons/etool16/exportshapefile_wiz.gif"
           id="net.refractions.udig.catalog.ui.dataExportWizard"
           name="%layerExport.name">
        <description>
           %layerExport.desc
        </description>
     </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="net.refractions.udig.catalog.internal.ui.CatalogImport$CatalogImportAdapter"
            icon="icons/obj16/repository_obj.gif"
            id="net.refractions.udig.catalog.ui.dataImportWizard"
            name="%dataImportWizard.name">
         <description>Import a spatial data source into the catalog.</description>
      </wizard>
   </extension>

 	<extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="net.refractions.udig.catalog.IService"
            id="net.refractions.udig.project.ui.IServiceContribution">
         <action
               class="net.refractions.udig.catalog.internal.ui.actions.ResetService"
               id="net.refractions.udig.catalog.ui.ResetService"
               label="%resetService.label"
               menubarPath="additions"
               tooltip="%resetService.tooltip"/>
      </objectContribution>         
   </extension>
  <extension
        point="net.refractions.udig.ui.dropAction">
        <action
              class="net.refractions.udig.catalog.internal.ui.actions.CatalogImportDropAction"
              enablesFor="+"
              name="%import.action.name">
	       <acceptedType class="java.net.URL"/>
	       <acceptedType class="java.lang.String"/>
	       <acceptedType class="java.io.File"/>
	       <destination class="net.refractions.udig.catalog.internal.ui.CatalogView"/>
           <acceptedType
                 adapt="true"
                 class="net.refractions.udig.catalog.IResolve"/>
           <destination
                 adapt="true"
                 class="net.refractions.udig.catalog.IResolve"/>
	    </action>
  </extension>
  <extension
        id="net.refractions.udig.catalog.operations"
        point="net.refractions.udig.ui.operation">
     <operation
           categoryId="net.refractions.udig.ui.edit"
           class="net.refractions.udig.catalog.internal.ui.ops.NewFeatureTypeOp"
           enablesFor="1"
           id="net.refractions.udig.catalog.ui.newFeatureType"
           menuPath="layer/new"
           name="%newFeatureType"
           targetClass="net.refractions.udig.catalog.IService">
        <enablement>
           <adaptsTo target="org.geotools.data.DataStore"/>
        </enablement>
     </operation>
     <category
           context="Service"
           id="net.refractions.udig.catalog.ui.operation.serviceCategory"
           name="%Service.Category">
        <menuContribution
              locationURI="menu:data?before=wbEnd">
        </menuContribution>
     </category>

     <operation
           categoryId="net.refractions.udig.catalog.ui.operation.serviceCategory"
           class="net.refractions.udig.catalog.internal.ui.ops.NewFeatureTypeOp"
           enablesFor="1"
           id="net.refractions.udig.catalog.ui.addFeatureType"
           name="%AddFeatureType"
           targetClass="net.refractions.udig.catalog.IService">
        <enablement>
           <adaptsTo target="org.geotools.data.DataStore"/>
        </enablement>
     </operation>
       <operation
             categoryId="net.refractions.udig.catalog.ui.operation.resourceCategory"
             class="net.refractions.udig.catalog.ui.operation.ReshapeOperation"
             id="net.refractions.udig.catalog.ui.operation.operationReshape"
             name="%Reshape"
             targetClass="net.refractions.udig.catalog.IGeoResource">
          <enablement>
             <adaptsTo
                   target="org.geotools.data.FeatureSource">
             </adaptsTo>
          </enablement>
       </operation>
     <category
           context="GeoResource"
           id="net.refractions.udig.catalog.ui.operation.resourceCategory"
           name="%Resource.Category">
        <menuContribution
              locationURI="menu:data?after=wbStart">
        </menuContribution>
     </category>
     
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="net.refractions.udig.catalog.ui.preferences.CatalogPreferencePage"
           id="net.refractions.udig.catalog.ui.preferences.CatalogPreferencePage"
           name="%catalog.preferences.name"/>
  </extension>
  <extension
          point="net.refractions.udig.catalog.ui.connectionFactory">
       <factory class="net.refractions.udig.catalog.memory.NewServiceConnectionFactory"
       			 id = "net.refractions.udig.catalog.import.memory"/>
  </extension>
  
</plugin>
