<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="net.refractions.udig.tutorials.tracking.graphics"
         name="Tracking MapGraphic"
         point="net.refractions.udig.mapgraphic.mapgraphic">
      <mapGraphic
            class="net.refractions.udig.tutorials.tracking.TrackingGraphic"
            icon="icons/etool16/gull.png"
            id="net.refractions.udig.tutorials.tracking.mapgraphic"
            name="Tracking Graphic">
      </mapGraphic>
   </extension>
   <extension
         id="net.refractions.udig.tutorials.tracking.createdata"
         name="create data"
         point="net.refractions.udig.ui.operation">
      <operation
            class="net.refractions.udig.tutorials.tracking.CreateSeagulls"
            enablesFor="1"
            id="net.refractions.udig.tutorials.tracking.createdata.seagulls"
            name="create seagulls"
            targetClass="net.refractions.udig.project.IMap">
         <enablement></enablement>
      </operation>
      <operation
            class="net.refractions.udig.tutorials.tracking.glasspane.SeagullGlassPaneOp"
            enablesFor="1"
            id="net.refractions.udig.tutorials.tracking.operation.seagull.glasspane"
            name="Create Seagull GlassPane"
            targetClass="net.refractions.udig.project.IMap">
         <enablement></enablement>
      </operation>
      <operation
            class="net.refractions.udig.tutorials.tracking.glasspane.TrackSeagullOp"
            enablesFor="1"
            id="net.refractions.udig.tutorials.tracking.TrackSeagull"
            name="Track Seagull"
            targetClass="net.refractions.udig.project.IMap">
         <enablement></enablement>
      </operation>
   </extension>
   <extension
         point="net.refractions.udig.project.ui.tool">
      <modalTool
            class="net.refractions.udig.tutorials.tracking.glasspane.SeagullTool"
            icon="icons/etool16/gull.png"
            id="net.refractions.udig.tutorials.tracking.mousetracking"
            name="Seagulls Mouse"
            onToolbar="true"
            tooltip="Seagulls Follow Mouse">
      </modalTool>      
   </extension>

</plugin>
