<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.locationtech.udig.project.element">
      <element
            class="org.locationtech.udig.tutorials.genericprojectelement.MyProjectElement"
            fileExtension=".my"
            icon="icons/obj/object_obj.gif"
            id="org.locationtech.udig.tutorials.genericprojectelement.element1"
            label="MyElement"
            labelProvider="org.locationtech.udig.tutorials.genericprojectelement.MyProjectElementLabelProvider">
      </element>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.locationtech.udig.tutorials.genericprojectelement.actionSet1"
            label="ProjectElementTutorials"
            visible="true">
         <action
               class="org.locationtech.udig.tutorials.genericprojectelement.AddElementAction"
               id="org.locationtech.udig.tutorials.genericprojectelement.action1"
               label="AddElement"
               menubarPath="additions"
               style="push"
               toolbarPath="additions">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.locationtech.udig.tutorials.genericprojectelement.MyElementEditor"
            default="true"
            icon="icons/obj/object_obj.gif"
            id="org.locationtech.udig.tutorials.genericprojectelement.editor2"
            name="MyElementEditor">
      </editor>
   </extension>
   <extension
         point="org.locationtech.udig.project.ui.editorInputs">
      <editorInput
            class="org.locationtech.udig.tutorials.genericprojectelement.MyElementEditorInput"
            editorPartID="org.locationtech.udig.tutorials.genericprojectelement.editor2"
            name="MyElementEditorInput"
            projectElement="org.locationtech.udig.tutorials.genericprojectelement.MyProjectElement">
      </editorInput>
   </extension>

</plugin>
