<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.locationtech.udig.catalog.ServiceExtension">
      <service
            class="org.locationtech.udig.catalog.MySQLServiceExtension"
            id="mysql"
            name="Mysql">
      </service>
   </extension>
   <extension
         point="org.locationtech.udig.catalog.ui.connectionFactory">
      <factory
            class="org.locationtech.udig.catalog.internal.mysql.ui.MySQLuDigConnectionFactory"
            id="com.iai.udig.catalog.mysql.factory">
      </factory>
      <wizardPage
            banner="icons/wizban/mysql_wiz.png"
            class="org.locationtech.udig.catalog.internal.mysql.ui.MySQLUserHostPage"
            description="%wizard.description"
            icon="icons/etool16/mysql_wiz.png"
            name="MySQL host">
      </wizardPage>
      <wizardPage
            banner="icons/wizban/mysql_wiz.png"
            class="org.locationtech.udig.catalog.service.database.DataConnectionPage"
            description="%wizard.description"
            icon="icons/etool16/mysql_wiz.png"
            name="MySQL connection ">
      </wizardPage>
   </extension>

</plugin>
