<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.locationtech.udig.project.projectElementFactories">
      <projectElementFactory
            class="org.locationtech.udig.printing.model.PageProjectElementFactory"
            id="org.locationtech.udig.printing.model.pageProjectElementFactory"/>
   </extension>

</plugin>
