<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.refractions.udig.catalog.ServiceExtension">
      <service
            class="eu.udig.catalog.jgrass.core.JGrassServiceExtension"
            id="eu.udig.catalog.jgrass.jgservice"/>
   </extension>
   <extension
         point="net.refractions.udig.catalog.ui.connectionFactory">
      <factory
            class="eu.udig.catalog.jgrass.core.JGrassConnectionFactory"
            id="eu.hydrologis.udig.catalog.internal.jgrass.ui.JGrassConnectionFactory"/>
      <wizardPage
            banner="icons/wizban/jgrass_wiz.png"
            class="eu.udig.catalog.jgrass.core.JGrassWizardPage"
            description="%wizard.description"
            icon="icons/etool16/jgrass_wiz.png"
            id="eu.hydrologis.udig.catalog.internal.jgrass.ui.jgrasswizardpage"
            name="%wizard.name"/>
   </extension>
   <extension
         point="net.refractions.udig.catalog.ui.fileFormat">
      <fileService
            fileExtension="*.jgrass"
            name="%fileService.name"/>
   </extension>
   <extension
         id="net.refractions.udig.catalog.shp.jgrasstofileresolver"
         point="net.refractions.udig.catalog.resolvers">
      <factory
            class="eu.udig.catalog.jgrass.core.JGrassServiceMover"
            resolveableType="eu.udig.catalog.jgrass.core.JGrassService">
         <resolve
               type="net.refractions.udig.catalog.ServiceMover">
         </resolve>
      </factory>
   </extension>
   <extension
         point="net.refractions.udig.ui.operation">
      <category
            description="%jgrass.catalog.operations.toltip"
            id="eu.udig.catalog.jgrass.category"
            name="%jgrass.catalog.operations">
      </category>
      <operation
            categoryId="eu.udig.catalog.jgrass.category"
            class="eu.udig.catalog.jgrass.operations.JGrassMapsetAddOperation"
            enablesFor="1"
            id="eu.udig.catalog.jgrass.mapsetaddop"
            name="%add.mapset"
            targetClass="eu.udig.catalog.jgrass.core.JGrassService">
      </operation>
      <operation
            categoryId="eu.udig.catalog.jgrass.category"
            class="eu.udig.catalog.jgrass.operations.JGrassMapsetRemoveOperation"
            enablesFor="1"
            id="eu.udig.catalog.jgrass.mapsetremoveop"
            name="%remove.mapset"
            targetClass="eu.udig.catalog.jgrass.core.JGrassMapsetGeoResource">
      </operation>
      <operation
            categoryId="eu.udig.catalog.jgrass.category"
            class="eu.udig.catalog.jgrass.operations.JGrassMapRemoveOperation"
            enablesFor="1"
            id="eu.udig.catalog.jgrass.removeop"
            name="%remove.map"
            targetClass="eu.udig.catalog.jgrass.core.JGrassMapGeoResource">
      </operation>
      <operation
            categoryId="eu.udig.catalog.jgrass.category"
            class="eu.udig.catalog.jgrass.operations.GrassReprojectOperation"
            enablesFor="+"
            id="eu.udig.catalog.jgrass.grassreprojectop"
            name="%export.grassreproject"
            targetClass="eu.udig.catalog.jgrass.core.JGrassMapGeoResource">
      </operation>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="eu.udig.catalog.jgrass.category"
            class="eu.udig.catalog.jgrass.workspacecreation.NewJGrassLocationWizard"
            descriptionImage="icons/wizban/jgrass_wiz.png"
            icon="icons/obj16/jgrass_obj.png"
            id="eu.udig.catalog.jgrass.wizard.createworkspace"
            name="%wizard.name">
      </wizard>
      <category
            id="eu.udig.catalog.jgrass.category"
            name="JGrass">
      </category>
   </extension>
<extension
         id="activemapgraphicid"
         point="net.refractions.udig.mapgraphic.mapgraphic">
      <mapGraphic
            class="eu.hydrologis.jgrass.activeregion.ActiveRegionMapGraphic"
            icon="icons/etool16/active.png"
            id="eu.hydrologis.jgrass.activeregion.activeregionmapgraphic"
            name="%activeregion.name"/>
   </extension>
   <extension
         point="net.refractions.udig.project.style">
      <style
            class="eu.hydrologis.jgrass.activeregion.ui.ActiveregionStyleContent"
            id="eu.hydrologis.jgrass.activeregion.activeregionStyle"
            name="%activeregion.style.name">
      </style>
   </extension>
   <extension
         point="net.refractions.udig.style.styleConfigurator">
      <styleConfigurator
            class="eu.hydrologis.jgrass.activeregion.ui.ActiveregionGraphicStyleConfigurator"
            id="activeregion"
            label="%activeregion.style.conf.label"
            requires="eu.hydrologis.jgrass.activeregion.ActiveRegionMapGraphic"
            styleId="eu.hydrologis.jgrass.activeregion.activeregionStyle">
      </styleConfigurator>
   </extension>
   <extension
         point="net.refractions.udig.project.ui.tool">
      <modalTool
            categoryId="eu.hydrologis.jgrass.tools.category"
            class="eu.hydrologis.jgrass.activeregion.ui.ActiveRegionBBoxSelection"
            icon="icons/etool16/active.png"
            id="net.refractions.udig.tools.selectactiveregion"
            name="%activeregion.bbox"
            onToolbar="true"
            toolCursorId="bboxactiveregion"
            tooltip="%activeregion.bbox">
         <cursor
               hotspotX="10"
               hotspotY="10"
               id="bboxactiveregion"
               image="icons/select_source.png">
         </cursor>
      </modalTool>
      <toolCursor
            hotspotX="10"
            hotspotY="10"
            id="bboxactiveregion"
            image="icons/select_source.png">
      </toolCursor>
   </extension>

</plugin>
