<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.refractions.udig.catalog.ServiceExtension">
      <service
            class="eu.udig.catalog.jgrass.core.JGrassServiceExtension"
            id="eu.udig.catalog.jgrass.jgservice"/>
   </extension>
   <extension
         point="net.refractions.udig.catalog.ui.connectionFactory">
      <factory
            class="eu.udig.catalog.jgrass.core.JGrassConnectionFactory"
            id="eu.hydrologis.udig.catalog.internal.jgrass.ui.JGrassConnectionFactory"/>
      <wizardPage
            banner="icons/wizban/jgrass_wiz.png"
            class="eu.udig.catalog.jgrass.core.JGrassWizardPage"
            description="%wizard.description"
            icon="icons/etool16/jgrass_wiz.png"
            id="eu.hydrologis.udig.catalog.internal.jgrass.ui.jgrasswizardpage"
            name="%wizard.name"/>
   </extension>
   <extension
         point="net.refractions.udig.catalog.ui.fileFormat">
      <fileService
            fileExtension="*.jgrass"
            name="%fileService.name"/>
   </extension>
   <extension
         id="net.refractions.udig.catalog.shp.jgrasstofileresolver"
         point="net.refractions.udig.catalog.resolvers">
      <factory
            class="eu.udig.catalog.jgrass.core.JGrassServiceMover"
            resolveableType="eu.udig.catalog.jgrass.core.JGrassService">
         <resolve
               type="net.refractions.udig.catalog.ServiceMover">
         </resolve>
      </factory>
   </extension>
   <extension
         point="net.refractions.udig.ui.operation">
      <category
            description="%jgrass.catalog.operations.toltip"
            id="eu.udig.catalog.jgrass.category"
            name="%jgrass.catalog.operations">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="eu.udig.catalog.jgrass.category"
            class="eu.udig.catalog.jgrass.workspacecreation.NewJGrassLocationWizard"
            descriptionImage="icons/wizban/jgrass_wiz.png"
            icon="icons/obj16/jgrass_obj.png"
            id="eu.udig.catalog.jgrass.wizard.createworkspace"
            name="%wizard.name">
      </wizard>
      <wizard
            category="eu.udig.catalog.jgrass.category"
            class="eu.udig.catalog.jgrass.workspacecreation.NewJGrassLocationFromFileWizard"
            descriptionImage="icons/wizban/jgrass_wiz.png"
            icon="icons/obj16/jgrass_obj.png"
            id="eu.udig.catalog.jgrass.wizard.createworkspacefromfile"
            name="%wizardfromfile.name">
      </wizard>
      <category
            id="eu.udig.catalog.jgrass.category"
            name="JGrass">
      </category>
   </extension>
<extension
         id="activemapgraphicid"
         point="net.refractions.udig.mapgraphic.mapgraphic">
      <mapGraphic
            class="eu.udig.catalog.jgrass.activeregion.ActiveRegionMapGraphic"
            icon="icons/etool16/active.png"
            id="eu.udig.catalog.jgrass.activeregion.activeregionmapgraphic"
            name="%activeregion.name"/>
   </extension>
   <extension
         point="net.refractions.udig.project.style">
      <style
            class="eu.udig.catalog.jgrass.activeregion.ActiveregionStyleContent"
            id="eu.udig.catalog.jgrass.activeregion.activeregionStyle"
            name="%activeregion.style.name">
      </style>
   </extension>
   <extension
         point="net.refractions.udig.style.styleConfigurator">
      <styleConfigurator
            class="eu.udig.catalog.jgrass.activeregion.ActiveregionGraphicStyleConfigurator"
            id="activeregion"
            label="%activeregion.style.conf.label"
            requires="eu.udig.catalog.jgrass.activeregion.ActiveRegionMapGraphic"
            styleId="eu.udig.catalog.jgrass.activeregion.activeregionStyle">
      </styleConfigurator>
   </extension>
   <!--
   <extension
         point="net.refractions.udig.project.ui.tool">
      <modalTool
            categoryId="eu.hydrologis.jgrass.tools.category"
            class="eu.udig.catalog.jgrass.activeregion.ActiveRegionBBoxSelection"
            icon="icons/etool16/active.png"
            id="net.refractions.udig.tools.selectactiveregion"
            name="%activeregion.bbox"
            onToolbar="true"
            toolCursorId="bboxactiveregion"
            tooltip="%activeregion.bbox">
         <cursor
               hotspotX="10"
               hotspotY="10"
               id="bboxactiveregion"
               image="icons/select_source.png">
         </cursor>
      </modalTool>
      <toolCursor
            hotspotX="10"
            hotspotY="10"
            id="bboxactiveregion"
            image="icons/select_source.png">
      </toolCursor>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="eu.udig.catalog.jgrass.core.JGrassMapsetGeoResource.contribution"
            objectClass="eu.udig.catalog.jgrass.core.JGrassMapsetGeoResource">
         <action
               class="eu.udig.catalog.jgrass.operations.RemoveMapsetAction"
               icon="icons/delete_mapset.png"
               id="eu.udig.catalog.jgrass.operations.RemoveMapsetAction"
               label="Delete Mapsets"
               tooltip="Delete mapset from location on disk">
         </action>
         <action
               class="eu.udig.catalog.jgrass.operations.ImportEsriAsciiOrGeotiffAction"
               icon="icons/map_add.png"
               id="eu.udig.catalog.jgrass.operations.ImportEsriAsciiAction"
               label="Import Esri Ascii or Geotiff"
               tooltip="Import an Esri Ascii grid into the mapset">
         </action>
         <action
               class="eu.udig.catalog.jgrass.operations.OpenFolderAction"
               icon="icons/folder_layer.png"
               id="eu.udig.catalog.jgrass.operations.OpenFolderAction"
               label="Open folder"
               tooltip="Open this folder in a file browser">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.udig.catalog.jgrass.core.JGrassService.contribution"
            objectClass="eu.udig.catalog.jgrass.core.JGrassService">
                     <action
                           class="eu.udig.catalog.jgrass.operations.OpenFolderAction"
                           icon="icons/folder_layer.png"
                           id="eu.udig.catalog.jgrass.operations.OpenFolderAction"
                           label="Open folder"
                           tooltip="Open this folder in a file browser">
         </action>
                     <action
                           class="eu.udig.catalog.jgrass.operations.AddMapsetAction"
                           icon="icons/add_mapset.png"
                           id="eu.udig.catalog.jgrass.operations.AddMapsetAction"
                           label="Add new Mapset"
                           tooltip="Create a new mapset in the location">
                     </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.udig.catalog.jgrass.core.JGrassMapGeoResource.contribution"
            objectClass="eu.udig.catalog.jgrass.core.JGrassMapGeoResource">
                     <action
                           class="eu.udig.catalog.jgrass.operations.GrassReprojectAction"
                           icon="icons/reproject_map.png"
                           id="eu.udig.catalog.jgrass.operations.GrassReprojectAction"
                           label="%export.grassreproject"
                           tooltip="%export.grassreproject">
         </action>
                     <action
                           class="eu.udig.catalog.jgrass.operations.SetActiveRegionToMapsAction"
                           icon="icons/etool16/active.png"
                           id="eu.udig.catalog.jgrass.operations.SetActiveRegionToMapsAction"
                           label="Set active region to maps"
                           tooltip="Set the active region to wrap all the selected maps">
         </action>
                     <action
                           class="eu.udig.catalog.jgrass.operations.CopyOnActiveRegionAction"
                           icon="icons/raster_copy.png"
                           id="eu.udig.catalog.jgrass.operations.CopyOnActiveRegionAction"
                           label="Copy Map"
                           tooltip="Duplicate map on active region">
         </action>
                     <action
                           class="eu.udig.catalog.jgrass.operations.RemoveMapAction"
                           icon="icons/raster_delete.png"
                           id="eu.udig.catalog.jgrass.operations.RemoveMapAction"
                           label="Delete Maps"
                           tooltip="Delete the selected maps from the mapset on disk">
         </action>
                     <action
                           class="eu.udig.catalog.jgrass.operations.RenameMapAction"
                           icon="icons/raster_rename.png"
                           id="eu.udig.catalog.jgrass.operations.RenameMapAction"
                           label="Rename Maps"
                           tooltip="Rename the selected map on disk">
         </action>
                     <action
                           class="eu.udig.catalog.jgrass.operations.ExportEsriAsciiAction"
                           icon="icons/map_go.png"
                           id="eu.udig.catalog.jgrass.operations.ExportEsriAsciiAction"
                           label="Export maps"
                           tooltip="Export the selected maps as Ersi Ascii to disk">
         </action>
                     <action
                           class="eu.udig.catalog.jgrass.operations.MapSummaryAction"
                           icon="icons/report.png"
                           id="eu.udig.catalog.jgrass.operations.MapSummaryAction"
                           label="Map summary"
                           tooltip="View a simple map summary on the active region">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="eu.udig.catalog.jgrass.core.GridCoverage.contribution"
            objectClass="net.refractions.udig.catalog.rasterings.AbstractRasterGeoResource">
                     <action
                           class="eu.udig.catalog.jgrass.operations.MapSummaryAction"
                           icon="icons/report.png"
                           id="eu.udig.catalog.jgrass.operations.MapSummaryAction"
                           label="Map summary"
                           tooltip="View a simple map summary">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="GrassRasterRenderer"
         name="GrassRasterRenderer"
         point="net.refractions.udig.project.renderer">
      <renderer
            class="eu.udig.renderer.jgrass.RasterRenderMetricsFactory"
            id="eu.hydrologis.jgrass.renderer.raster.rasterrender"
            name="Grass Raster Renderer">
         <description>
            A renderer for GRASS raster layers.
         </description>
      </renderer>
   </extension>

</plugin>
