<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="infoDisplay" name="infoDisplay" schema="schema/infoDisplay.exsd"/>
   <extension
         id="info"
         point="net.refractions.udig.project.ui.tool">
         <modalTool
               categoryId="net.refractions.udig.tool.category.info"
               class="net.refractions.udig.tool.info.InfoTool"
               cursor="default"
               icon="icons/etool16/info_mode.gif"
               id="net.refractions.udig.tool.info.infoMode"
               largeIcon="icons/etool24/info_mode.png"
               name="%info.name"
               onToolbar="true"
               toolCursorId="infoCursor"
               tooltip="%info.tooltip">
            <cursor
                  hotspotY="5"
                  hotspotX="5"
                  image="icons/pointer/info_source.png"/>
         </modalTool>
         <modalTool
               categoryId="net.refractions.udig.tool.category.info"
               class="net.refractions.udig.tool.info.DistanceTool"
               commandHandler="net.refractions.udig.tool.info.internal.DistanceToolCommandHandler"
               commandIds="net.refractions.udig.tool.edit.clearAction"
               icon="icons/etool16/measure_mode.gif"
               id="net.refractions.udig.tool.info.distancetool"
               largeIcon="icons/etool24/measure_mode.png"
               name="%distance.name"
               onToolbar="true"
               toolCursorId="measureCursor"
               tooltip="%distance.tooltip">
   	       <cursor
		   		hotspotX="10"
	 		    hotspotY="10"
		        image="icons/pointer/measure_source.gif"/>
 	     </modalTool>
         <toolCursor
               hotspotX="5"
               hotspotY="5"
               id="infoCursor"
               image="icons/pointer/info_source.png"/>
         <toolCursor
               hotspotX="10"
               hotspotY="10"
               id="measureCursor"
               image="icons/pointer/measure_source.gif"/>
   </extension>
   <extension
         name="Information Views"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            icon="icons/view16/info_view.gif"
            class="net.refractions.udig.tool.info.internal.InfoView2"
            category="net.refractions.udig.project.ui.project"
            name="%infoView.name"
            id="net.refractions.udig.tool.info.infoView">
         <description/>
      </view>
      <view
            category="net.refractions.udig.project.ui.project"
            class="net.refractions.udig.document.DocumentView"
            icon="icons/view16/document_view.gif"
            id="net.refractions.udig.tool.info.documentView"
            name="%docView.name"
            restorable="true">
      </view>
   </extension>
   <extension
         name="Information Displays"
         point="net.refractions.udig.tool.info.infoDisplay">
      <display
            name="text.name"
            mime="text/html"
            class="net.refractions.udig.tool.info.internal.display.BrowserInfoDisplay"/>
      <display
            name="html.name"
            mime="text/plain"
            class="net.refractions.udig.tool.info.internal.display.TextInfoDisplay"/>
      <display
            name="%features.name"
            mime="application/vnd.ogc.gml"
            class="net.refractions.udig.tool.info.internal.display.FeatureDisplay"/>
   </extension>
   <extension
         id="shp"
         name="Shapefile Document Resolvers"
         point="net.refractions.udig.catalog.resolvers">
      <factory
            class="net.refractions.udig.catalog.shp.ShpDocumentResolveFactory"
            resolveableType="net.refractions.udig.catalog.internal.shp.ShpGeoResourceImpl">
         <resolve
               type="net.refractions.udig.catalog.IHotlinkSource"></resolve>
         <resolve
               type="net.refractions.udig.catalog.IDocumentSource"></resolve>
      </factory>
   </extension>

</plugin>
