<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    	<extension
           id="org.locationtech.udig.catalog.shp.service"
           point="org.locationtech.udig.catalog.ServiceExtension">
      <service
            class="org.locationtech.udig.catalog.internal.shp.ShpServiceExtension"
            id="shp"
            name="Shapefile"/>
   	</extension>
    <extension
          id="org.locationtech.udig.catalog.shp.fileFormat"
          point="org.locationtech.udig.catalog.ui.fileFormat">
       <fileService
             fileExtension="*.shp"
             name="%fileService.name"/>
    </extension>
    <extension
          id="org.locationtech.udig.catalog.shp.preferencePages"
          point="org.eclipse.ui.preferencePages">
       <page
             category="org.locationtech.udig.catalog.ui.preferences.CatalogPreferencePage"
             class="org.locationtech.udig.catalog.shp.preferences.ShpPreferencePage"
             id="org.locationtech.udig.catalog.shp.preferences.ShpPreferencePage"
             name="%preferences.shapefile.name"/>
    </extension>
    <extension
          id="org.locationtech.udig.catalog.shp.preferences"
          point="org.eclipse.core.runtime.preferences">
       <initializer class="org.locationtech.udig.catalog.shp.preferences.PreferenceInitializer"/>
    </extension>
    <extension
          id="org.locationtech.udig.catalog.shp.resolvers"
          point="org.locationtech.udig.catalog.resolvers">
       <factory
             class="org.locationtech.udig.catalog.internal.shp.ShapeMoverAdaptorFactory"
             resolveableType="org.locationtech.udig.catalog.internal.shp.ShpServiceImpl">
          <resolve
                type="org.locationtech.udig.catalog.ServiceMover">
          </resolve>
       </factory>
    </extension>
    <extension
          point="org.locationtech.udig.ui.operation">
       <operation
             categoryId="org.locationtech.udig.catalog.ui.operation.resourceCategory"
             class="org.locationtech.udig.catalog.shp.CharsetChange"
             enablesFor="+"
             id="org.locationtech.udig.catalog.shp.charsetChange"
             menuPath="org.locationtech.udig.catalog.ui.operation.resourceCategory"
             name="%changeCharset"
             targetClass="org.locationtech.udig.catalog.IResolve">
          <enablement>
             <or>
                <adaptsTo
                      target="org.locationtech.udig.catalog.internal.shp.ShpGeoResourceImpl">
                </adaptsTo>
                <adaptsTo
                      target="org.locationtech.udig.catalog.internal.shp.ShpServiceImpl">
                </adaptsTo>
             </or>
          </enablement>
       </operation>
       <operation
             categoryId="org.locationtech.udig.catalog.ui.operation.resourceCategory"
             class="org.locationtech.udig.catalog.shp.op.SetProjection"
             enablesFor="+"
             id="org.locationtech.udig.catalog.shp.prj.write"
             menuPath="org.locationtech.udig.catalog.ui.operation.resourceCategory"
             name="%writePRJ"
             targetClass="org.locationtech.udig.catalog.IResolve">
          <enablement>
             <or>
                <adaptsTo
                      target="org.locationtech.udig.catalog.internal.shp.ShpGeoResourceImpl">
                </adaptsTo>
                <adaptsTo
                      target="org.locationtech.udig.catalog.internal.shp.ShpServiceImpl">
                </adaptsTo>
             </or>
          </enablement>
       </operation>
    </extension>
    <extension
          id="org.locationtech.udig.catalog.shp.operations"
          name="%Shapefile.Operations"
          point="org.locationtech.udig.ui.operation">
       <category
             context="ShpGeoResource"
             id="org.locationtech.udig.catalog.shp.operationCategory"
             name="%Shapefile.Operations">
       </category>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="menu:data?before=reset">
          <dynamic
                class="org.locationtech.udig.ui.operations.OpCategoryContributionItem:org.locationtech.udig.catalog.shp.operationCategory"
                id="org.locationtech.udig.catalog.shp.menu">
          </dynamic>
       </menuContribution>
    </extension>
	<!--<extension
         point="org.eclipse.ui.importWizards">
      <wizard
            name="%wizard.name"
            icon="icons/shp_16.gif"
            class="org.locationtech.udig.catalog.internal.shp.ui.ShapefileWizard"
            id="org.locationtech.udig.catalog.ui.shapefile">
         <description>
            %wizard.description
         </description>
      </wizard>
   </extension>-->
</plugin>
