<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=window">
         <menu
               id="example"
               label="Example">
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:example">
         <separator
               name="mbStart"
               visible="false">
         </separator>
         <command
               commandId="net.refractions.udig.tutorials.raster.command1"
               label="Raster Example"
               style="push">
         </command>
         <separator
               name="additions"
               visible="false">
         </separator>
         <separator
               name="mbEnd"
               visible="false">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.refractions.udig.tutorials.raster.RasterTutorialHandler"
            id="net.refractions.udig.tutorials.raster.command1"
            name="Raster Example">
      </command>
   </extension>
</plugin>
