<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="fileFormat" name="fileFormat" schema="schema/fileFormat.exsd"/>
   <extension-point id="connectionErrorHandler" name="Connection Error Handler" schema="schema/connectionHandler.exsd"/>
   <extension-point id="connectionFactory" name="Connection Factory" schema="schema/connectionFactory.exsd"/>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%Resource.Query.ActionSet.Description"
            id="org.locationtech.udig.catalog.ui.resourceQuerySet"
            label="%Resource.Query.ActionSet"
            visible="false">
      </actionSet>
      <actionSet
            description="%Resource.Modify.ActionSet.Description"
            id="org.locationtech.udig.catalog.ui.resourceModifySet"
            label="%Resource.Modify.ActionSet"
            visible="false">
      </actionSet>
      <actionSet
            description="%Service.Query.ActionSet.Description"
            id="org.locationtech.udig.catalog.ui.serviceQuerySet"
            label="%Service.Query.ActionSet"
            visible="false">
      </actionSet>
      <actionSet
            description="%Service.Modify.ActionSet.Description"
            id="org.locationtech.udig.catalog.ui.serviceModifySet"
            label="%Service.Modify.ActionSet"
            visible="false">
      </actionSet>
      <actionSet
            description="%Data.ActionSet.Description"
            id="org.locationtech.udig.catalog.ui.data.menu"
            label="%Data.ActionSet"
            visible="false">
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.locationtech.udig.catalog.ui.contribution.inResourceQuerySet">
         <with
               variable="activeContexts">
            <iterate
                  operator="or">
               <equals
                     value="org.locationtech.udig.catalog.ui.resourceQuerySet">
               </equals>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.locationtech.udig.catalog.ui.contribution.inResourceModifySet">
         <with
               variable="activeContexts">
            <iterate
                  operator="or">
               <equals
                     value="org.locationtech.udig.catalog.ui.resourceModifySet">
               </equals>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.locationtech.udig.catalog.ui.contribution.inServiceQuerySet">
         <with
               variable="activeContexts">
            <iterate
                  operator="or">
               <equals
                     value="org.locationtech.udig.catalog.ui.serviceQuerySet">
               </equals>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.locationtech.udig.catalog.ui.contribution.inServiceModifySet">
         <with
               variable="activeContexts">
            <iterate
                  operator="or">
               <equals
                     value="org.locationtech.udig.catalog.ui.serviceModifySet">
               </equals>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.locationtech.udig.catalog.ui.contribution.data.menu">
         <with
               variable="activeContexts">
            <iterate
                  operator="or">
               <equals
                     value="org.locationtech.udig.catalog.ui.data.menu">
               </equals>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
    <handler
          class="org.locationtech.udig.catalog.internal.ui.actions.ResetServiceHandler"
          commandId="org.locationtech.udig.catalog.ui.command.reset">
       <activeWhen>
          <iterate
                ifEmpty="false"
                operator="or">
             <and>
                <count
                      value="1">
                </count>
                <or>
                   <instanceof
                         value="org.locationtech.udig.catalog.IService">
                   </instanceof>
                   <adapt
                         type="org.locationtech.udig.catalog.IService">
                   </adapt>
                </or>
             </and>
          </iterate>
       </activeWhen>
    </handler>
    <handler
          class="org.locationtech.udig.catalog.ui.internal.IGeoResourcePropertiesCommandHandler"
          commandId="org.locationtech.udig.catalog.ui.command.resourceProperties">
       <activeWhen>
          <iterate
                ifEmpty="false"
                operator="or">
             <and>
                <count
                      value="1">
                </count>
                <or>
                   <instanceof
                         value="org.locationtech.udig.catalog.IGeoResource">
                   </instanceof>
                   <adapt
                         type="org.locationtech.udig.catalog.IGeoResource">
                   </adapt>
                </or>
             </and>
          </iterate>
       </activeWhen>
    </handler>
    <handler
          class="org.locationtech.udig.catalog.ui.internal.IServicePropertiesCommandHandler"
          commandId="org.locationtech.udig.catalog.ui.command.serviceProperties">
       <activeWhen>
          <iterate
                ifEmpty="false"
                operator="or">
             <and>
                <count
                      value="1">
                </count>
                <or>
                   <instanceof
                         value="org.locationtech.udig.catalog.IService">
                   </instanceof>
                   <adapt
                         type="org.locationtech.udig.catalog.IService">
                   </adapt>
                </or>
             </and>
          </iterate>
       </activeWhen>
    </handler>
   </extension>
   <extension
         id="serviceCommand"
         point="org.eclipse.ui.commands">
      <commandParameterType
            id="org.locationtech.udig.catalog.service"
            type="org.locationtech.udig.catalog.IService">
      </commandParameterType>
      <category
            description="%service.commands.description"
            id="org.locationtech.udig.catalog.ui.service"
            name="%service.commands">
      </category>
      <command
            categoryId="org.locationtech.udig.catalog.ui.service"
            defaultHandler="org.locationtech.udig.catalog.ui.internal.IServicePropertiesCommandHandler"
            description="%serviceProperties.description"
            id="org.locationtech.udig.catalog.ui.command.serviceProperties"
            name="%serviceProperties">
      </command>
      <command
            categoryId="org.locationtech.udig.catalog.ui.service"
            defaultHandler="org.locationtech.udig.catalog.internal.ui.actions.ResetServiceHandler"
            description="%resetService.tooltip"
            id="org.locationtech.udig.catalog.ui.command.reset"
            name="%resetService.label"
            returnTypeId="org.locationtech.udig.catalog.service">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <commandParameterType
            id="org.locationtech.udig.catalog.geoResource"
            type="org.locationtech.udig.catalog.IGeoResource">
      </commandParameterType>
      <category
            description="%resource.commands.description"
            id="org.locationtech.udig.catalog.ui.resource"
            name="%resource.commands">
      </category>
      <command
            categoryId="org.locationtech.udig.catalog.ui.resource"
            defaultHandler="org.locationtech.udig.catalog.ui.internal.IGeoResourcePropertiesCommandHandler"
            description="%resourceProperties.description"
            id="org.locationtech.udig.catalog.ui.command.resourceProperties"
            name="%resourceProperties"
            returnTypeId="org.locationtech.udig.catalog.geoResource">
      </command>
   </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="menu:org.eclipse.ui.main.menu?before=window">
            <menu
                  id="data"
                  label="%data.name"
                  mnemonic="D"
                  tooltip="%data.tooltip">
              <visibleWhen>
                  <reference
                        definitionId="org.locationtech.udig.catalog.ui.contribution.data.menu">
                  </reference>
               </visibleWhen>
            </menu>
         </menuContribution>
         <menuContribution
               locationURI="menu:data">
            <separator
                  name="mbStart">
            </separator>
            <dynamic
                  class="org.locationtech.udig.ui.operations.OpCategoryContributionItem:org.locationtech.udig.catalog.ui.operation.resourceCategory"
                  id="resource.ext">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </dynamic>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <dynamic
                  class="org.locationtech.udig.ui.operations.OpCategoryContributionItem:org.locationtech.udig.catalog.ui.operation.serviceCategory"
                  id="service.ext">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </dynamic>
            <command
                  commandId="org.locationtech.udig.catalog.ui.command.reset"
                  id="reset"
                  label="%resetService.label"
                  mnemonic="R"
                  tooltip="%resetService.tooltip">
               <visibleWhen>
                  <!-- TODO Review : Reference identifier .. cannot be found -->
                  <reference
                        definitionId="org.locationtech.udig.catalog.ui.contribution.inServiceActionSet">
                  </reference>
               </visibleWhen>
            </command>
            <separator
                  name="mbEnd">
            </separator>
            <command
                  commandId="org.locationtech.udig.catalog.ui.command.resourceProperties"
                  label="%resourceProperties"
                  tooltip="%resourceProperties.description">
            </command>
            <command
                  commandId="org.locationtech.udig.catalog.ui.command.serviceProperties"
                  label="%Service.Properties.Name"
                  tooltip="%Service.Properties.Tooltip">
            </command>
         </menuContribution>
      </extension>
   <extension-point id="reshapePostAction" name="reshapePostAction" schema="schema/reshapePostAction.exsd"/>

   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml"
            plugin="org.locationtech.udig.catalog.ui">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%Catalog"
            allowMultiple="true"
            icon="icons/eview16/catalog_view.gif"
            category="catalog"
            class="org.locationtech.udig.catalog.internal.ui.CatalogView"
            id="org.locationtech.udig.catalog.ui.CatalogView">
         <description>
            %catalog.description
         </description>
      </view>
      <category
            name="%Catalog"
            id="catalog">
      </category>
      <view
            allowMultiple="true"
            class="org.locationtech.udig.catalog.ui.search.SearchView"
            icon="icons/eview16/searchres.gif"
            category="catalog"
            name="%Search"
            id="org.locationtech.udig.catalog.ui.Search">
         <description>
            %search.description
         </description>
      </view>
   </extension>
   <extension
         name="catalogPerspectiveContributions"
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.locationtech.udig.ui.mapPerspective">
         <viewShortcut id="org.locationtech.udig.catalog.ui.Search"/>  
		 <view
               closeable="true"
               standalone="true"
               moveable="true"
               visible="true"
               showTitle="true"
               relative="org.locationtech.udig.catalog.ui.CatalogView"
               relationship="stack"
               id="org.locationtech.udig.catalog.ui.Search"/>               
      </perspectiveExtension>
   </extension>
   

   <extension
         point="org.locationtech.udig.catalog.ui.connectionFactory">
     <factory class="org.locationtech.udig.catalog.ui.FileConnectionFactory"
            id="org.locationtech.udig.catalog.ui.openFileConnection"/>
      <wizardPage
            banner="icons/wizban/feature_file_wiz.gif"
            class="org.locationtech.udig.catalog.ui.FileConnectionPage"
            description="%wizard.fileopen.description"
            icon="icons/etool16/file_wiz.gif"
            id="org.locationtech.udig.catalog.ui.openFilePage"
            name="%wizard.fileopen.name"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="org.locationtech.udig.catalog.internal.ui.IResolveAdapterFactory"
            adaptableType="org.locationtech.udig.catalog.IResolve">
         <adapter type="org.locationtech.udig.core.IBlockingAdaptable"/>
      </factory>
   </extension>
   <extension
        point="org.eclipse.ui.exportWizards">
     <wizard
           class="org.locationtech.udig.catalog.ui.export.CatalogExport$CatalogExportAdapter"
           icon="icons/etool16/exportshapefile_wiz.gif"
           id="org.locationtech.udig.catalog.ui.dataExportWizard"
           name="%layerExport.name">
        <description>
           %layerExport.desc
        </description>
     </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="org.locationtech.udig.catalog.ui.wizard.CatalogImport$CatalogImportAdapter"
            icon="icons/obj16/repository_obj.gif"
            id="org.locationtech.udig.catalog.ui.dataImportWizard"
            name="%dataImportWizard.name">
         <description>%dataImportWizard.description</description>
      </wizard>
   </extension>

 	<extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.locationtech.udig.catalog.IService"
            id="org.locationtech.udig.project.ui.IServiceContribution">
         <action
               class="org.locationtech.udig.catalog.internal.ui.actions.ResetService"
               id="org.locationtech.udig.catalog.ui.ResetService"
               label="%resetService.label"
               menubarPath="additions"
               tooltip="%resetService.tooltip"/>
      </objectContribution>         
   </extension>
  <extension
        point="org.locationtech.udig.ui.dropAction">
        <action
              class="org.locationtech.udig.catalog.internal.ui.actions.CatalogImportDropAction"
              enablesFor="+"
              name="%import.action.name">
	       <acceptedType class="java.net.URL"/>
	       <acceptedType class="java.lang.String"/>
	       <acceptedType class="java.io.File"/>
	       <destination class="org.locationtech.udig.catalog.internal.ui.CatalogView"/>
           <acceptedType
                 adapt="true"
                 class="org.locationtech.udig.catalog.IResolve"/>
           <destination
                 adapt="false"
                 class="org.locationtech.udig.catalog.IResolve"/>
	    </action>
  </extension>
  <extension
        id="org.locationtech.udig.catalog.operations"
        point="org.locationtech.udig.ui.operation">
     <operation
           categoryId="org.locationtech.udig.ui.edit"
           class="org.locationtech.udig.catalog.internal.ui.ops.NewFeatureTypeOp"
           enablesFor="1"
           id="org.locationtech.udig.catalog.ui.newFeatureType"
           menuPath="layer/new"
           name="%newFeatureType"
           targetClass="org.locationtech.udig.catalog.IService">
        <enablement>
           <adaptsTo target="org.geotools.data.DataStore"/>
        </enablement>
     </operation>
     <category
           context="Service"
           id="org.locationtech.udig.catalog.ui.operation.serviceCategory"
           name="%Service.Category">
     </category>

     <operation
           categoryId="org.locationtech.udig.catalog.ui.operation.serviceCategory"
           class="org.locationtech.udig.catalog.internal.ui.ops.NewFeatureTypeOp"
           enablesFor="1"
           id="org.locationtech.udig.catalog.ui.addFeatureType"
           name="%AddFeatureType"
           targetClass="org.locationtech.udig.catalog.IService">
        <enablement>
           <adaptsTo target="org.geotools.data.DataStore"/>
        </enablement>
     </operation>
       <operation
             categoryId="org.locationtech.udig.catalog.ui.operation.resourceCategory"
             class="org.locationtech.udig.catalog.ui.operation.ReshapeOperation"
             id="org.locationtech.udig.catalog.ui.operation.operationReshape"
             name="%Reshape"
             targetClass="org.locationtech.udig.catalog.IGeoResource">
          <enablement>
             <adaptsTo
                   target="org.geotools.data.simple.SimpleFeatureSource">
             </adaptsTo>
          </enablement>
       </operation>
       <operation
             categoryId="org.locationtech.udig.catalog.ui.operation.resourceCategory"
             class="org.locationtech.udig.catalog.ui.operation.TransformOperation"
             id="org.locationtech.udig.catalog.ui.operation.transform"
             name="%Transform"
             targetClass="org.locationtech.udig.catalog.IGeoResource">
          <enablement>
             <adaptsTo
                   target="org.geotools.data.simple.SimpleFeatureSource">
             </adaptsTo>
          </enablement>
       </operation>
     <category
           context="GeoResource"
           id="org.locationtech.udig.catalog.ui.operation.resourceCategory"
           name="%Resource.Category">
     </category>
     
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="org.locationtech.udig.catalog.ui.preferences.CatalogPreferencePage"
           id="org.locationtech.udig.catalog.ui.preferences.CatalogPreferencePage"
           name="%catalog.preferences.name"/>
  </extension>
  <extension
          point="org.locationtech.udig.catalog.ui.connectionFactory">
       <factory class="org.locationtech.udig.catalog.memory.NewServiceConnectionFactory"
       			 id = "org.locationtech.udig.catalog.import.memory"/>
  </extension>
  <extension
        point="org.eclipse.ui.viewActions">
     <viewContribution
           id="org.locationtech.udig.catalog.ui.searchContribution"
           targetID="org.locationtech.udig.catalog.ui.Search">
        <action
              class="org.locationtech.udig.catalog.ui.AOIViewActionDelegate"
              icon="icons/etool16/aoi_filter_obj.png"
              id="org.locationtech.udig.catalog.ui.aoiAction"
              label="AOI Filter"
              style="toggle"
              toolbarPath="additions">
        </action>
     </viewContribution>
  </extension>
  <extension
        id="org.locationtech.udig.catalog.propertyPages"
        name="Catalog Property Pages"
        point="org.eclipse.ui.propertyPages">
     <page
           class="org.locationtech.udig.catalog.ui.property.ServicePropertyPage"
           icon="icons/obj16/datastore_obj.gif"
           id="org.locationtech.udig.catalog.ui.property.servicePage"
           name="%servicePage.name">
        <enabledWhen>
           <or>
              <instanceof
                    value="org.locationtech.udig.catalog.IService">
              </instanceof>
              <adapt
                    type="org.locationtech.udig.catalog.IService">
              </adapt>
           </or>
        </enabledWhen>
        <keywordReference
              id="org.locationtech.udig.catalog.ui.keyword.service">
        </keywordReference>
     </page>
     <page
           class="org.locationtech.udig.catalog.ui.property.ResourcePropertyPage"
           icon="icons/obj16/feature_obj.gif"
           id="org.locationtech.udig.catalog.ui.property.resourcePage"
           name="%resourcePage.name">
        <enabledWhen>
           <or>
              <instanceof
                    value="org.locationtech.udig.catalog.IGeoResource">
              </instanceof>
              <adapt
                    type="org.locationtech.udig.catalog.IGeoResource">
              </adapt>
           </or>
        </enabledWhen>
        <keywordReference
              id="org.locationtech.udig.catalog.ui.keyword.resource"></keywordReference>
     </page>
  </extension>
  <extension
        id="org.locationtech.udig.catalog.keywords"
        name="Catalog Keywords"
        point="org.eclipse.ui.keywords">
     <keyword
           id="org.locationtech.udig.catalog.ui.keyword.service"
           label="%service.keyword">
     </keyword>
     <keyword
           id="org.locationtech.udig.catalog.ui.keyword.resource"
           label="%resource.keyword">
     </keyword>
  </extension>
  
</plugin>
