<cruisecontrol>
<project name="uDig" buildafterfailed="false">

    <listeners>
      <currentbuildstatuslistener file="logs/uDig/buildstatus.txt"/>
    </listeners>

    <!-- Bootstrappers are run every time the build runs, 
        *before* the modification checks -->
    <bootstrappers>
    </bootstrappers>

    <!-- Defines where cruise looks for changes, to decide
         whether to run the build --> 
    <modificationset quietperiod="300"> 
      <svn RepositoryLocation="http://svn.geotools.org/udig/" 
	 LocalWorkingCopy="checkout/trunk"/> 
    </modificationset>

    <!-- Configures the actual build loop, how often and which
         build file/target --> 
    <schedule interval="300">
      <ant antscript="ant"
           buildfile="checkout/scripts-1.1.x/run.xml"
           target="build"
           uselogger="false"
           usedebug="true"/> 
    </schedule>

    <!-- directory to write build logs to --> 
    <log dir="/home/www/udig/htdocs/nightly/udig/logs/uDig">
		</log>

    <!-- Publishers are run *after* a build completes --> 
    <publishers>
	<email buildresultsurl="http://www.refractions.net:8082/cruisecontrol" 
		mailhost="localhost" returnaddress="cruise@refractions.net"
		spamwhilebroken="true">
		<always address="udig@refractions.net"/>
		<failure address="udig-devel@lists.refractions.net"/>
	</email>
	<artifactspublisher dir="checkout/scripts/artifacts"
			dest="/home/www/udig/htdocs/nightly/udig" publishOnFailure="false"/>
	<artifactspublisher file="checkout/scripts/build.log" 
			dest="/home/www/udig/htdocs/nightly/udig" publishOnFailure="true"/>
	<!--antpublisher buildfile="checkout/scripts/publish.xml"
		target="notify" uselogger="false" usedebug="false"/>
	<antpublisher buildfile="checkout/scripts/validate.xml"
		target="validate" uselogger="false" usedebug="false"/>
	<antpublisher buildfile="checkout/scripts/psf.xml"
		target="psf" uselogger="false" usedebug="false"/-->
    </publishers> 
  </project> 
</cruisecontrol>
