<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="sldEditorPart" name="%sldEditorParts.name" schema="schema/sldEditorPart.exsd"/>
     <extension-point id="StyleEditorPage" name="%StyleEditor.name" schema="schema/StyleEditorPage.exsd"/>
   <extension
         point="org.locationtech.udig.project.style">
      <style
            class="org.locationtech.udig.style.sld.SLDContent"
            name="%sld.name"
            id="org.locationtech.udig.style.sld"/>
      <style
            class="org.locationtech.udig.style.cache.CacheContent"
            id="org.locationtech.udig.style.cache"
            name="%cache.name">
      </style>
      <style
            class="org.locationtech.udig.style.filter.FilterContent"
            id="org.locationtech.udig.style.filter"
            name="%filter.name">
      </style>
   </extension>
   <extension
         point="org.locationtech.udig.style.styleConfigurator">
      <styleConfigurator
            class="org.locationtech.udig.style.sld.SimpleStyleConfigurator"
            id="simple"
            label="%simpleStyle.label"
            requires="org.geotools.data.FeatureSource"
            styleId="org.locationtech.udig.style.sld"/>
     <!--
      <styleConfigurator
            class="org.locationtech.udig.style.sld.SimpleGridConfigurator"
            id="simple-gridcoverage"
            label="%simpleRaster.label"
            requires="org.opengis.coverage.grid.GridCoverage"
            styleId="org.locationtech.udig.style.sld">
      </styleConfigurator>
      -->
      <styleConfigurator
            class="org.locationtech.udig.style.cache.CacheConfigurator"
            id="cache"
            label="%cache.label"
            requires="org.geotools.data.FeatureSource"
            styleId="org.locationtech.udig.style.cache">
      </styleConfigurator>
      <styleConfigurator
            class="org.locationtech.udig.style.cache.CacheConfigurator"
            id="cache-gridcoverage"
            label="%cache.label"
            requires="org.opengis.coverage.grid.GridCoverage"
            styleId="org.locationtech.udig.style.cache">
      </styleConfigurator>           
      <styleConfigurator
            class="org.locationtech.udig.style.filter.FilterConfigurator"
            id="filter"
            label="%filter.label"
            requires="org.geotools.data.FeatureSource"
            styleId="org.locationtech.udig.project.view">
            </styleConfigurator>
   </extension>
   <extension
         point="org.locationtech.udig.style.sld.sldEditorPart">
      <sldEditorPart
            label="%line.label"
            class="org.locationtech.udig.style.sld.internal.SLDLineEditorPart"
            contentType="org.geotools.styling.LineSymbolizer"/>
      <sldEditorPart
            label="%text.label"
            class="org.locationtech.udig.style.sld.internal.SLDTextEditorPart"
            contentType="org.geotools.styling.TextSymbolizer"/>
      <sldEditorPart
            label="%polygon.label"
            class="org.locationtech.udig.style.sld.internal.SLDPolygonEditorPart"
            contentType="org.geotools.styling.PolygonSymbolizer"/>
      <sldEditorPart
            label="%point.label"
            class="org.locationtech.udig.style.sld.internal.SLDMarkerEditorPart"
            contentType="org.geotools.styling.PointSymbolizer"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.locationtech.udig.style.sld.editor.LayerContribution"
            objectClass="org.locationtech.udig.project.ILayer">
         <action
               class="org.locationtech.udig.style.sld.editor.OpenStyleEditorAction"
               enablesFor="1"
               icon="icons/style_tsk.gif"
               id="org.locationtech.udig.style.sld.editor.StyleEditor"
               label="%StyleEditor.label"
               style="push">
            <enablement>
               <objectClass name="org.locationtech.udig.project.ILayer"/>
            </enablement>
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.locationtech.udig.style.sld.editor.layerAction"
            label="%StyleActionSet.label"
            visible="false">
         <action
               class="org.locationtech.udig.style.sld.editor.OpenStyleEditorAction"
               enablesFor="1"
               icon="icons/style_tsk.gif"
               id="org.locationtech.udig.style.sld.editor.OpenStyleEditorAction"
               label="%StyleEditor.label"
               menubarPath="layer/additions"
               style="push"
               tooltip="%StyleEditor.tooltip">
            <enablement>
               <objectClass name="org.locationtech.udig.project.ILayer"/>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.locationtech.udig.style.sld.StyleEditorPage">
      <StyleEditorPage
            class="org.locationtech.udig.style.sld.editor.StyleThemePage"
            contentType="org.locationtech.udig.project.ILayer"
            id="theme"
            label="%themePage.label"
            requires="org.geotools.data.FeatureSource"/>
      <StyleEditorPage
            class="org.locationtech.udig.style.sld.editor.StyleXMLPage"
            contentType="org.locationtech.udig.project.ILayer"
            id="xml"
            label="%xmlPage.label"
            requires="org.geotools.data.FeatureSource"/>
<!--
      <StyleEditorPage
            class="org.locationtech.udig.style.sld.editor.PointEditorPage"
            contentType="org.locationtech.udig.project.ILayer"
            id="org.locationtech.udig.style.sld.PointStyleEditorPage"
            label="Default Point"
            requires="org.geotools.data.FeatureSource">
      </StyleEditorPage>
      <StyleEditorPage
            class="org.locationtech.udig.style.sld.editor.LineEditorPage"
            contentType="org.locationtech.udig.project.ILayer"
            id="org.locationtech.udig.style.sld.LineStyleEditorPage"
            label="Default Line"
            requires="org.geotools.data.FeatureSource">
      </StyleEditorPage>
-->      
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.locationtech.udig.style.sld.styleAction"
            targetID="org.locationtech.udig.project.ui.layerManager">
         <action
               class="org.locationtech.udig.style.sld.editor.OpenStyleEditorAction"
               enablesFor="1"
               icon="icons/style_tsk.gif"
               id="org.locationtech.udig.style.sld.view.openStyling"
               label="%StyleEditor.label"
               style="push"
               toolbarPath="additions"
               tooltip="%StyleEditor.tooltip">
            <enablement>
               <objectClass name="org.locationtech.udig.project.ILayer"/>
            </enablement>
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.locationtech.udig.ui.mapPerspective">
         <actionSet id="org.locationtech.udig.style.sld.editor.layerAction"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.locationtech.udig.ui.stylePerspective">
         <actionSet id="org.locationtech.udig.style.sld.editor.layerAction"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.locationtech.udig.project.style">
      <style
            class="org.locationtech.udig.style.sld.editor.DialogSettingsStyleContent"
            id="org.locationtech.udig.style.dialogSettings"
            name="Dialog Settings">
      </style>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.locationtech.udig.style.sld.editor.CustomPalettesLoader">
      </startup>
   </extension>

</plugin>
