<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
   </extension>
   <extension
         point="net.refractions.udig.project.ui.tool">
      <modalTool
            categoryId="net.refractions.udig.tool.edit.feature"
            class="eu.udig.tools.split.SplitTool"
            icon="icons/etool16/split_feature_mode.gif"
            id="eu.udig.tools.split.SplitTool"
            largeIcon="icons/etool24/split_24.png"
            name="Split"
            onToolbar="true"
            toolCursorId="arrowCursor"
            tooltip="%eu.udig.tools.split.tooltip">
      </modalTool>
      <modalTool
            categoryId="net.refractions.udig.tool.edit.feature"
            class="eu.udig.tools.merge.MergeTool"
            icon="icons/etool16/merge_feature_mode.gif"
            id="eu.udig.tools.merge.MergeTool"
            largeIcon="icons/etool24/merge_24.png"
            name="Merge"
            onToolbar="true"
            toolCursorId="arrowCursor"
            tooltip="%eu.udig.tools.merge.tooltip">
      </modalTool>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="net.refractions.udig.project.ui.project"
            class="eu.udig.tools.merge.internal.view.MergeView"
            icon="icons/etool16/merge_feature_mode.gif"
            id="eu.udig.tools.merge.internal.view.MergeView"
            name="Merge Features">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.toc">
   </extension>
   <extension
         point="net.refractions.udig.ui.operation">
      <operation
            class="eu.udig.tools.merge.MergeOperation"
            description="Merge the selected features"
            enablesFor="1"
            icon="icons/etool16/merge_feature_mode.gif"
            id="eu.udig.tools.merge.mergeoperation"
            name="Merge selected"
            targetClass="org.geotools.data.FeatureSource">
      </operation>
   </extension>

</plugin>
