<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.views">
      <view
            category="net.refractions.udig.feature.editor.featureCategory"
            class="net.refractions.udig.feature.editor.DefaultEditor"
            icon="icons/eview16/view_obj.gif"
            id="net.refractions.udig.feature.editor.default"
            name="%editor.name"/>
      <view
            category="net.refractions.udig.feature.editor.featureCategory"
            class="net.refractions.udig.feature.editor.FeatureView"
            icon="icons/eview16/feature_obj.gif"
            id="net.refractions.udig.feature.editor.featureView"
            name="%feature.name"
            restorable="true">
      </view>
      <view
            category="net.refractions.udig.feature.editor.featureCategory"
            class="net.refractions.udig.feature.editor.FeatureUDIGView"
            icon="icons/eview16/feature_obj.gif"
            id="net.refractions.udig.feature.editor.featureView2"
            name="Feature2"
            restorable="true">
      </view>
      <category
            id="net.refractions.udig.feature.editor.featureCategory"
            name="%category.name">
      </category>
   </extension>
   <extension
         point="net.refractions.udig.project.ui.featureEditor">
      <editor
            id="net.refractions.udig.feature.editor.default"
            name="%editor.name"
            viewId="net.refractions.udig.feature.editor.default">
         <featureType>
            <typeName
                  name="Feature"
                  namespace="*">
            </typeName>
         </featureType>
      </editor>
      <editor
            id="net.refractions.udig.feature.editor.featureView"
            name="%feature.name">
         <featureType>
            <typeName
                  name="Feature"
                  namespace="*">
            </typeName>
         </featureType>
      </editor>
   </extension>
</plugin>
