<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.locationtech.udig.project.ui.tool">
         <actionTool
               categoryId="org.locationtech.udig.tool.category.render"
               class="org.locationtech.udig.tools.internal.RefreshTool"
               commandIds="org.locationtech.udig.tools.refreshCommand"
               icon="icons/etool16/refresh_co.gif"
               id="org.locationtech.udig.tools.refresh"
               menuPath="file/refresh"
               name="%refresh.name"
               onToolbar="true"
               tooltip="%refresh.tooltip">
         </actionTool>   
         <actionTool
               class="org.locationtech.udig.tools.internal.CancelTool"
               icon="icons/etool16/cancel_all_co.gif"
               tooltip="%cancel.tooltip"
               categoryId="org.locationtech.udig.tool.category.render"
               onToolbar="true"
               name="%cancel.name"
               id="org.locationtech.udig.tools.cancel">
         </actionTool>   
         <modalTool
               categoryId="org.locationtech.udig.tool.category.zoom"
               class="org.locationtech.udig.tools.internal.Zoom"
               cursor="crosshair"
               icon="icons/etool16/zoom_mode.gif"
               id="org.locationtech.udig.tools.Zoom"
               largeIcon="icons/etool24/zoom_mode.png"
               name="%zoom.tool.name"
               onToolbar="true"
               toolCursorId="zoomCursor"
               tooltip="%zoom.tool.tooltip">
         </modalTool>
         <modalTool
               categoryId="org.locationtech.udig.tool.category.pan"
               class="org.locationtech.udig.tools.internal.PanTool"
               commandHandler="org.locationtech.udig.tools.internal.PanHandler"
               commandIds="org.locationtech.udig.tools.panRightCommand,org.locationtech.udig.tools.panLeftCommand,org.locationtech.udig.tools.panUpCommand,org.locationtech.udig.tools.panDownCommand"
               icon="icons/etool16/pan_mode.gif"
               id="org.locationtech.udig.tools.Pan"
               largeIcon="icons/etool24/pan_mode.png"
               name="%pan.tool.name"
               onToolbar="true"
               preferencePageId="org.locationtech.udig.tool.default.navPage"
               toolCursorId="move"
               tooltip="%pan.tool.tooltip">
            <toolOption
                  class="org.locationtech.udig.tools.internal.PanTool$OptionContribtionItem"
                  id="panOptions">
            </toolOption>
         </modalTool>
         <backgroundTool
               name="ScrollZoom"
               class="org.locationtech.udig.tools.internal.ScrollZoom"
               id="org.locationtech.udig.tools.ScrollZoom">
         </backgroundTool>
         <actionTool
               categoryId="org.locationtech.udig.tool.category.zoom"
               class="org.locationtech.udig.tools.internal.ZoomExtent"
               commandHandler="org.locationtech.udig.tools.internal.ZoomHandler"
               commandIds="org.locationtech.udig.tool.default.zoom.all"
               icon="icons/etool16/zoom_extent_co.gif"
               id="org.locationtech.udig.tools.ZoomExtent"
               menuPath="navigate/zoom.ext"
               name="%zoom.all.name"
               onToolbar="true"
               tooltip="%zoom.all.tooltip">
            <enablement>
               <not>
                  <property
                        expectedValue="Screen"
                        propertyId="aoiStrategy">
                  </property>
               </not>
            </enablement>
         </actionTool>

         <backgroundTool
               name="%cursorPosition.name"
               class="org.locationtech.udig.tools.internal.CursorPosition"
               id="org.locationtech.udig.tools.backgroundTool1">
         </backgroundTool>
               <actionTool
                     categoryId="org.locationtech.udig.tool.category.zoom"
                     class="org.locationtech.udig.tools.internal.ZoomIn"
                     commandHandler="org.locationtech.udig.tools.internal.ZoomHandler"
                     commandIds="org.locationtech.udig.tool.default.zoom.in"
                     icon="icons/etool16/zoom_in_co.gif"
                     id="org.locationtech.udig.tool.default.ZoomIn"
                     menuPath="navigate/zoom.ext"
                     name="%zoomin.name"
                     onToolbar="true"
                     tooltip="%zoomin.tooltip"/>
               <actionTool
                     categoryId="org.locationtech.udig.tool.category.zoom"
                     class="org.locationtech.udig.tools.internal.ZoomOut"
                     commandHandler="org.locationtech.udig.tools.internal.ZoomHandler"
                     commandIds="org.locationtech.udig.tool.default.zoom.out"
                     icon="icons/etool16/zoom_out_co.gif"
                     id="org.locationtech.udig.tool.default.ZoomOut"
                     menuPath="navigate/zoom.ext"
                     name="%zoomout.name"
                     onToolbar="true"
                     tooltip="%zoomout.tooltip"/>
               <actionTool
                     tooltip="%commit.tooltip"
                     icon="icons/etool16/outgo_synch.gif"
                     class="org.locationtech.udig.tools.internal.CommitTool"
                     onToolbar="true"
                     name="%commit.name"
                     menuPath="edit/commit.ext"
                     id="org.locationtech.udig.tool.default.commit"/>
               <actionTool
                     class="org.locationtech.udig.tools.internal.RollbackTool"
                     icon="icons/etool16/clear_co.gif"
                     tooltip="%rollback.tooltip"
                     onToolbar="true"
                     name="%rollback.name"
                     menuPath="edit/commit.ext"
                     id="org.locationtech.udig.tool.default.rollback"/>
               <toolCursor
                     hotspotX="10"
                     hotspotY="10"
                     id="zoomCursor"
                     image="icons/pointers/zoom_source.gif"/>
               <toolCursor
                     hotspotX="10"
                     hotspotY="10"
                     id="move"
                     image="icons/pointers/pan_source.gif"/>
               <toolCursor
                     hotspotX="5"
                     hotspotY="5"
                     id="boxSelectionCursor"
                     image="icons/pointers/point_select_source.gif"/>
               <backgroundTool
                     class="org.locationtech.udig.tools.internal.PanMiddleMouse"
                     id="org.locationtech.udig.tool.default.backgroundTool1"
                     name="Middle Mouse Pan"
                     tooltip="Pan holding the middle mouse down.">
               </backgroundTool>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.locationtech.udig.tools.toolCategory"
            name="%pan.right.name"
            id="org.locationtech.udig.tools.panRightCommand"/>
      <command
            categoryId="org.locationtech.udig.tools.toolCategory"
            name="%pan.left.name"
            id="org.locationtech.udig.tools.panLeftCommand"/>
      <command
            categoryId="org.locationtech.udig.tools.toolCategory"
            name="%pan.up.name"
            id="org.locationtech.udig.tools.panUpCommand"/>
      <command
            categoryId="org.locationtech.udig.tools.toolCategory"
            name="%pan.down.name"
            id="org.locationtech.udig.tools.panDownCommand"/>
      <command
            categoryId="org.locationtech.udig.tools.toolCategory"
            description="%zoomin.tooltip"
            id="org.locationtech.udig.tool.default.zoom.in"
            name="%zoom.command.in.name"/>
      <command
            categoryId="org.locationtech.udig.tools.toolCategory"
            description="%zoomout.tooltip"
            id="org.locationtech.udig.tool.default.zoom.out"
            name="%zoom.command.out.name"/>
      <command
            categoryId="org.locationtech.udig.tools.toolCategory"
            description="%zoom.all.tooltip"
            id="org.locationtech.udig.tool.default.zoom.all"
            name="%zoom.command.all.name">
      </command>
      <command
            categoryId="org.locationtech.udig.tools.toolCategory"
            description="%refresh.tooltip"
            id="org.locationtech.udig.tools.refreshCommand"
            name="%refresh.name"/>
   </extension> 
      <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.locationtech.udig.tools.panRightCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+ARROW_RIGHT"
            schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"/>
      <key
            commandId="org.locationtech.udig.tools.panLeftCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+ARROW_LEFT"
            schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"/>
      <key
            commandId="org.locationtech.udig.tools.panUpCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+ARROW_UP"
            schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"/>
      <key
            commandId="org.locationtech.udig.tools.panDownCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+ARROW_DOWN"
            schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"/>
      <key
            commandId="org.locationtech.udig.tool.default.zoom.in"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"
            sequence="M1+="/>
      <key
            commandId="org.locationtech.udig.tool.default.zoom.out"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"
            sequence="M1+-"/>
      <key
            commandId="org.locationtech.udig.tool.default.zoom.all"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"
            sequence="M1+BACKSPACE"/>
      <key
            commandId="org.locationtech.udig.tools.refreshCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"
            sequence="F5"/>
   </extension>
      <extension
            point="org.eclipse.ui.preferencePages">
         <page
               category="org.locationtech.udig.project.ui.preferences.tool"
               class="org.locationtech.udig.tools.internal.NavigationToolPreferencePage"
               id="org.locationtech.udig.tool.default.navPage"
               name="%navPage.name">
         </page>
      </extension>
      <extension
            point="org.eclipse.equinox.preferences.preferences">
         <initializer
               class="org.locationtech.udig.tools.internal.NavigationPreferenceInitializer">
         </initializer>
      </extension>
</plugin>
