<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.refractions.udig.tutorials.customapp.CustomApp">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.refractions.udig.tutorials.customapp.CustomPerspectiveFactory"
            icon="icons/obj16/world_obj.png"
            id="net.refractions.udig.tutorials.customapp.perspective"
            name="Custom Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="net.refractions.udig.tutorials.customapp.perspective">
         <actionSet
               id="net.refractions.udig.project.ui.LayerActions">
         </actionSet>
		 <actionSet
               id="net.refractions.udig.project.ui.layer.menu">
         </actionSet>
         <actionSet
               id="net.refractions.udig.project.ui.map.menu">
         </actionSet>
         <actionSet
               id="net.refractions.udig.project.ui.data.menu">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         id="customapp"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.refractions.udig.tutorials.customapp.id1"
            name="Custom">
         <property
               name="windowImages"
               value="icons/world16.gif,icons/world32.gif,icons/world48.gif,icons/world64.gif,icons/world128.gif">
         </property>
         <property
               name="aboutText"
               value="Hello World&#x0A;&#x0A;This is a custom application generated using the uDig SDK.&#x0A;For more information visit http://udig.refractions.net">
         </property>
         <property
               name="aboutImage"
               value="nl/en/about.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="0,196,500,10">
         </property>
         <property
               name="startupMessageRect"
               value="7,180,445,16">
         </property>
         <property
               name="appName"
               value="Custom">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
