<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   
   <extension
         point="org.locationtech.udig.catalog.ui.connectionFactory">
      <factory class="org.locationtech.udig.catalog.tests.ui.DummyConnectionFactory"
            id="org.locationtech.udig.catalog.tests.ui.dummyPage"/>
      <wizardPage
		    class=""
            name="Dummy"/>
   </extension>
      
   <extension
         point="org.locationtech.udig.catalog.ui.connectionFactory">
      <factory class="org.locationtech.udig.catalog.tests.ui.DummyMulitResourceConnectionFactory"
            id="org.locationtech.udig.catalog.tests.ui.DummyMulitResourcePage"/>
      <wizardPage
		    class=""
            name="DummyMulitResource"/>
   </extension>
   <extension
         point="org.locationtech.udig.catalog.ui.fileFormat">
      <provider
            class="org.locationtech.udig.catalog.tests.ui.MoreThanOneExtensionFileProvider">
      </provider>
   </extension>

</plugin>
