<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="net.refractions.udig.socket.StartListening">
      </startup>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.refractions.udig.socket.SocketPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
