<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.refractions.udig.style.sld.StyleEditorPage">
      <StyleEditorPage
            class="eu.udig.style.jgrass.colors.JGrassRasterStyleEditorPage"
            contentType="net.refractions.udig.project.ILayer"
            id="eu.udig.style.jgrass.color"
            label="%jgrassrasterstyle.name"
            requires="eu.udig.catalog.jgrass.core.JGrassMapGeoResource"/>
      <StyleEditorPage
            class="eu.udig.style.jgrass.categories.JGrassRasterCategoryEditorPage"
            contentType="net.refractions.udig.project.ILayer"
            id="eu.udig.style.jgrass.cats"
            label="%jgrassrastercategories.name"
            requires="eu.udig.catalog.jgrass.core.JGrassMapGeoResource"/>
   </extension>
   <extension
         point="net.refractions.udig.style.styleConfigurator">
      <styleConfigurator
            class="eu.udig.style.jgrass.legend.RasterLegendGraphicStyleConfigurator"
            id="jgrassrasterlegend"
            label="%legend.style.conf.label"
            requires="eu.udig.style.jgrass.legend.RasterLegendGraphic"
            styleId="eu.udig.style.jgrass.legend.rasterlegendStyle">
      </styleConfigurator>
      <!--
      <styleConfigurator
            class="eu.udig.style.jgrass.legend.VectorLegendGraphicStyleConfigurator"
            id="jgrassvectorlegend"
            label="JGrass Vector Legend"
            requires="eu.udig.style.jgrass.legend.VectorLegendGraphic"
            styleId="eu.udig.style.jgrass.legend.vectorlegendStyle">
      </styleConfigurator>
      -->
   </extension>
   <extension
         point="net.refractions.udig.project.style">
      <style
            class="eu.udig.style.jgrass.legend.RasterLegendStyleContent"
            id="eu.udig.style.jgrass.legend.rasterlegendStyleeu.hydrologis.jgrass.rasterlegend.rasterlegendStyle"
            name="%legend.style.name">
      </style>
      <style
            class="eu.udig.style.jgrass.legend.VectorLegendStyleContent"
            id="eu.udig.style.jgrass.legend.vectorlegendStyle"
            name="%vectorlegend.style.name">
      </style>
   </extension>
   <extension
         point="net.refractions.udig.mapgraphic.mapgraphic">
      <mapGraphic
            class="eu.udig.style.jgrass.legend.RasterLegendGraphic"
            icon="icons/rasterlegend.gif"
            id="jgrassrasterlegend"
            name="%legend.name">
      </mapGraphic>
      <!--
      <mapGraphic
            class="eu.udig.style.jgrass.legend.VectorLegendGraphic"
            icon="icons/vectorlegend.gif"
            id="jgrassvectorlegend"
            name="JGrass Vector Legend">
      </mapGraphic>
      -->
   </extension>
   <extension
         point="net.refractions.udig.project.ui.tool">
      <modalTool
            categoryId="eu.hydrologis.jgrass.tools.category"
            class="eu.udig.style.jgrass.legend.MapgraphicDragger"
            commandHandler="net.refractions.udig.tools.internal.PanHandler"
            icon="icons/pan_mg.gif"
            id="eu.udig.style.jgrass.legend.dragtool"
            name="Move Mapgraphic"
            onToolbar="true"
            toolCursorId="move"
            tooltip="change the position of the selected mapgraphic by dragging with the mouse">
      </modalTool>
   </extension>

</plugin>
