<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.editors">
      <editor
            name="JConsole Editor"
            icon="icons/obj16/java.gif"
            extensions="groovy"
            contributorClass="org.locationtech.udig.jconsole.JavaActionContributor"
            class="org.locationtech.udig.jconsole.JavaEditor"
            id=" org.locationtech.udig.jconsole.editor">
      </editor>
   </extension>
   
   <extension
         id="ExampleJavaDocumentSetupParticipant"
         name="%documentSetupParticipantName"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            extensions="groovy"
            class="org.locationtech.udig.jconsole.JavaDocumentSetupParticipant">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id=" org.locationtech.udig.jconsole.actionSet1"
            label="JConsole"
            visible="true">
            <menu
                  id="jconsole.menu"
                  label="jconsole"
                  path="jconsolepath">
            </menu>
            <action
                  class="org.locationtech.udig.jconsole.actions.ConsoleEditorActionFromOld"
                  icon="icons/consolefile.gif"
                  id=" org.locationtech.udig.jconsole.jconsoleaction1"
                  label="Open Script"
                  style="push"
                  toolbarPath="jconsolepath"
                  tooltip="Open and existing Script">
            </action>
            <action
                  class="org.locationtech.udig.jconsole.actions.ConsoleEditorActionNew"
                  icon="icons/console.gif"
                  id=" org.locationtech.udig.jconsole.jconsoleaction2"
                  label="New Script"
                  style="push"
                  toolbarPath="jconsolepath"
                  tooltip="Create a new Script">
            </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="Clean up extentions from contributed plugins."
            id="org.locationtech.udig.jconsole.activity"
            name="CleanupActitvity">
      </activity>
      <category
            id="org.locationtech.udig.jconsole.activitycategory"
            name="Console Activity Category">
      </category>
      <categoryActivityBinding
            activityId="org.locationtech.udig.jconsole.activity"
            categoryId="org.locationtech.udig.jconsole.activitycategory">
      </categoryActivityBinding>
      <activityPatternBinding
            activityId="org.locationtech.udig.jconsole.activity"
            pattern="org.eclipse.ui.ide/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.locationtech.udig.jconsole.activity"
            pattern="org.eclipse.ui.editors/.*">
      </activityPatternBinding>
   </extension>
</plugin>
