<cruisecontrol>
<project name="uDig" buildafterfailed="false">
    <listeners>
      <currentbuildstatuslistener file="logs/uDig/buildstatus.txt"/>
    </listeners>

    <!-- Bootstrappers are run every time the build runs, 
        *before* the modification checks -->
    <bootstrappers>
    </bootstrappers>

    <!-- Defines where cruise looks for changes, to decide
         whether to run the build --> 
    <modificationset quietperiod="300"> 
      <svn RepositoryLocation="http://svn.geotools.org/udig/" 
					 LocalWorkingCopy="checkout/trunk"/> 
    </modificationset>

    <!-- Configures the actual build loop, how often and which
         build file/target --> 
    <schedule interval="600">
      <ant antscript="ant"
           buildfile="checkout/scripts/run.xml"
           target="build"
           uselogger="false"
           usedebug="false"/> 
    </schedule>

    <!-- directory to write build logs to --> 
    <log dir="logs/uDig"/>

    <!-- Publishers are run *after* a build completes --> 
    <publishers>
			<antpublisher buildfile="checkout/scripts/publish.xml"
				target="notify" uselogger="false" usedebug="false"/>
    </publishers> 
  </project> 
</cruisecontrol>
