<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="test"
            description="TestActions"
            visible="true"
            id="org.locationtech.udig.project.ui.TestActions">
                  <menu
                        id="test"
                        label="Test"
                        path="additions"/>
                  <action
                        class="org.locationtech.udig.project.tests.ui.TestSelectFirstLayer"
                        id="org.locationtech.udig.project.ui.action1"
                        label="selectFirstLayer"
                        menubarPath="test/additions"
                        style="push"/>
                  <action
                        class="org.locationtech.udig.project.tests.ui.TestGetRenderers"
                        id="org.locationtech.udig.project.tests.ui.test.getrenderers"
                        label="TestGetRenderers"
                        menubarPath="test/additions"
                        style="push"/>
                 
    </actionSet>
    </extension>
      <extension
            point="org.locationtech.udig.ui.operation">
             <operation
               categoryId="org.locationtech.udig.project.ui.informationOperations"
               class="org.locationtech.udig.project.ui.operations.example.FeaturesInView"
               id="org.locationtech.udig.project.ui.featuresInView"
               menuPath="test/additions"
               name="TestOpMenuPath"
               targetClass="org.locationtech.udig.project.IMap"/>
             <operation
                   class="org.locationtech.udig.project.tests.ui.EnablesFor2"
                   enablesFor="2"
                   id="org.locationtech.udig.project.tests.ui.operation1"
                   name="EnablesFor2Layres"
                   targetClass="org.locationtech.udig.project.ILayer"/>
             <operation
                   class="org.locationtech.udig.project.tests.ui.TestSelectProject"
                   enablesFor="1"
                   id="org.locationtech.udig.project.tests.ui.operation1"
                   name="select 2nd project"
                   targetClass="java.lang.Object"/>
             <operation
                   class="org.locationtech.udig.project.tests.ui.select2ndMap"
                   enablesFor="1"
                   id="org.locationtech.udig.project.tests.ui.operation2"
                   name="select 2nd map"
                   targetClass="java.lang.Object"/>
             <operation
                   class="org.locationtech.udig.project.tests.ui.selectLayer"
                   enablesFor="1"
                   id="org.locationtech.udig.project.tests.ui.operation3"
                   name="select layer of 1st map"
                   targetClass="java.lang.Object"/>
      </extension>
      <extension
            point="org.locationtech.udig.project.ui.featureEditor">
	      <editor
             dialogPage="org.locationtech.udig.feature.editor.DialogEditor"
             id="org.locationtech.udig.feature.editor.MatchAnyGeom"
             name="MatchAnyGeom">
          <featureType>
             <attribute
                   type="com.vividsolutions.jts.geom.Geometry"/>
          </featureType>
       </editor>
	      <editor
             dialogPage="org.locationtech.udig.feature.editor.DialogEditor"
             id="org.locationtech.udig.feature.editor.MatchAll"
             name="MatchAll">
       </editor>
	      <editor
             dialogPage="org.locationtech.udig.feature.editor.DialogEditor"
             id="org.locationtech.udig.feature.editor.MatchGeomNamedGeo"
             name="MatchGeomNamedGeo">
          <featureType>
             <attribute
                   name="geo"
                   type="com.vividsolutions.jts.geom.Geometry"/>
          </featureType>
       </editor>
            point="org.locationtech.udig.project.ui.featureEditor">
	      <editor
             dialogPage="org.locationtech.udig.feature.editor.DialogEditor"
             id="org.locationtech.udig.feature.editor.MatchOnTypeName"
             name="MatchOnTypeName">
          <featureType>
             <typeName
                   name="testType"
                   namespace="http://test.uri"/>
          </featureType>
       </editor>
            point="org.locationtech.udig.project.ui.featureEditor">
	      <editor
             dialogPage="org.locationtech.udig.feature.editor.DialogEditor"
             id="org.locationtech.udig.feature.editor.NeverShown"
             name="NeverShown">
          <featureType/>
       </editor>
      </extension>
      <extension
            point="org.eclipse.ui.perspectives">
         <perspective
               class="org.locationtech.udig.project.tests.ui.TestPerspectiveFactory"
               id="org.locationtech.udig.project.tests.ui.perspective.test"
               name="TestPerspective"/>
      </extension>
      <extension
            point="org.eclipse.ui.views">
         <view
               class="org.locationtech.udig.project.tests.ui.ViewPart1"
               id="org.locationtech.udig.project.tests.ui.view1"
               name="org.locationtech.udig.project.tests.ui.view1"/>
      </extension>
      <extension
            point="org.locationtech.udig.project.ui.tool">
         <actionTool
               class="org.locationtech.udig.RunModalTool"
               id="org.locationtech.udig.project.tests.ui.actionTool1"
               name="ActivateToolAction"
               onToolbar="true">
            <enablement>
               <property
                     expectedValue="whatever"
                     name="org.locationtech.udig.project.tests.ui.test.tool.manager"
                     propertyId="org.locationtech.udig.project.tests.ui.test.tool.manager"
                     target="whatever"/>
            </enablement>
         </actionTool>
      </extension>
      <extension
            point="org.locationtech.udig.ui.objectProperty">
         <object
               class="java.lang.Object"
               targetClass="java.lang.Object">
            <property
                  class="org.locationtech.udig.project.ui.internal.tool.display.TestProperty"
                  id="test.tool.manager"
                  value="org.locationtech.udig.project.ui.internal.tool.display.TestProperty"/>
         </object>
      </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="false"
               locationURI="menu:org.eclipse.ui.main.menu?after=window">
            <menu
                  label="Renderer Testing">
               <command
                     commandId="org.locationtech.udig.project.tests.configurerenderers"
                     label="configure renderers"
                     style="push">
               </command>
            </menu>
         </menuContribution>
      </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               defaultHandler="org.locationtech.udig.project.tests.ui.RendererSetterHandler"
               id="org.locationtech.udig.project.tests.configurerenderers"
               name="configure renderers">
         </command>
      </extension>
</plugin>
