<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         id="BasicWMTRenderer"
         name="BasicWMTRenderer"
         point="org.locationtech.udig.project.renderer">
      <renderer
            class="org.locationtech.udig.render.internal.wmt.basic.BasicWMTMetricsFactory"
            id="org.locationtech.udig.render.internal.wmt.basic.basicwmtrenderer"
            name="%renderer.name">        
      </renderer>
   </extension>
</plugin>
