<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.locationtech.udig.style.styleConfigurator">
      <styleConfigurator
            class="org.locationtech.udig.style.sld.raster.SimpleRasterConfigurator"
            id="simple-raster"
            label="%simpleRaster.label"
            requires="org.opengis.coverage.grid.GridCoverage"
            styleId="org.locationtech.udig.style.sld">
      </styleConfigurator>
      <styleConfigurator
            class="org.locationtech.udig.style.sld.raster.SimpleRasterConfigurator"
            id="simple-raster-wms"
            label="%simpleWMS.label"
            requires="org.geotools.data.ows.Layer"
            styleId="org.locationtech.udig.style.sld"/>
      <styleConfigurator
            class="org.locationtech.udig.style.sld.raster.SimpleRasterConfigurator"
            id="simple-raster"
            label="%simpleRaster.label"
            requires="org.geotools.coverage.grid.io.AbstractGridCoverage2DReader"
            styleId="org.locationtech.udig.style.sld">
      </styleConfigurator>
   </extension>
   <extension
         point="org.locationtech.udig.style.sld.sldEditorPart">
      <sldEditorPart
            label="%raster.label"
            class="org.locationtech.udig.style.sld.raster.internal.SLDRasterEditorPart"
            contentType="org.geotools.styling.RasterSymbolizer"/>
   </extension>
   <extension
         point="org.locationtech.udig.style.sld.StyleEditorPage">
      <StyleEditorPage
            class="org.locationtech.udig.style.sld.raster.editor.SingleBandEditorPage"
            contentType="org.locationtech.udig.project.ILayer"
            id="org.locationtech.udig.style.raster.SingleBandRasterPage"
            label="%SingleBandRaster.label"
            requires="org.opengis.coverage.grid.GridCoverage"/>
      <StyleEditorPage
            class="org.locationtech.udig.style.sld.editor.StyleXMLPage"
            contentType="org.locationtech.udig.project.ILayer"
            id="xml"
            label="%xmlPage.label"
            requires="org.opengis.coverage.grid.GridCoverage"/>
   </extension>
</plugin>
