<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>


   <extension-point id="dataWizards" name="%dataWizards.name" schema="schema/dataWizards.exsd"/>
   <extension-point id="operation" name="Operation" schema="schema/operation.exsd"/>
   <extension-point id="newObjectAction" name="newObjectAction" schema="schema/newObjectAction.exsd"/>
   <extension-point id="dropAction" name="Drop Action" schema="schema/dropAction.exsd"/>
   <extension-point id="dropTransfers" name="Drop Transfers" schema="schema/dropTransfer.exsd"/>
   <extension-point id="tip" name="tip" schema="schema/tip.exsd"/>
   <extension-point id="objectProperty" name="%objectProperty.point" schema="schema/objectProperty.exsd"/>
   <extension-point id="workbenchConfigurations" name="%workbenchConfigurations" schema="schema/workbenchConfigurations.exsd"/>
   <extension-point id="menuBuilders" name="%menuBuilders" schema="schema/menuBuilders.exsd"/>
   <extension-point id="aoi" name="Area of Interst" schema="schema/aoi.exsd"/>
   <extension-point id="filterViewer" name="FilterViewer" schema="schema/filterViewer.exsd"/>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.locationtech.udig.ui.preferences.PreferenceInitializer"/>
   </extension>

	<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%mapPerspective"
            icon="icons/obj16/map_obj.gif"
            class="org.locationtech.udig.internal.ui.MapPerspective"
            id="org.locationtech.udig.ui.mapPerspective">
      </perspective>
      <perspective
            class="org.locationtech.udig.internal.ui.StylePerspective"
            fixed="false"
            icon="icons/obj16/map_obj.gif"
            id="org.locationtech.udig.ui.stylePerspective"
            name="%style.perspective.name"/>
   </extension>
   <extension
         id="application"
         name="%application.name"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.locationtech.udig.internal.ui.UDIGApplication">
         </run>
      </application>
   </extension>
   
  
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Progress View"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView">
      </view>
      <view
            category="catalog"
            class="org.locationtech.udig.ui.aoi.AOIView"
            icon="icons/eview16/aoi_view.png"
            id="org.locationtech.udig.ui.aoiView"
            name="%aoi.name"
            restorable="true">
      </view>
   </extension>
	<extension
			point="org.eclipse.ui.actionSets">
		<actionSet
				label="%HelpActionSet.label"
				visible="false"
				id="org.locationtech.udig.helpMenuItems">
				<menu
         id="org.locationtech.udig.updateMenu"
         label="%UpdateActionSet.menu.label"
         path="help/helpEnd">
			</menu>
				<!-- Replaced with p2 default wizards -->
				<!--action
         class="org.locationtech.udig.InstallWizardAction"
         disabledIcon="icons/dtool16/usearch_obj.gif"
         icon="icons/etool16/usearch_obj.gif"
         id="org.locationtech.udig.updateMenu.newUpdates"
         label="%UpdateActionSet.updates.label"
         menubarPath="help/helpEnd">
			</action-->
   <action
         class="org.locationtech.udig.internal.ui.ShowSubmitIssueAction"
         id="org.locationtech.udig.ui.submitIssueAction"
         label="%log.action.name"
         menubarPath="help/helpEnd"
         style="push"
         tooltip="%log.action.tip"/>
   <action
         class="org.locationtech.udig.internal.ui.ShowTipsAction"
         id="org.locationtech.udig.ui.tips.action"
         label="%tips.action.name"
         menubarPath="help/helpEnd"
         style="push"/>
		</actionSet>
  <actionSet
        description="Default Actions"
        id="org.locationtech.udig.ui.default"
        label="%DefaultActionSet.label"
        visible="false">
     <action
           class="org.locationtech.udig.ui.operations.OtherAction"
           id="org.locationtech.udig.ui.otherAction"
           label="%Other.Operations"
           menubarPath="edit/other">
     </action>
  </actionSet>
	</extension>
    <extension
         point="org.locationtech.udig.ui.dropTransfers">
      <dropTransfer class="org.locationtech.udig.internal.ui.UDigTransferFactory"/>
      <!--dropTransfer class="org.locationtech.udig.internal.ui.UDIGFileTransfer"/>
      <dropTransfer class="org.locationtech.udig.internal.ui.UDIGTextTransfer"/>
      <dropTransfer class="org.locationtech.udig.internal.ui.UDIGRTFTransfer"/-->
   </extension>
    <extension
          point="org.eclipse.ui.startup">
       <startup class="org.locationtech.udig.ui.internal.DeveloperStartup"/>
       <startup
             class="org.locationtech.udig.internal.ui.UDIGStartup">
       </startup>
    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             category="org.locationtech.udig.ui.page.general"
             class="org.eclipse.ui.internal.keys.KeysPreferencePage"
             id="org.locationtech.udig.ui.keys"
             name="%key.preferences"/>
       <page
             category="org.locationtech.udig.ui.page.general"
             class="org.locationtech.udig.internal.ui.TransferPreference"
             id="org.locationtech.udig.ui.transfer.preference"
             name="%transfer.preference.name"/>
       <page
             class="org.locationtech.udig.internal.ui.GeneralPreferences"
             id="org.locationtech.udig.ui.page.general"
             name="%general.preference.name"/>
       <page
             category="org.locationtech.udig.ui.page.general"
             class="org.locationtech.udig.ui.preferences.UiPreferences"
             id="org.locationtech.udig.ui.preferences"
             name="%uiPreferences">
          <keywordReference
                id="charset">
          </keywordReference>
       </page>
       <page
             category="org.locationtech.udig.ui.page.general"
             class="org.locationtech.udig.ui.preferences.RuntimePreferences"
             id="org.locationtech.udig.ui.runntimepreferences"
             name="%runntimePreferences">
          <keywordReference
                id="charset">
          </keywordReference>
       </page>
    </extension>
    <extension
          point="org.locationtech.udig.ui.operation">
               <category
           id="org.locationtech.udig.ui.edit"
           name="%EditCategory"/>
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <scheme
             description="%defaultKeyConfiguration.desc"
             id="org.locationtech.udig.defaultUDIGKeyConfiguration"
             name="%defaultKeyConfiguration.name"/>
       <key
             commandId="org.eclipse.ui.file.close"
             contextId="org.eclipse.ui.contexts.dialogAndWindow"
             schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"
             sequence="M1+W"/>
       <key
             commandId="org.eclipse.ui.file.save"
             contextId="org.eclipse.ui.contexts.dialogAndWindow"
             schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"
             sequence="M1+S"/>    
       <key
             commandId="org.eclipse.ui.file.print"
             contextId="org.eclipse.ui.contexts.dialogAndWindow"
             schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"
             sequence="M1+P"/>    
       <key
             commandId="org.eclipse.ui.file.properties"
             contextId="org.eclipse.ui.contexts.dialogAndWindow"
             schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"
             sequence="M1+ENTER"/>    
       <key
             commandId="org.eclipse.ui.edit.undo"
             contextId="org.eclipse.ui.contexts.dialogAndWindow"
             schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"
             sequence="M1+Z"/>    
       <key
             commandId="org.eclipse.ui.edit.redo"
             contextId="org.eclipse.ui.contexts.dialogAndWindow"
             schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"
             sequence="M1+Y"/>    
       <key
             commandId="org.eclipse.ui.edit.cut"
             contextId="org.eclipse.ui.contexts.dialogAndWindow"
             schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"
             sequence="M1+X"/>    
       <key
             commandId="org.eclipse.ui.edit.copy"
             contextId="org.eclipse.ui.contexts.dialogAndWindow"
             schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"
             sequence="M1+C"/>    
       <key
             commandId="org.eclipse.ui.edit.paste"
             contextId="org.eclipse.ui.contexts.dialogAndWindow"
             schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"
             sequence="M1+V"/>    
       <key
             commandId="org.eclipse.ui.edit.delete"
             contextId="org.eclipse.ui.contexts.dialogAndWindow"
             schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"
             sequence="DELETE"/>    

       <key
             commandId="org.eclipse.ui.edit.selectAll"
             contextId="org.eclipse.ui.contexts.dialogAndWindow"
             schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"
             sequence="M1+A"/>    
       <key
             commandId="org.eclipse.ui.edit.addBookmark"
             contextId="org.eclipse.ui.contexts.dialogAndWindow"
             schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"
             sequence="M1+D"/>    
       <key
             commandId="org.eclipse.ui.navigate.back"
             contextId="org.eclipse.ui.contexts.dialogAndWindow"
             schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"
             sequence="ALT+ARROW_LEFT"/>    
       <key
             commandId="org.eclipse.ui.navigate.forward"
             contextId="org.eclipse.ui.contexts.dialogAndWindow"
             schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"
             sequence="ALT+ARROW_RIGHT"/>
       <key
             commandId="org.eclipse.ui.help.dynamicHelp"
             contextId="org.eclipse.ui.contexts.dialogAndWindow"
             schemeId="org.locationtech.udig.defaultUDIGKeyConfiguration"
             sequence="F1">
       </key>    
       </extension>
    <extension
          id="org.locationtech.udig.ui.tip.default"
          point="org.locationtech.udig.ui.tip">
       <tip
             id="org.locationtech.udig.ui.keyZoom"
             name="%zoom.tip.name">
          %zoom.tip.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.keyPan"
             name="%pan.tip.name">
          %pan.tip.tip 
       </tip>
       <tip
             id="org.locationtech.udig.ui.zoomExtent"
             name="%showall.tip.name">
          %showall.tip.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.antiAliasing"
             name="%antialiasing.tip.name">
          %antialiasing.tip.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.background.color"
             name="%background.color.tip.name">
          %background.color.tip.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.tip.transparency"
             name="%transparency.tip.name">
          %transparency.tip.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.tip.projection"
             name="%projection.tip.name">
          %projection.tip.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.DeleteVertex"
             name="%tip.delete.vertex.name">
          %tip.delete.vertex.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.tip.snap.size"
             name="%tip.snap.size.name">
          %tip.snap.size.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.tip.change.location"
             name="%tip.change.location.name">
          %tip.change.location.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.tip.change.location.ll"
             name="%tip.change.location.ll.name">
          %tip.change.location.ll.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.tip.tip.mylar"
             name="%tip.mylar.name">
          %tip.mylar.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.tip.copy.feature"
             name="%tip.copy.feature.name">
          %tip.copy.feature.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.tip.export.feature"
             name="%tip.export.feature.name">
          %tip.export.feature.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.tip.export.filter"
             name="%tip.export.filter.name">
          %tip.export.filter.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.tip.bookmarks"
             name="%tip.bookmarks.name">
          %tip.bookmarks.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.tip.extend.line"
             name="%tip.extend.line.name">
          %tip.extend.line.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.styling.1"
             name="%styling.1.name">
          %styling.1.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.tip.styling.2"
             name="%styling.2.name">
          %styling.2.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.styling.3"
             name="%styling.3.name">
          %styling.3.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.validation.1"
             name="%validation.1.name">
          %validation.1.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.tip.split.line"
             name="%tip.split.line.name">
          %tip.split.line.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.tip.snapping.hotkey"
             name="%tip.snapping.hotkey.name">
          %tip.snapping.hotkey.tip
       </tip>
       <tip
             id="org.locationtech.udig.ui.tip.advanced.editing.hotkey"
             name="%tip.advanced.editing.hotkey.name">
          %tip.advanced.editing.hotkey.tip
       </tip>
    </extension>
    <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension targetID="org.locationtech.udig.ui.mapPerspective">
          <actionSet id="org.locationtech.udig.helpMenuItems"/>
       </perspectiveExtension>
       <perspectiveExtension targetID="org.locationtech.udig.ui.stylePerspective">
          <actionSet id="org.locationtech.udig.helpMenuItems"/>
       </perspectiveExtension>
    </extension>
    <extension
          point="org.eclipse.ui.keywords">
       <keyword
             id="charset"
             label="%charset">
       </keyword>
    </extension>
    <extension
          point="org.eclipse.ui.services">
       <serviceFactory
             factoryClass="org.locationtech.udig.internal.aoi.AOIServiceFactory">
          <service
                serviceClass="org.locationtech.udig.aoi.IAOIService">
          </service>
       </serviceFactory>
    </extension>
    <extension
          id="org.locationtech.udig.ui.aoiProperty"
          point="org.locationtech.udig.ui.objectProperty">
       <object
             targetClass="java.lang.Object">
          <property
                class="org.locationtech.udig.internal.aoi.AOIStrategyPropertyValue"
                id="aoiStrategy">
          </property>
       </object>
    </extension>
    <extension
          point="org.locationtech.udig.ui.aoi">
       <aoi
             class="org.locationtech.udig.internal.aoi.AOIStrategyAll"
             id="org.locationtech.udig.ui.aoiAll"
             name="All">
       </aoi>
    </extension>
    <extension
          id="org.locationtech.udig.ui.filter.filterViewers"
          name="uDig UI Filter Viewers"
          point="org.locationtech.udig.ui.filterViewer">
       <filterViewer
             class="org.locationtech.udig.ui.filter.CQLFilterViewer$Factory"
             description="General purpose Constraint Query Language filter definition"
             id="org.locationtech.udig.ui.filter.cqlFilterViewer"
             name="Constraint Query Language">
       </filterViewer>
       <filterViewer
             class="org.locationtech.udig.ui.filter.DefaultFilterViewer$Factory"
             description="Builder to assist with Filter definition"
             id="org.locationtech.udig.ui.filter.builderFilterViewer"
             name="Builder">
       </filterViewer>
       <filterViewer
             class="org.locationtech.udig.ui.filter.IncludeFilterViewer$Factory"
             description="Choose between Enable and Disable filters"
             id="org.locationtech.udig.ui.filter.includeFilterViewer"
             name="Enable">
       </filterViewer>
    </extension>
    <extension
          id="org.locationtech.udig.ui.filter.expressionViewers"
          name="uDig UI Expression Viewers"
          point="org.locationtech.udig.ui.filterViewer">
       <expressionViewer
             class="org.locationtech.udig.ui.filter.CQLExpressionViewer$Factory"
             description="General purpose Constraint Query Language expression definition"
             id="org.locationtech.udig.ui.filter.cqlExpressionViewer"
             name="Constraint Query Language">
       </expressionViewer>
       <expressionViewer
             class="org.locationtech.udig.ui.filter.DefaultExpressionViewer$Factory"
             description="Builder to assist with expression definition"
             id="org.locationtech.udig.ui.filter.builderExpressionViewer"
             name="Builder">
       </expressionViewer>
       <expressionViewer
             class="org.locationtech.udig.ui.filter.RGBExpressionViewer$Factory"
             description="RGB Color definition"
             id="org.locationtech.udig.ui.filter.rgbExpressionViewer"
             name="RGB Colour">
       </expressionViewer>
       <expressionViewer
             class="org.locationtech.udig.ui.filter.SpinnerExpressionViewer$Factory"
             description="Number definition"
             id="org.locationtech.udig.ui.filter.spinnerExpressionViewer"
             name="Number">
       </expressionViewer>
    </extension>
</plugin>
