<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    	<extension
         point="net.refractions.udig.catalog.ServiceExtension">
      <service
            class="net.refractions.udig.catalog.internal.shp.ShpServiceExtension"
            id="shp"
            name="Shapefile"/>
   	</extension>
    <extension
          point="net.refractions.udig.catalog.ui.fileFormat">
       <fileService
             fileExtension="*.shp"
             name="%fileService.name"/>
    </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             category="net.refractions.udig.catalog.ui.preferences.CatalogPreferencePage"
             class="net.refractions.udig.catalog.shp.preferences.ShpPreferencePage"
             id="net.refractions.udig.catalog.shp.preferences.ShpPreferencePage"
             name="%preferences.shapefile.name"/>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer class="net.refractions.udig.catalog.shp.preferences.PreferenceInitializer"/>
    </extension>
    <extension
          point="net.refractions.udig.catalog.resolvers">
       <factory
             class="net.refractions.udig.catalog.internal.shp.ShapeMover"
             resolveableType="net.refractions.udig.catalog.internal.shp.ShpServiceImpl">
          <resolve
                type="net.refractions.udig.catalog.ServiceMover">
          </resolve>
       </factory>
    </extension>
    <extension
          point="net.refractions.udig.ui.operation">
       <operation
             categoryId="net.refractions.udig.catalog.ui.operation.resourceCategory"
             class="net.refractions.udig.catalog.shp.CharsetChange"
             enablesFor="+"
             id="net.refractions.udig.catalog.shp.charsetChange"
             menuPath="net.refractions.udig.catalog.ui.operation.resourceCategory"
             name="%changeCharset"
             targetClass="net.refractions.udig.catalog.IResolve">
          <enablement>
             <or>
                <adaptsTo
                      target="net.refractions.udig.catalog.internal.shp.ShpGeoResourceImpl">
                </adaptsTo>
                <adaptsTo
                      target="net.refractions.udig.catalog.internal.shp.ShpServiceImpl">
                </adaptsTo>
             </or>
          </enablement>
       </operation>
       <operation
             categoryId="net.refractions.udig.catalog.ui.operation.resourceCategory"
             class="net.refractions.udig.catalog.shp.op.SetProjection"
             enablesFor="+"
             id="net.refractions.udig.catalog.shp.prj.write"
             menuPath="net.refractions.udig.catalog.ui.operation.resourceCategory"
             name="%writePRJ"
             targetClass="java.lang.Object">
          <enablement>
             <and>
                <adaptsTo
                      target="org.geotools.data.shapefile.ShapefileDataStore">
                </adaptsTo>
             </and>
          </enablement>
       </operation>
    </extension>
	<!--<extension
         point="org.eclipse.ui.importWizards">
      <wizard
            name="%wizard.name"
            icon="icons/shp_16.gif"
            class="net.refractions.udig.catalog.internal.shp.ui.ShapefileWizard"
            id="net.refractions.udig.catalog.ui.shapefile">
         <description>
            %wizard.description
         </description>
      </wizard>
   </extension>-->
</plugin>
