<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="net.refractions.udig.catalog.geotools.services"
         name="GeoTools Services"
         point="net.refractions.udig.catalog.ServiceExtension">
      <service
            class="net.refractions.udig.catalog.geotools.data.DataStoreServiceExtension"
            id="net.refractions.udig.catalog.geotools.serviceDataStore"
            name="DataStore">
      </service>
   </extension>
   <extension
         id="net.refractions.udig.catalog.geotools.connection"
         name="GeoTools Connection"
         point="net.refractions.udig.catalog.ui.connectionFactory">
      <factory
            class="net.refractions.udig.catalog.geotools.data.DataStoreConnectionFactory"
            id="net.refractions.udig.catalog.geotools.connection.dataStore">
      </factory>
      <wizardPage
            banner="icons/wizban/datastore_wiz.gif"
            class="net.refractions.udig.catalog.geotools.data.DataStoreConnectionPage"
            description="Direct access to GeoTools data stores"
            icon="icons/obj16/datastore_obj.gif"
            id="net.refractions.udig.catalog.geotools.connection.dataStorePage"
            name="DataStore">
      </wizardPage>
      <wizardPage
            banner="icons/wizban/datastore_wiz.gif"
            class="net.refractions.udig.catalog.geotools.data.DataStoreParameterPage"
            icon="icons/obj16/datastore_obj.gif"
            id="net.refractions.udig.catalog.geotools.connection.dataStoreParametersPage"
            name="DataStore Parameters">
      </wizardPage>
   </extension>
   <extension
         point="net.refractions.udig.catalog.ui.fileFormat">
      <provider
            class="net.refractions.udig.catalog.geotools.data.FileDataStoreFormatProvider">
      </provider>
   </extension>

</plugin>
